<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">
		<h1 id="detail-content-title" 
			th:text="${pageType} == 'admin' ? #{user.adminList.title} : #{user.operatorList.title}">관리자/운영자</h1>
		<form id="userModifyForm">
			<input type="hidden" name="oprtrId" th:value="${webOprtr.oprtrId}">
			<input type="hidden" name="oprtrNm" th:value="${webOprtr.oprtrNm}">
			<input type="hidden" name="oprtrAccountId" th:value="${webOprtr.oprtrAccountId}">
			<table class="detail-table">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<!-- Detail -->
				<tbody id="userInfoTable">
					<tr>
						<th th:text="#{common.user.name}">Name</th>
						<td th:text="${webOprtr.oprtrNm}">oprtrNm</td>
						<th th:text="#{common.user.id}">ID</th>
						<td th:text="${webOprtr.oprtrAccountId}">oprtrAccountId</td>
					</tr>
					<tr>
						<th th:text="#{common.user.contact}">연락처</th>
						<td th:text="${webOprtr.oprtrPno}">oprtrPno</td>
						<th th:text="#{common.user.authority}">권한</th>
						<td th:text="${webOprtr.authNm}"></td>
					</tr>
					<tr>
						<th th:text="#{common.common.status}">상태</th>
						<td th:switch="${webOprtr.oprtrStts}">
							<span th:case="'OSC000'" th:text="#{user.common.statusOk}"></span>
							<span th:case="'OSC001'" th:text="#{user.common.statusStopped}"></span>
							<span th:case="'OSC002'" th:text="#{user.common.statusWaiting}"></span>
							<span th:case="'OSC003'" th:text="#{user.common.statusWithdraw}"></span>
						</td>
						<th th:text="#{common.user.department}">기관</th>
						<td th:text="${webOprtr.oprtrDeptNm}">oprtrDeptNm</td>
					</tr>
					<tr>
						<th th:text="#{common.user.permission}">역할</th>
						<td th:text="${webOprtr.oprtrPermissionName}">oprtrStts</td>

						<th th:text="#{common.common.option}">옵션</th>
						<th:block
							th:if="${webOprtrInfo.oprtrPermission == 'OPC000' && webOprtr.oprtrPermission != 'OPC000'}">
							<td>
								<button type="button" class="delete-btn detail-table-button"
									th:text="#{common.button.delete}"
									th:onclick="deleteUser([[${webOprtr.oprtrId}]])">삭제</button>
								<button type="button" class="main-btn detail-table-button"
									th:text="#{common.button.modify}" onclick="displayTable('modify')">수정</button>
							</td>
						</th:block>
					</tr>
				</tbody>
				
				<!-- Modify -->
				<th:block th:if="${webOprtrInfo.oprtrPermission == 'OPC000' && webOprtr.oprtrPermission != 'OPC000'}">
					<tbody id="userInfoModifyTable" class="d-none">
						<tr>
							<th th:text="#{common.user.name}">Name</th>
							<td th:text="${webOprtr.oprtrNm}"></td>
							<th>ID</th>
							<td th:text="${webOprtr.oprtrAccountId}"></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{common.user.contact}">연락처</span>
							</th>
							<td>
								<input type="text" id="oprtrPno" class="main-input data-validate" name="oprtrPno" placeholder="Please Enter Contact"
									th:value="${webOprtr.oprtrPno}"
									data-valid-required th:data-valid-name="#{common.user.contact}">
							</td>
							<th>
								<span class="requiredMark" th:text="#{common.user.authority}">권한</span>
							</th>
							<td>
								<select id="authSelect" name="authId" class="filter-select data-validate" 
									data-valid-required th:data-valid-name="#{common.user.authority}">
									<option value="" th:text="SELECT"></option>
									<option th:each="item : ${authList}" th:value="${item.authId}" th:data-auth-cd="${item.authCd}"
										th:selected="${webOprtr.authId eq item.authId}" th:text="${item.authNm}">
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{common.common.status}">상태</span>
							</th>
							<td>
								<select name="oprtrStts" class="filter-select">
									<option value="OSC000" th:selected="${webOprtr.oprtrStts eq 'OSC000'}"
										th:text="#{user.common.statusOk}"></option>
									<option value="OSC001" th:selected="${webOprtr.oprtrStts eq 'OSC001'}"
										th:text="#{user.common.statusStopped}"></option>
									<option value="OSC002" th:selected="${webOprtr.oprtrStts eq 'OSC002'}"
										th:text="#{user.common.statusWaiting}"></option>
									<option value="OSC003" th:selected="${webOprtr.oprtrStts eq 'OSC003'}"
										th:text="#{user.common.statusWithdraw}"></option>
								</select>
							</td>
							<th>
								<span class="requiredMark" th:text="#{common.user.department}">기관</span>
							</th>
							<td class="modal-find-line">
								<input type="text" id="oprtrDeptNm" class="main-input data-validate" name="oprtrDeptNm"
									th:placeholder="#{common.user.department}" th:value="${webOprtr.oprtrDeptNm}" readonly
									th:data-valid-name="#{common.user.department}" data-valid-required>
								<input type="hidden" id="oprtrDeptId" name="oprtrDeptId"
									th:value="${webOprtr.oprtrDeptNm}">
								<i class="search-icon" onclick="changeListData(1)"></i>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{common.user.permission}">Rank</span>
							</th>
							<td>
								<select id="permissionSelect" name="oprtrPermission" class="filter-select" onchange="getAuthList(this)">
									<option th:each="item : ${permissionList}" th:value="${item.cdId}"
										th:selected="${webOprtr.oprtrPermission eq item.cdId}" th:text="${item.cdNm}">
									</option>
								</select>
							</td>
							<th th:text="#{common.common.option}">옵션</th>
							<td>
								<button type="button" th:text="#{common.button.cancel}" class="sub-btn"
									onclick="displayTable('cancel')">취소</button>
								<button type="button" th:text="#{common.button.save}" class="main-btn"
									th:onclick="modifyUser([[${webOprtr.oprtrId}]])">저장</button>
							</td>
						</tr>
					</tbody>
				</th:block>
			</table>
		</form>

		<div class="contents-wrap">
			<div id="search-form-result-wrap">
				<div id="table-search-result-text">
					Found <span th:text='|"${pagination.totalListCnt}"|'></span> results
				</div>
				<div id="table-regist-btn">
				</div>
			</div>
			<div class="table-wrap">
				<table class="main-table">
					<colgroup>
						<!--<col width="5%">
						<col width="50%">
						<col width="45%">-->
					</colgroup>

					<thead>
						<tr>
							<th th:text="#{common.table.order}">번호</th>
							<th th:text="#{user.common.usageHistory}">사용이력</th>
							<th th:text="#{user.common.usageTime}">시간</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(oprtrAudLogList) > 0}" th:each="item : ${oprtrAudLogList}">
							<td th:text="${itemStat.index} + 1"></td>
							<td th:text="${item.audNm}"></td>
							<td th:text="${item.crDt}"></td>
						</tr>
						<tr th:if="${#lists.size(oprtrAudLogList) == 0}">
							<td colspan="3" class="noTableList" th:text="#{common.search.notFound}">검색 결과를 찾을 수 없습니다.
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div class="btn-wrap-center">
			<button type="button" id="btnGoList" class="sub-btn" onclick="javascript:window.history.back()"
				th:text="#{common.button.list}">목록</button>
		</div>
		
		<!-- modal wrap -->
		<div class="modal-wrap" id="modal"></div>
	</div>

	<th:block th:if="${webOprtrInfo.oprtrPermission == 'OPC000' && webOprtr.oprtrPermission != 'OPC000'}">
		<script th:inline="javascript">
			document.addEventListener('DOMContentLoaded', function() {
				const permissionSelect = document.getElementById('permissionSelect');
				
				getAuthList(permissionSelect);
				const authOptions = document.getElementById('authSelect').options;
				const authId = /*[[${webOprtr.authId}]]*/;
				for (const idx in authOptions) {
					if (authId == authOptions[idx].value) {
						authOptions.selectedIndex = idx;
					}
				}
				
			});
			
			const authList = /*[[${authList}]]*/;
			function getAuthList(_this) {
				const authSelect = document.getElementById('authSelect');
				
				authSelect.innerHTML = '';
				
				const defaultOption = document.createElement('option');
				defaultOption.value = '';
				defaultOption.textContent = '-';
				
				authSelect.appendChild(defaultOption)
				
				const psermissionCdOnlyNo = number_format(_this.value);
				for (const itm of authList) {
					if (number_format(itm.authCd) == psermissionCdOnlyNo) {
						const authOption = document.createElement('option');
						authOption.textContent = itm.authNm;
						authOption.value = itm.authId;
						authSelect.appendChild(authOption)
					}
				}
			}
			
			const pageType = /*[[${pageType}]]*/;

			const modalContent = document.getElementById("modal");

			function displayTable(type) {
				var infoTable = document.getElementById('userInfoTable');
				var modifyTable = document.getElementById('userInfoModifyTable');
				if (type == 'modify') {
					infoTable.classList.add('d-none');
					modifyTable.classList.remove('d-none');
				} else {
					modifyTable.classList.add('d-none');
					infoTable.classList.remove('d-none');
					new ModalBuilder().init().successBody(/*[[#{common.message.completeCancel}]]*/).footer(4, 'Confirmar', function (button, modal) {
						modal.close();
					}).open();
				}
			}

			function modifyUser(oprtrId) {
				if (!trimValues(['oprtrPno'])) return;
				if (!$("#userModifyForm").soValid()) return;
				new ModalBuilder().init().successBody(/*[[#{common.message.confirmSave}]]*/).footer(2, 'Confirmar', function (button, modal) {
					modal.close();
					setTimeout(() => {
						$.ajax({
							type: "post",
							data: $("#userModifyForm").serialize(),
							url: "/user/admin/update.ajax",
							success: function (data) {
								let permissonModified = document.getElementById('permissionSelect').value;
								let destination = permissonModified === 'OPC001' ? 'admin' : 'operator';
								new ModalBuilder().init().successBody(/*[[#{common.message.completeModify}]]*/).footer(4, 'Confirmar', function (button, modal) {
									window.location.href = "/user/" + destination +"/detail.do?oprtrId=" + oprtrId;
								}).open();
							}
						});
					}, 500);
				}).open();
			}

			function deleteUser(oprtrId) {
				new ModalBuilder().init().successBody(/*[[#{common.message.confirmDelete}]]*/).footer(2, 'Confirmar', function (button, modal) {
					setTimeout(() => {
						$.ajax({
							type: "post",
							data: {oprtrId: oprtrId},
							url: "/user/admin/delete.ajax",
							success: function (data) {
								window.location.href = "/user/"+pageType+"/list.do";
							}
						});
					}, 500);
					modal.close();
				}).open();
			};

			// modal control
			function changeListData(idx) {
				let startInput = document.getElementById('start');
				let searchTxtInput = document.getElementById('searchTxt');

				let page = idx != null ? idx : 1;
				let start = startInput != null ? startInput.value : 0;
				let searchTxt = searchTxtInput != null ? searchTxtInput.value : '';

				$.ajax({
					url: '/modal/dept/list.do',
					type: "get",
					data: {
						"page": page,
						"start": start,
						"searchTxt": searchTxt
					},
					dataType: 'html',
					success: function (data) {
						modalContent.empty();
						modalContent.innerHTML = data;
						modalContent.style.display = 'block';

						document.getElementById('closeBtn').addEventListener('click', function () {
							modalContent.empty();
							modalContent.style.display = 'none';
						});
					}
				});
			}

			function selectDept(oprtrDeptId, oprtrDeptNm) {
				const oprtrDeptNmElement = document.getElementById("oprtrDeptNm");
				const oprtrDeptIdElement = document.getElementById("oprtrDeptId");

				oprtrDeptIdElement.value = oprtrDeptId;
				oprtrDeptNmElement.value = oprtrDeptNm;

				modalContent.empty();
				modalContent.style.display = 'none';
			}

			function fnAjaxPageMove(idx) {
				changeListData(idx);
			}

			function search() {
				changeListData(1);
			}
		</script>
	</th:block>
</th:block>

</html>