<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div class="container-fluid">
		<div class="detail-info">
			<div class="detail-picture">
				<div class="picture">
					<img src="/images/detail-picture.png">
				</div>
				<div class="info-name">
					<p class="driver-title">운전자명</p>
					Sam smith
				</div>
			</div>
			<div class="detail-table-info">
				<table class="detail-table">
					<colgroup>
						<col width="20%">
						<col width="30%">
						<col width="20%">
						<col width="30%">
					</colgroup>
					<tbody>
						<tr>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
						</tr>
						<tr>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
						</tr>
						<tr>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
						</tr>
						<tr>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
							<th>Data de nascimento</th>
							<td>Sam smith</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="contents-wrap">
			<div class="table-title">
				교통 단속
			</div>

			<div class="table-wrap">
				<div class="search-on-text">
					총<span>"300개"</span>의 항목이 조회되었습니다.
				</div>
				<table>
					<colgroup>
						<col width="16.6%">
						<col width="16.6%">
						<col width="16.6%">
						<col width="16.6%">
						<col width="16.6%">
						<col width="16.6%">
					</colgroup>

					<thead>
						<tr>
							<th>번호</th>
							<th>이름</th>
							<th>
								<select>
									<option>면허상태</option>
								</select>
							</th>
							<th>연락처</th>
							<th>
								<select>
									<option>지역</option>
								</select>
							</th>
							<th>
								<select>
									<option>납부상태</option>
								</select>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Sam smith</td>
							<td>정상</td>
							<td>010-1234-5164</td>
							<td>Maputo</td>
							<td>납부</td>
						</tr>

					</tbody>
				</table>

				<div class="page_wrap">
					<ul class="pagination">
						<li><a href="#" class="first">맨앞으로</a></li>
						<li><a href="#" class="left"><i class="page-arrow-left"></i></a></li>
						<li><a href="#" class="active num">1</a></li>
						<li><a href="#" class="num">2</a></li>
						<li><a href="#" class="num">3</a></li>
						<li><a href="#" class="num">4</a></li>
						<li><a href="#" class="num">5</a></li>
						<li><a href="#" class="right"><i class="page-arrow-right"></i></a></li>
						<li><a href="#" class="last">맨뒤로</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>



</th:block>

</html>
<script>



</script>