<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">

		<!-- Page Heading -->
		<h1 id="detail-content-title" th:text="#{portal.inquiryDetail.title.desc}">문의하기 상세</h1>
		
		<div class="">
			<form id="frmSearch">
				<input type="hidden" name="inqryId" th:value="${inqry.inqryId}">
				<table class="sub-table detail-table">
					<colgroup>
						<col width="15%">
						<col width="85%">
					</colgroup>
					<tbody>
						<tr>
							<th th:text="#{portal.inquiryDetail.title}">제목</th>
							<td th:text="${inqry.postTtl}"></td>
						</tr>
						<tr>
							<th th:text="#{portal.inquiryDetail.date}">날짜</th>
							<td th:text="${#dates.format(inqry.crDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
						</tr>
						<tr>
							<th th:text="#{portal.inquiryDetail.category}">카테고리</th>
							<td th:text="${inqry.cmCd.cdNm}"></td>
						</tr>
						<tr>
							<th th:text="#{portal.inquiryDetail.attachment}">첨부파일</th>
							<th:block th:each="fileItem : ${inqry.atchFile}">
								<td th:text="${fileItem != null ? fileItem.fileOrgNm : '-'}"></td>
							</th:block>
						</tr>
						<tr>
							<th th:text="#{portal.inquiryDetail.writer}">게시자</th>
							<td th:text="${inqry.wrtrEmail}"></td>
						</tr>
						<tr>
							<th th:text="#{portal.inquiryDetail.inquriy}">문의내용</th>
							<td><pre th:text="${inqry.postCn}"></pre></td>
						</tr>
					</tbody>
				</table>
	
				<div class="btn-wrap-center">
					<button th:text="#{penalty.common.list}" type="button" id="btnGoList"
						class="sub-btn list-btn form-button" th:onclick="|location.href='@{/portal/inqr/list.do}'|">목록</button>
					<button type="button" class="main-btn find answer-btn form-button" th:text="#{portal.common.registerAnswerBtn}">답변 등록하기</button>
				</div>
				
				<div class="answer-table">
					<h1 id="detail-content-title" th:text="#{portal.inquiryDetail.answer}">답변하기</h1>
					<table class="sub-table detail-table">
						<colgroup>
							<col width="20%">
							<col width="80%">
						</colgroup>
						<tbody>
							<tr>
								<th><span th:text="#{portal.inquiryDetail.attachment}">Attachment</span></th>
								<td colspan="3">
									<input type="file" id="uploadFiles" name="uploadFiles" multiple/>
									<div id="dragArea">
										<div class="drag-area">
											<div class="dragText">
											   	File name cannot be more than 50 characters<br>
												The file size can only be uploaded under 5MB<br>
												Only WORD, XLSX, PDF, and ZIP file can be uploaded
											</div>
											<div>
												<input type="file" id="uploadFiles" onchange="addFiles(this);" multiple style="display: none;">
												<button type="button" onclick="fileDrag()" id="uploadBtn" class="main-btn">File Upload</button>
											</div>
										</div>
									</div>
									<div class="upload_wrap">
										<div id="upload_list_box">
											<th:block th:each="item : ${inqry.ansAtchFileList}">
												<div class="upload_list">
													<div class="list_item input_same group_box flex-center">
							                			<div class="file_list" th:text="${item.fileOrgNm}"></div>
								                		<button type="button" th:data-name="${item.fileOrgNm}" th:data-value="${item.fileIdx}" class="fileDelBtn">
																<img src="/images/upload_close.png" alt="업로드파일 삭제">
								                		</button>
		                							</div>
												</div>
											</th:block>
										</div>	
									</div>
								</td>
							</tr>
							<tr>
								<th><span class="requiredMark"  th:text="#{portal.complaint.answerContent}">답변 내용</span></th>
								<td><textarea class="detail-table-textarea" id="ansCn" name="ansCn" th:placeholder="#{portal.common.search.placeholder}" th:text="${inqry.ansCn}"></textarea><br><br>
									<th:block th:if="${inqry.ansYn == 'N'}">
										<button th:text="#{portal.objection.submit}" type="button" id="btnRegist" class="main-btn form-button">답변 등록</button>
									</th:block>
									<th:block th:if="${inqry.ansYn == 'Y'}">
										<button th:text="#{portal.objection.modify}" type="button" id="btnRegist" class="main-btn form-button">답변 수정</button>									
									</th:block>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="btn-wrap-center">
						<button type="button" th:text="#{penalty.common.list}" onclick="javascript:window.history.back()" id="btnGoList" class="sub-btn">취소</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</th:block>

</html>

<script th:inline="javascript">
	$(document).ready(function(){
		var answer = $("#ansCn").val();
		if(!isNull(answer) && answer != ''){
			$(".answer-table").show();
			$("#answerBtn").hide();
			$(".answer-btn").hide();
			$(".list-btn").hide();
		}
	})
	
	$(".answer-btn").on('click', function(){
		$('.answer-table').show();
		$('.answer-btn').hide();
		$('.list-btn').hide();
	})
	
	$("#btnRegist").click(function () {
		var ansCn = $("#ansCn").val();
		
		if(isNull(ansCn)){
			new ModalBuilder().init().alertBody([[#{portal.infrm.common.message.contents}]]).footer(4,'확인',function(button, modal){
				modal.close();
				$("#ansCn").focus();
			}).open();
			return false;
		}
		
		var form = $("#frmSearch")[0];
		var data = new FormData(form);
		
		deleteFilesArr.forEach((value, index) => {
			data.append("ansAtchFileList[" + index + "].fileIdx", value);
		})
		
		idx = /*[[${inqry.inqryId}]]*/ '';
		$.ajax({
			url: /*[[@{/portal/inqr/answer.ajax}]]*/ "/portal/inqr/answer.ajax",
			type: "post",
			enctype: 'multipart/form-data',
			data: data,
			processData: false,
			contentType: false,
			success: function (result) {
				var resultCode = result.code;
				var resultMessage = result.message;
				if (resultCode == '200') {
					new ModalBuilder().init().successBody(resultMessage).footer(4,'확인',function(button, modal){modal.close();
						var baseUrl = /*[[@{/portal/inqr/detail.do}]]*/ '';
						window.location.href = baseUrl + "?inqryId=" + idx;
					}).open();
				} else {
					new ModalBuilder().init().alertBody(resultMessage).footer(4,'확인',function(button, modal){
						modal.close();
					}).open();
				}
			}
		});
	});
	
	var deleteFilesArr = new Array();
	let $fileInput = $("#uploadFiles");
	$(".fileDelBtn").on('click',function(){
        var $this = $(this);
        var fileNm = $this.data('name');
        var fileId = $this.data('value');
        const dataTransfer = new DataTransfer();
        let trans = $('#uploadFiles')[0].files;
        let fileArray = Array.from(trans);

        $this.closest('.upload_list').remove();
        fileArray.filter(file => file.name != fileNm).forEach(file => {
            dataTransfer.items.add(file);
        });
        $fileInput.prop('files',dataTransfer.files);
        
        let uploadLength = $('#upload_list_box').children('.upload_list').length;
		if(uploadLength <= 0){
			$('.upload_wrap').addClass('none');
		}
		deleteFilesArr.push(fileId);
    });
</script>