<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">

		<!-- Page Heading -->
		<h1 th:text="#{portal.pp.title.regist}" id="detail-content-title">범칙금 납부처 등록</h1>

		<div class="">
			<form id="frmPenaltyPlaceRegist">
				<table class="sub-table detail-table">
					<colgroup>
						<col width="15%">
						<col width="35%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tbody>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{portal.pp.name}">납부처 이름</span>
							</th>
							<td>
								<input type="text" class="main-input data-validate" name="placePymntNm" maxlength="50"
									id="placePymntNm" th:data-valid-name="#{portal.pp.name}"
									th:placeholder="#{portal.pp.placeholder.name}" data-valid-maximum="50" data-valid-required>
							</td>
							<th>
								<span class="requiredMark" th:text="#{portal.pp.dw}">주소</span>
							</th>
							<td>
								<input type="text" class="main-input data-validate" name="placePymntAddr" maxlength="100"
									id="placePymntAddr" th:placeholder="#{portal.pp.placeholder.address}"
									th:data-valid-name="#{portal.pp.dw}" data-valid-maximum="100" data-valid-required>
							</td>
						</tr>

						<tr>
							<th>
								<span class="requiredMark" th:text="#{portal.pp.contact}">연락처</span>
							</th>
							<td><input type="text" class="main-input data-validate" name="placePymntCntc" maxlength="50"
									id="placePymntCntc" th:data-valid-name="#{portal.pp.contact}"
									th:placeholder="#{portal.pp.placeholder.contact}" data-valid-maximum="50" data-valid-required></td>
							<th>
								<span class="requiredMark" th:text="#{portal.pp.operatingTime}">운영시간</span>
							</th>
							<td>
								<input type="time" class="input-time data-validate" name="operStrTm" id="operStrTm"
									th:data-valid-name="#{portal.pp.operatingTime}" data-valid-required> ~
								<input type="time" class="input-time data-validate" name="operEndTm" id="operEndTm"
									th:data-valid-name="#{portal.pp.operatingTime}" data-valid-required>
							</td>
						</tr>

						<tr>
							<th>
								<span class="requiredMark" th:text="#{portal.pp.closedDays}">휴무일</span>
							</th>
							<td>
								<input type="hidden" name="clsdDt" id="clsdDt">
								<input type="checkbox" class="data-validate" id="Mon" name="clsdChkBox" value="Mon"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Mon">Mon</label>

								<input type="checkbox" class="data-validate" name="clsdChkBox" value="Tue"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Tue">Tue</label>

								<input type="checkbox" class="data-validate" name="clsdChkBox" value="Wed"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Wed">Wed</label>

								<input type="checkbox" class="data-validate" name="clsdChkBox" value="Thu"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Thu">Thu</label>

								<input type="checkbox" class="data-validate" name="clsdChkBox" value="Fri"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Fri">Fri</label>

								<input type="checkbox" class="data-validate" name="clsdChkBox" value="Sat"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Sat">Sat</label>

								<input type="checkbox" class="data-validate" name="clsdChkBox" value="Sun"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Sun">Sun</label>

								<input type="checkbox" class="data-validate" name="clsdChkBox" value="Hol"
									th:data-valid-name="#{portal.pp.closedDays}" data-valid-required>
								<label for="Hol">Hol</label>
							</td>
							<th>
								<span class="requiredMark" th:text="#{portal.pp.preName}">담당자</span>
							</th>
							<td><input type="text" class="main-input data-validate" name="placePymntRprsvNm" maxlength="50"
								id="placePymntRprsvNm" th:data-valid-name="#{portal.pp.preName}"
								th:placeholder="#{portal.pp.placeholder.preName}" data-valid-maximum="50" data-valid-required>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="btn-wrap-center">
			<button th:text="#{penalty.common.list}" type="button" id="btnGoList" class="sub-btn"
				onclick="javascript:window.history.back()">목록</button>
			<button th:text="#{portal.pp.btnRegist}" type="button" id="btnRegist" class="main-btn">등록</button>
		</div>
	</div>
</th:block>

</html>
<script th:inline="javascript">
	$("#btnRegist").click(function () {
		trimValues(['placePymntNm', 'placePymntAddr', 'placePymntCntc', 'placePymntRprsvNm']);
		if (!$("#frmPenaltyPlaceRegist").soValid()) return false;

		let operStrTm = document.getElementById('operStrTm').value;
		let operEndTm = document.getElementById('operEndTm').value;
		if (operStrTm >= operEndTm) {
			new ModalBuilder().init().successBody(/*[[#{portal.pp.alert.opertaing.hours}]]*/).footer(4, 'Confirmar', function (button, modal) {
				modal.close();
			}).open();
			return false;
		}

		var clsdDt = '';
		$("input[name='clsdChkBox']:checked").each(function (index, item) {
			if (index == 0) {
				clsdDt += $(item).val();
			} else {
				clsdDt += ',' + $(item).val();
			}
		})
		$("#clsdDt").val(clsdDt);

		$.ajax({
			url: /*[[@{/portal/penaltyplace/save.ajax}]]*/ "/portal/penaltyplace/save.ajax",
			type: "post",
			data: $("#frmPenaltyPlaceRegist").serialize(),
			success: function (data) {
				var resultCode = data.code;
				var resultMessage = data.message;
				if (resultCode == '200') {
					new ModalBuilder().init().successBody(resultMessage).footer(4, 'Confirmar', function (button, modal) {
						modal.close();
						location.href =/*[[@{/portal/penaltyplace/list.do}]]*/ "";
					}).open();
				} else {
					new ModalBuilder().init().alertBody(resultMessage).footer(4, 'Confirmar', function (button, modal) {
						modal.close();
					}).open();
				}
			}
		})
	})

</script>