<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="pagingFragment" th:if="${pagination.totalListCnt > 0}">
			<ul class="pagination">
				<li><a class="firstEnd" th:onclick="fnPageMove(1)">First</a></li>	
				
				<li class="page-item">
					<a class="" th:onclick="fnPageMove([[${pagination.page} == 1 ? 1 : ${pagination.page} - 1]])" aria-label="Previous"> 
						<i class="page-arrow-left"></i>
					</a>
				</li>
				
				<th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
					<li class="page-item" th:with="start = ${pagination.startPage}, end = ${pagination.endPage}" th:each="pageButton : ${#numbers.sequence(start, end)}">
						
						<div th:if="${pageButton == pagination.page}">
							<a class="num active" th:onclick="fnPageMove([[${pageButton}]])" th:text=${pageButton}></a>
						</div>
						
						<div th:unless="${pageButton == pagination.page}">
							<a class="num" th:onclick="fnPageMove([[${pageButton}]])" th:text=${pageButton}></a>
						</div>
						
					</li>
				</th:block>
				
				<li class="page-item">
					<a class="" th:onclick="fnPageMove([[${pagination.page} == ${pagination.totalPageCnt} ? ${pagination.page} : ${pagination.page} + 1]])" aria-label="Next">
						<i class="page-arrow-right"></i>
					</a>
				</li>
				
				<li><a class="firstEnd" th:onclick="fnPageMove([[${pagination.totalPageCnt}]])">Last</a></li>
		</ul>
</th:block>
