<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
<div id="container-fluid">
		<!-- Page Heading -->
        <h1 id="content-title" th:text="#{administ.mngList.title}">법원 이송 대상자</h1>
		<div id="content-sub-title" th:text="#{administ.mngList.descr}">법원 이송 대상자를 관리할 수 있습니다</div>
		
		<form id="frmSearch">
			<div id="filter-table">
				 <table class="">
		            <colgroup>
		               <col width="15%">
	                   <col width="85%">
		            </colgroup>
		           <tbody>
						<tr>
							<th th:text="#{administ.common.searchCon}">유형 선택</th>
							<td>
								<select name="searchType" id="searchType" class="filter-select" th:field="${administDip.searchType}">
									<option value="all" th:text="#{administ.common.searchOp}">전체</option>
									<option value="vioNm" th:text="#{administ.mngList.driverName}">이름</option>
									<option value="tfcEnfId" th:text="#{administ.common.enforcementNumber}">사고번호</option>
								</select>
							</td>
						</tr>
						<tr>
							<th th:text="#{administ.common.dateOp}">날짜 선택</th>
							<td>
								<input class="input-date" id="sDate" name="sDate" type="date" th:value="${administDip.sDate}"> ~
								<input class="input-date" id="eDate" name="eDate" type="date" th:value="${administDip.eDate}">
							</td>
						</tr>
						<tr>
							<th th:text="#{administ.common.serchTerm}">내용 검색</th>
							<td><input class="search-box main-input" id="searchTxt" name="searchTxt" type="text" 
							     th:placeholder="#{administ.common.placeholder}" th:value="${administDip.searchTxt}">
							     <input type="hidden" name="processYn" th:value="${administDip.processYn}"/></td>
						</tr>
					</tbody>
		        </table>
			</div>
		</form>
		  <div class="btn-wrap-center">
			 <button type="button" id="btnSearch" class="main-btn form-button" th:text="#{administ.mngList.check}">조회</button>
			 <button type="button" id="resetSearch" class="sub-btn form-button" onclick="resetForm('frmSearch')" th:text="#{administ.common.search.reset}">검색 초기화</button>
		  </div>

		  <div id="search-form-result-wrap">
			<div id="table-search-result-text">
				Found <span th:text='|"${pagination.totalListCnt}"|'>"10"</span> results.
			</div>
			<div id="table-regist-btn">
				<a href="/administCourt/mng/download.do" class="main-btn">Excel Down</a>
			</div>
		</div>
		
		<div class="">
			<table class="main-table" id="tblList">
				<colgroup>
				
				</colgroup>
				<thead>
					<tr>
						<th th:text="#{administ.mngList.tableNumber}">No.</th>
						<th th:text="#{administ.common.driverName}">이름</th>
						<th th:text="#{administ.common.enforcementNumber}">사건번호</th>
						<th th:text="#{administ.common.caseType}"></th>
						<th th:text="#{administ.common.administrativeDate}">행정처리일시</th>
						<th th:text="#{administ.common.retentionSttts}"></th>
						<th th:text="#{administ.common.handlingStts}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="administInfo : ${administList}"
						th:onclick="|location.href='@{/administCourt/mng/detail.do(administDipId=${administInfo.administDipId})}'|">
						<td th:text="${administInfo.rnum}"></td>
						<td th:text="${administInfo.vioInfo != null ? administInfo.vioInfo.vioNm : '-'}"></td>
						<td th:text="${administInfo.tfcEnfId}">23-01242</td>
						<td th:text="${administInfo.cmCd.cdNm}"></td>
						<td th:text="${#dates.format(administInfo.crDt, 'yyyy-MM-dd')}"></td>
						<td>
							<span class="tableStausOff" th:text="${administInfo.proHoldYn}"></span>
						</td>
						<td class="flex justify-center" th:switch="${administInfo.processYn}">
							<span th:case="N" class="tableStausProg">In Process</span>
							<span th:case="Y" class="tableStausOn">Completed</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="page_wrap">
			<div th:insert="tags/paging :: pagingFragment"></div>
		</div>
	</div>


</th:block>

</html>
<script th:inline="javascript">
	function fnPageMove(page) {
		$("#page").val(page);
		$("#frmSearch").submit();
	}
	
	$("#btnSearch").on('click', function(){
		$("#frmSearch").submit();		
	});
	
	$("#processYn").on('change', function(){
		let processYn = $(this).val();
		$("input[name='processYn']").val(processYn);
		console.log(processYn);
	});
</script>