<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">

		<!-- Page Heading -->
		<h1 id="content-title" th:text="#{administ.lawList.title}">전체 법령 수</h1>
		<div id="content-sub-title" th:text="#{administ.lawList.descr}">교통 단속 상세 정보를 확인할 수 있습니다.</div>
		
		<form id="frmSearch">
			<input type="hidden" id="page" name="page" th:value="${pagination.page}">
			<input type="hidden" id="hdnStart" name="start" th:value="${tfcLwInfo.start}">
			<table id="filter-table">
				<colgroup>
					<col width="15%">
					<col width="85%">
				</colgroup>
				<tbody>
					<tr>
						<th th:text="#{administ.common.searchCon}">유형 선택</th>
						<td>
							<select name="searchType" id="searchType" class="filter-select" th:field="${tfcLwInfo.searchType}">
								<option value="all" th:text="#{administ.common.search.selectAll}">전체</option>
								<option value="lawArticleNo" th:text="#{administ.lawList.articleId}">article no</option>
								<option value="crtr" th:text="#{administ.lawList.constructer}">작성자</option>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="#{administ.common.search.dateOp}">날짜 선택</th>
						<td>
							<input class="input-date" id="sDate" name="sDate" type="date" th:value="${tfcLwInfo.sDate}"> ~
							<input class="input-date" id="eDate" name="eDate" type="date" th:value="${tfcLwInfo.eDate}">
						</td>
					</tr>
					<tr>
						<th>Search</th>
						<td><input class="search-box main-input" id="searchTxt" name="searchTxt" type="text"
								th:placeholder="#{administ.common.search.placeholder}" th:value="${tfcLwInfo.searchTxt}"></td>
					</tr>
				</tbody>
			</table>

			<div class="btn-wrap-center">
				<button type="button" id="resetSearch" class="sub-btn form-button" onclick="resetForm('frmSearch')" th:text="#{administ.common.search.reset}">검색 초기화</button>
				<button type="button" id="btnSearch" class="main-btn form-button" th:text="#{administ.lawList.check}">조회</button>
			</div>
		</form>
		
		<div id="search-form-result-wrap">
			<div id="table-search-result-text">
				Found <span th:text='|"${pagination.totalListCnt}"|'></span> results
			</div>
			<div id="table-regist-btn">
				<button type="button" class="main-btn form-button" th:onclick="|location.href='/administCourt/law/save.do'|" th:text="#{administ.lawList.lawRegistration}">법률 등록하기</button>
			</div>
		</div>

		<div class="">
			<table class="main-table" id="tblList" aria-describedby="dataTable_info">
				<colgroup>

				</colgroup>
				<thead>
					<tr>
						<th th:text="#{administ.lawList.tableNumber}">No.</th>
						<th th:text="#{administ.lawList.articleId}">법률번호</th>
						<th th:text="#{administ.lawRegist.lawType}">법률 타입</th>
						<th th:text="#{administ.lawList.dateOfRevision}">개정일자</th>
						<th th:text="#{administ.lawList.repealStatus}">폐지여부</th>
						<th th:text="#{administ.lawList.constructer}">생성자</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="lawList, varstaus : ${lawLists}" th:onclick="|location.href='@{/administCourt/law/detail.do(lawId=${lawList.tfcLawId})}'|">
						<td th:text="${lawList.rnum}">1</td>
						<td th:text="${lawList.lawArticleNo}">11</td>
						<td th:text="${lawList.cdNm}">Other</td>
						<td th:text="${lawList.rvsnDe != null ? #dates.format(lawList.rvsnDe, 'yyyy-MM-dd') : '-'}">2024-06-06</td>
						<td th:text="${lawList.repealYn} == 'N' ?
						 	#{administ.lawList.repealStatus.n} :  #{administ.lawList.repealStatus.y}">Not repealed</td>
						<td th:text="${lawList.crtr}">bluedus</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="page_wrap">
			<div th:insert="tags/paging :: pagingFragment"></div>
		</div>
	</div>
</th:block>

</html>
<script th:inline="javascript">
	
	
	/*<![CDATA[*/
	function goDetail(idx) {
		var baseUrl = /*[[@{/administCourt/law/datail.do}]]*/ '';
		window.location.href = baseUrl + "?lawId=" + idx;
	}
	/*]]>*/
	
	function fnPageMove(page) {
		$("#page").val(page);
		$("#frmSearch").submit();
	}
	
	$("#btnSearch").on('click', function(){
		$("#frmSearch").submit();
	})
</script>