<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">
		<!-- Page Heading -->
		<h1 id="detail-content-title" th:text="#{administ.lawModify.title}">법률 수정</h1>

		<form id="trLawModify">
			<div class="detail-table">
				<input type="hidden" id="tfcLawId" th:value="${tfcLwInfo.tfcLawId}">
				<table>
					<colgroup>
						<col width="15%">
						<col width="35%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tbody>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{administ.lawModify.articleId}">법률 번호</span>
							</th>
							<td>
								<input type="text" class="main-input data-validate" id="lawArticleNo"
									th:placeholder="#{administ.lawRegist.placeholder.legalNumber}" name="lawArticleNo"
									th:value="${tfcLwInfo.lawArticleNo}" th:data-valid-name="#{administ.lawModify.legalNumber}"
									data-valid-required>
							</td>
							<th>
								<span class="requiredMark" th:text="#{administ.lawModify.lawType}">법률타입</span>
							</th>
							<td>
								<select class="filter-select filter95" id="lawType" name="lawType">
									<option th:each="item : ${lawTypeCd}" th:value="${item.cdId}" th:text="${item.cdNm}"
										th:selected="${item.cdNm == tfcLwInfo.lawType}"></option>
								</select>
							</td>
						</tr>
						<tr>
							<th th:text="#{administ.lawModify.legalExplanation}">법률 설명</th>
							<td colspan="3">
								<textarea class="detail-table-textarea" id="lawDesc" name="lawDesc" placeholder="Please Enter Details"
									th:text="${tfcLwInfo.lawDesc}"></textarea>
							</td>
						</tr>
						<tr>
							<th th:text="#{administ.lawModify.constructer}">작성자</th>
							<td colspan="3" th:text="${tfcLwInfo.crtr}"></td>
						</tr>
						<tr th:if="${#lists.size(tfcLwAdtnRvsnList) > 0}">
							<th th:text="#{administ.lawModify.adtnRvsnDt}">추가 개정일</th>
							<th colspan="3" th:text="#{administ.lawModify.adtnRvsnDetail}">추가 개정 내용</th>
						</tr>
						<tr th:if="${#lists.size(tfcLwAdtnRvsnList) > 0}" th:each="item : ${tfcLwAdtnRvsnList}">
							<th th:text="${#dates.format(item.adtnRvsnDt, 'yyyy-MM-dd')}"></th>
							<td colspan="3">
								<input type="text" class="main-input adtnRvsnDesc"
									placeholder="Please Enter Additional Revision Details" th:value="${item.adtnRvsnDesc}">
								<input type="hidden" class="main-input tfcLawAdtnRvsnId" th:value="${item.tfcLawAdtnRvsnId}">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>

		<div class="btn-wrap-center">
			<button type="button" class="sub-btn form-button"
				th:onclick="|location.href='@{/administCourt/law/detail.do(lawId=${tfcLwInfo.tfcLawId})}'|"
				th:text="#{administ.lawModify.cancelButton}">취소</button>
			<button type="button" class="main-btn form-button" th:text="#{administ.lawModify.modifyFinish}"
				onclick="modifyLaw()">수정</button>
		</div>

		<!-- Fine Info -->
		<div id="search-form-result-wrap">
			<div id="table-search-result-text">
				<h1 id="content-title" th:text="#{administ.lawModify.fineList}">범칙금 목록</h1>
			</div>
		</div>

		<form class="sub-table detail-table" th:if="${#lists.size(tfcLwFineInfoList) > 0}"
			th:each="item : ${tfcLwFineInfoList}" th:id="${item.tfcLawFineId}">
			<table class="table-col2">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<th>
							<span class="requiredMark">ID</span>
						</th>
						<td>
							<input class="main-input tfcLawFineId data-validate is_disabled" type="text"
								th:value="${item.tfcLawFineId}" name="tfcLawFineId" data-valid-name="ID" data-valid-required>
							<input type="hidden" class="oldTfcLawFineId" name="oldTfcLawFineId" th:value="${item.tfcLawFineId}">
							<input type="hidden" name="tfcLawId" th:value="${tfcLwInfo.tfcLawId}">
						</td>
					</tr>
					<tr>
						<th th:text="#{administ.lawModify.articelNo}">문서 번호</th>
						<td>
							<input class="main-input artclNo is_disabled" type="text" name="artclNo" th:value="${item.artclNo}">
						</td>
						<th th:text="#{administ.lawModify.paragraph}">절</th>
						<td>
							<input class="main-input par is_disabled" type="text" name="par" th:value="${item.par}">
						</td>
					</tr>
					<tr>
						<th>
							<span class="requiredMark" th:text="#{administ.lawModify.finePrice}">범칙금 금액</span>
						</th>
						<td>
							<input class="main-input data-validate finePrice is_disabled" type="text" name="finePrice" th:value="${item.finePrice}"
								onkeyup="keyupNumberEvent(this)" th:data-valid-name="#{administ.lawModify.finePrice}"
								data-valid-required>
						</td>
						<th th:text="#{administ.lawModify.contraventionType}">경범죄 유형</th>
						<td>
							<select class="filter-select cntrvTy is_disabled" id="cntrvTy" name="cntrvTy">
								<option value=""></option>
								<option th:each="cdItem : ${cntrvTyCd}" th:selected="${cdItem.cdId == item.cntrvTy}"
									th:value="${cdItem.cdId}" th:text="${cdItem.cdNm}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="#{administ.lawModify.additionalPenalty}">추가 패널티</th>
						<td>
							<select class="filter-select addlPn is_disabled" id="addlPn" name="addlPn">
								<option value=""></option>
								<option th:each="cdItem : ${addlPnCd}" th:selected="${cdItem.cdId == item.addlPn}"
									th:value="${cdItem.cdId}" th:text="${cdItem.cdNm}">
								</option>
							</select>
						</td>
						<th th:text="#{administ.lawModify.transgressionType}">위반 유형</th>
						<td>
							<select class="filter-select trnTy is_disabled" id="trnTy" name="trnTy">
								<option value=""></option>
								<option th:each="cdItem : ${trnTyCd}" th:selected="${cdItem.cdId == item.trnTy}"
									th:value="${cdItem.cdId}" th:text="${cdItem.cdNm}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<span class="requiredMark" th:text="#{administ.lawModify.fineDescription}">범칙금 설명</span>
						</th>
						<td colspan="3">
							<textarea class="detail-table-textarea data-validate fineDesc is_disabled" name="fineDesc" th:text="${item.fineDesc}"
								th:data-valid-name="#{administ.lawModify.fineDescription}" data-valid-required></textarea>
						</td>
					</tr>

					<tr>
						<th th:text="#{administ.lawModify.lastUpdDt}">최신 수정일</th>
						<td th:text="${item.lastUpdDt != null ? #dates.format(item.lastUpdDt, 'yyyy-MM-dd') : '-'}">
							2024-06-06</td>
						<th th:text="#{administ.lawModify.modifyFinish}">범칙금 수정</th>
						<td class="textCenter">
							<div th:id="|fineModifyBtnWrap${item.tfcLawFineId}|">
								<button type="button" class="sub-btn form-button" th:text="#{administ.lawModify.modifyFinish}"
									th:onclick="toggleFineWrap([[${item.tfcLawFineId}]])">수정</button>
							</div>
							<div th:id="|fineSaveBtnWrap${item.tfcLawFineId}|" class="d-none">
								<button type="button" class="sub-btn form-button"
									th:onclick="toggleFineWrap([[${item.tfcLawFineId}]])"
									th:text="#{administ.lawModify.cancelButton}">취소</button>
								<button type="button" class="main-btn form-button" th:text="#{administ.lawModify.saveButton}"
									th:onclick="modifyFine([[${item.tfcLawFineId}]])">저장</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		
		<div class="sub-table detail-table" th:unless="${#lists.size(tfcLwFineInfoList) > 0}">
			<table class="table-col2">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="4" class="noTableList" th:text="#{common.search.notFound}">검색 결과를 찾을 수 없습니다.
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</th:block>

</html>
<script th:inline="javascript">

	function modifyLaw() {
		trimValues(['lawArticleNo', 'lawDesc']);
		
		const adtnRvsnDescList = document.querySelectorAll(".adtnRvsnDesc");
		adtnRvsnDescList.forEach((input) => {;
		    input.value = input.value.trim();
		});
		
		if (!$("#trLawModify").soValid()) return false;

		const loading = new AdminLoading().start();
		var mozTfcLwInfo = new Object();

		const tfcLawId = document.getElementById("tfcLawId").value;
		const lawArticleNo = document.getElementById("lawArticleNo").value;
		const lawType = document.getElementById("lawType").value;
		const lawDesc = document.getElementById("lawDesc").value;

		var mozTfcLwAdtnRvsnArr = new Array();

		//추가개정	
		const tfcLawAdtnRvsnIdList = document.querySelectorAll(".tfcLawAdtnRvsnId");

		if (adtnRvsnDescList != null) {
			for (var i = 0; i < adtnRvsnDescList.length; i++) {
				const mozTfcLwAdtnRvsn = new Object();

				const tfcLawAdtnRvsnId = tfcLawAdtnRvsnIdList[i].value;
				const adtnRvsnDesc = adtnRvsnDescList[i].value;

				mozTfcLwAdtnRvsn.tfcLawAdtnRvsnId = tfcLawAdtnRvsnId;
				mozTfcLwAdtnRvsn.adtnRvsnDesc = adtnRvsnDesc;
				mozTfcLwAdtnRvsn.tfcLawId = tfcLawId;
				mozTfcLwAdtnRvsnArr.push(mozTfcLwAdtnRvsn);
			}
			mozTfcLwInfo.mozTfcLwAdtnRvsnArr = mozTfcLwAdtnRvsnArr;
		}

		mozTfcLwInfo.tfcLawId = tfcLawId;
		mozTfcLwInfo.lawArticleNo = lawArticleNo;
		mozTfcLwInfo.lawNm = lawArticleNo;
		mozTfcLwInfo.lawType = lawType;
		mozTfcLwInfo.lawDesc = lawDesc;

		$.ajax({
			url: /*[[@{/administCourt/law/update.ajax}]]*/ "/administCourt/law/update.ajax",
			type: "post",
			contentType: "application/json; charset=UTF-8",
			dataType: "json",
			data: JSON.stringify(mozTfcLwInfo),
			success: function (data) {
				if (data.code == '200') {
					new ModalBuilder().init().successBody(data.message).footer(4, 'Confirmar', function (button, modal) {
						modal.close();
						let url = /*[[@{/administCourt/law/detail.do?lawId=}]]*/;
						location.href = url + tfcLawId;
					}).open();
				} else {
					new ModalBuilder().init().successBody(data.message).footer(4, "Confirmar", function (button, modal) {
						modal.close();
					}).open();
				}
			},
			complete: function () {
				loading.end();
			}
		});

	}


	/*
	 * Modify Fine
	**/
	function toggleFineWrap(fineId) {
		const fineWrap = document.getElementById(fineId);
		
		const tfcLawFineIdElem = fineWrap.querySelector(".tfcLawFineId");
		const artclNoElem = fineWrap.querySelector(".artclNo");
		const parElem = fineWrap.querySelector(".par");
		const finePriceElem = fineWrap.querySelector(".finePrice");
		const cntrvTyElem = fineWrap.querySelector(".cntrvTy");
		const addlPnElem = fineWrap.querySelector(".addlPn");
		const trnTyElem = fineWrap.querySelector(".trnTy");
		const fineDescElem = fineWrap.querySelector(".fineDesc");
		
		if (tfcLawFineIdElem.classList.contains("is_disabled")) {
			tfcLawFineIdElem.classList.remove("is_disabled");
			artclNoElem.classList.remove("is_disabled");
			parElem.classList.remove("is_disabled");
			finePriceElem.classList.remove("is_disabled");
			cntrvTyElem.classList.remove("is_disabled");
			addlPnElem.classList.remove("is_disabled");
			trnTyElem.classList.remove("is_disabled");
			fineDescElem.classList.remove("is_disabled");
		} else {
			tfcLawFineIdElem.classList.add("is_disabled");
			artclNoElem.classList.add("is_disabled");
			parElem.classList.add("is_disabled");
			finePriceElem.classList.add("is_disabled");
			cntrvTyElem.classList.add("is_disabled");
			addlPnElem.classList.add("is_disabled");
			trnTyElem.classList.add("is_disabled");
			fineDescElem.classList.add("is_disabled");
		}
		toggleBtnWrap(fineId)
	}
	
	function toggleBtnWrap(fineId) {
		const fineModifyBtnWrap = document.getElementById('fineModifyBtnWrap'+fineId);
		const fineSaveBtnWrap = document.getElementById('fineSaveBtnWrap'+fineId);
		
		if (fineModifyBtnWrap.classList.contains('d-none')) {
			fineModifyBtnWrap.classList.remove('d-none');
			fineSaveBtnWrap.classList.add('d-none');
		} else {
			fineModifyBtnWrap.classList.add('d-none');
			fineSaveBtnWrap.classList.remove('d-none');
		}
	}

	function modifyFine(fineId) {
		const fineWrap = document.getElementById(fineId);
		
		const trimInputValue = (selector) => {
		    const input = fineWrap.querySelector(selector);
		    input.value = input.value.trim();
		};
		
		['.tfcLawFineId', '.artclNo', '.par', '.fineDesc'].forEach(trimInputValue);
		
		if (!$("#" + fineId).soValid()) return false;
		const loading = new AdminLoading().start();
		const tfcLawId = document.getElementById("tfcLawId").value;
		const formData = new FormData(document.getElementById(fineId));

		fetch(/*[[@{/administCourt/law/fineUpdate.ajax}]]*/, {
			method: 'POST',
			body: formData
		})
			.then(response => response.json())
			.then(data => {
				if (data.code == '200') {
					new ModalBuilder().init().successBody(data.message).footer(4, 'Confirmar', function (button, modal) {
						modal.close();
						let url = /*[[@{/administCourt/law/detail.do?lawId=}]]*/;
						location.href = url + tfcLawId;
					}).open();
				} else {
					new ModalBuilder().init().successBody(data.message).footer(4, 'Confirmar', function (button, modal) {
						modal.close();
					}).open();
				}
			})
			.catch(error => {
				new ModalBuilder().init().successBody("Não foi registrado com sucesso.").footer(4, 'Confirmar', function (button, modal) {
					modal.close();
				}).open();
	
			})
			.finally(() => {
				loading.end();
			});
	
	}

</script>