<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <div id="container-fluid">
        <!-- Page Heading -->
        <h1 id="detail-content-title" th:text="#{administ.lawRegist.title}">법률 등록</h1>

            <div class="">
                <form id="frmLawRegist">
                <table class="detail-table">
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="35%">
                    </colgroup>
                    <tbody>
						<tr>
	                        <th>
								<span class="requiredMark" th:text="#{administ.lawRegist.legalNumber}">법률번호</span>
							</th>
	                        <td><input type="text" class="main-input data-validate" id="lawArticleNo" name="lawArticleNo" placeholder="Please Enter Law No." th:data-valid-name="#{administ.lawRegist.legalNumber}" data-valid-required></td>
	                        <th>
								<span class="requiredMark" th:text="#{administ.lawRegist.lawChapter}">법률타입</span>
							</th>
	                        <td>
								<select class="filter-select filter95" id="lawType" name="lawType">
									<option th:each="item : ${lawTypeCd}" th:value="${item.cdId}" th:text="${item.cdNm}"></option>
								</select>
	                        </td>
	                    </tr>

						<tr>
	                        <th>
								<span class="requiredMark" th:text="#{administ.lawRegist.lawType}">법률챕터</span>
							</th>
	                        <td>
								<select class="filter-select" id="lawChapter" name="lawChapter">
									<option th:each="item : ${lawChtrCd}" th:value="${item.cdId}" th:text="${item.cdNm}"></option>
								</select>
							</td>
							 <th>
								 <span class="requiredMark" th:text="#{administ.lawRegist.nameOfLaw}">법률명</span>
							 </th>
	                        <td><input type="text" class="main-input data-validate" id="lawNm" name="lawNm" placeholder="Please Enter Law Title" th:data-valid-name="#{administ.lawRegist.nameOfLaw}" data-valid-required></td>
	                    </tr>
	                     <tr>
	                        <th>
								<span class="requiredMark" th:text="#{administ.lawRegist.enforceDate}"></span>
							</th>
	                        <td><input type="date" class="input-date data-validate" id="eftvDe" name="eftvDe" placeholder="Please Enter Law Details" th:data-valid-name="#{administ.lawRegist.enforceDate}" data-valid-required></td>
	                        <th>
								<span class="requiredMark" th:text="#{administ.lawRegist.dateOfPromulgation}">공포일자</span>
							</th>
	                        <td><input type="date" class="input-date data-validate" id="prmgtnDe" name="prmgtnDe" placeholder="Enter Keyword" th:data-valid-name="#{administ.lawRegist.dateOfPromulgation}" data-valid-required></td>
	                    </tr>
	                    <tr>
	                        <th th:text="#{administ.lawRegist.legalExplanation}">시행령 정보</th>
	                        <td colspan="3"><textarea class="detail-table-textarea" id="txtLawDesc" name="lawDesc" rows="15" placeholder="Please Enter Details"></textarea></td>
	                    </tr>
                    </tbody>
                </table>
                
                <table class="detail-table">
                    <colgroup>
                        <col width="15%">
                        <col width="45%">
                        <col width="25%">
                        <col width="15%">
                    </colgroup>
                    <tbody>
	                    <tr>
	                        <th colspan="4">Fine List</th>
	                    </tr>
<!--	                    <tr class="fineTr">-->
<!--							<th>범칙금</th>-->
<!--							<td><span class="fineDesc">오토바이 과속</span></td>-->
<!--							<td>-->
<!--								<span>10,000MT</span>-->
<!--								<span class="finePrice d-none">10000.00</span></td>-->
<!--							<td onclick="deleteFineTr(this)">삭제</td>-->
<!--						</tr>-->
<!--	                    <tr class="fineTr">-->
<!--							<th>범칙금</th>-->
<!--							<td><span class="fineDesc">승용차 과속</span></td>-->
<!--							<td>-->
<!--								<span>13000.24MT</span>-->
<!--								<span class="finePrice d-none">13000.24</span></td>-->
<!--							<td onclick="deleteFineTr(this)">삭제</td>-->
<!--						</tr>-->
<!--	                    <tr class="fineTr">-->
<!--							<th>범칙금</th>-->
<!--							<td><span class="fineDesc">트럭 과속</span></td>-->
<!--							<td>-->
<!--								<span>15000.35MT</span>-->
<!--								<span class="finePrice d-none">15000.35</span></td>-->
<!--							<td onclick="deleteFineTr(this)">삭제</td>-->
<!--						</tr>-->
	                   	<tr id="fineAddTr">
							<th>Fine Info Regist</th>
							<td><input type="text"  class="main-input" id="fineDesc" placeholder="Please Enter Info Regist" style="width:100%"/></td>
							<td><input type="text" class="main-input" id="finePrice" placeholder="Please Enter Info Regist" style="width:100%" onkeyup="keyupNumberEvent(this)"></td>
							<td>
								<button type="button" class="detailPriceBtn" onclick="addFineTr()"><img src="/images/table-plus.png" alt="범칙금 추가"></button>
							</td>
						</tr>
                    </tbody>
				</table>
                </form>
            </div>
            <div class="registor-btn-right">
				<button type="button" id="btnGoList" class="sub-btn form-button" th:onclick="|location.href='@{/administCourt/law/list.do}'|" th:text="#{administ.lawRegist.list}">목록</button>
                <button type="button" id="btnRegist" class="main-btn form-button" th:text="#{administ.lawRegist.registrationButton}">등록</button>
			</div>
    </div>
</th:block>
</html>
<script th:inline="javascript">

    $("#btnRegist").click(function () {
		
		if($("#frmLawRegist").soValid()) {
			
			//validation

		var mozTfcLwInfo = new Object();
		
		const lawArticleNo = document.getElementById("lawArticleNo").value;
		const lawNm = document.getElementById("lawNm").value;
		const lawType = document.getElementById("lawType").value;
		const lawChapter = document.getElementById("lawChapter").value;
		const lawDesc = document.getElementById("txtLawDesc").value;
		const eftvDe = document.getElementById("eftvDe").value;
		const prmgtnDe = document.getElementById("prmgtnDe").value;
		
		if(lawArticleNo == null || lawArticleNo == ''){
			return false;
		}
		
		if(lawChapter == null || lawChapter == ''){
			return false;
		}
		
		if(lawType == null || lawType == ''){
			return false;
		}
		
		if(lawNm == null || lawNm == ''){
			return false;
		}
		
		if(eftvDe == null || eftvDe == ''){
			return false;
		}
		
		if(prmgtnDe == null || prmgtnDe == ''){
			return false;
		}
		
		if(lawDesc == null || lawDesc == ''){
			return false;
		}
		
		var mozTfcLwFineInfoArr = new Array();
	
		const fineTr = document.querySelectorAll(".fineTr");
		const fineDescList = document.querySelectorAll(".fineDesc");
		const finePriceList = document.querySelectorAll(".finePrice");
		
		
		for(var i = 0; i < fineTr.length; i++){
			const mozTfcLwFineInfo = new Object();
			const fineDesc = fineDescList[i].innerText;
			const finePrice = finePriceList[i].innerText;
			
			mozTfcLwFineInfo.fineDesc = fineDesc;
			mozTfcLwFineInfo.finePrice = finePrice;
			
			mozTfcLwFineInfoArr.push(mozTfcLwFineInfo);
		}

		mozTfcLwInfo.lawArticleNo = lawArticleNo;
		mozTfcLwInfo.lawNm = lawNm;
		mozTfcLwInfo.lawType = lawType;
		mozTfcLwInfo.lawChapter = lawChapter;
		mozTfcLwInfo.eftvDe = eftvDe;
		mozTfcLwInfo.prmgtnDe = prmgtnDe;
		mozTfcLwInfo.lawDesc = lawDesc;
		
		if(mozTfcLwFineInfoArr.length > 0){
			mozTfcLwInfo.mozTfcLwFineInfoArr = mozTfcLwFineInfoArr;
		}
		
        $.ajax({
            url: /*[[@{/administCourt/law/save.ajax}]]*/ "/administCourt/law/save.ajax",
            type: "post",
			contentType : "application/json; charset=UTF-8",
			dataType : "json",
			data : JSON.stringify(mozTfcLwInfo),
            success: function (data) {
				if (data.code == '200') {
					alert(data.message);
					location.href = "/administCourt/law/list.do";
				} else {
					alert(data.message);
				}
			}
        });
			
		}
		
		

    })
    
   function deleteFineTr(_this){
	   $(_this).parent('tr').remove();
   }
   
   function addFineTr(){
	   const fineDesc = document.getElementById('fineDesc').value;
	   const finePrice = document.getElementById('finePrice').value;
	   const pattern = /(^\d+$)|(^\d{1,}.\d{0,2}$)/;
	   
	   if(!pattern.test(finePrice)){
		   alert("가격이 올바르지 않습니다.")
		   return false;
	   }
	   
	   const fmtPrice = numberComma(finePrice);
	   
	   if(fineDesc == null || fineDesc == ''){
		   return false;
	   }
	   
	   if(finePrice == null || finePrice == ''){
		   return false;
	   }
	   
	   const addTr = document.createElement('tr');
	   
	   	addTr.classList.add('fineTr');
	   	
	    addTr.innerHTML =  `<th>Law Price</th>
							<td><span class="fineDesc priceDe">${fineDesc}</span></td>
							<td>
								<span class="priceDe">${fmtPrice}MT</span>
								<span class="finePrice d-none priceDe">${finePrice}</span></td>
							<td>
								<button type="button" class="detailPriceBtn" onclick="deleteFineTr(this)">
									<img src="/images/table-delete.png" alt="범칙금 삭제">
								</button>
							</td>`;
						
		document.querySelector('#fineAddTr').before(addTr);
   }

</script>