<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div id="container-fluid">

        <!-- Page Heading -->
        <h1 id="detail-content-title" th:text="#{equipment.mngModify.title}">단속장비 수정</h1>
        <form id="frmEqpModify" enctype="multipart/form-data">
            <input type="hidden" name="tfcEnfEqpId" th:value="${tfcEnfEqpMaster.tfcEnfEqpId}">

            <table class="detail-table">
                <colgroup>
                    <col width="15%">
                    <col width="35%">
                    <col width="15%">
                    <col width="35%">
                </colgroup>
                <tbody>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.equipmentId}">장비 ID</span>
                    </th>
                    <td colspan="3">
                        <input type="text" id="newTfcEnfEqpId" name="newTfcEnfEqpId" class="main-input data-validate" maxlength="50"
                               th:value="${tfcEnfEqpMaster.tfcEnfEqpId}"
                               data-valid-required th:data-valid-name="#{equipment.mngModify.equipmentId}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark"
                              th:text="#{equipment.mngModify.typesOfEnforcementEquipment}">타입</span>
                    </th>
                    <td>
                        <select id="eqpTy" class="filter-select filter95 data-validate" name="eqpTy"
                                th:data-valid-name="#{equipment.mngRegist.typesOfEnforcementEquipment}"
                                data-valid-required>
                            <option value="">Select</option>
                            <th:block th:each="cdItem : ${cdList}">
                                <option th:value="${cdItem.cdId}" th:text="${cdItem.cdNm}"
                                        th:selected="${tfcEnfEqpMaster.eqpTy} == ${cdItem.cdId}"></option>
                            </th:block>
                        </select>
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.equipmentName}">이름</span>
                    </th>
                    <td><input type="text" class="main-input data-validate" id="eqpNm" name="eqpNm"
                               placeholder="Please Enter Equipment Name" th:value="${tfcEnfEqpMaster.eqpNm}"
                               th:data-valid-name="#{equipment.mngModify.equipmentName}"
                               data-valid-required maxlength="100">
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.modelNm}">모델명</span>
                    </th>
                    <td><input type="text" class="main-input data-validate" id="modelNm" name="modelNm"
                               placeholder="Please Enter Model Name" th:value="${tfcEnfEqpMaster.modelNm}"
                               th:data-valid-name="#{equipment.mngModify.modelNm}"
                               data-valid-required maxlength="100">
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.manufacturer}">제조업체</span>
                    </th>
                    <td><input type="text" id="mnfctr" class="main-input data-validate" name="mnfctr"
                               placeholder="Please Enter Manufacturer" th:value="${tfcEnfEqpMaster.mnfctr}"
                               th:data-valid-name="#{equipment.mngModify.manufacturer}"
                               data-valid-required maxlength="100">
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.installationStatus}">사용 상태</span>
                    </th>
                    <td>
                        <label for="instlY" class="radioBox">
                            <input type="radio" id="instlY" name="instlYn" value="Y"
                                   th:checked="${tfcEnfEqpMaster.instlYn} == 'Y'">
                            <span class="radioOn"></span>
                            <sapn th:text="#{equipment.mngModify.installY}">Installed</sapn>
                        </label>
                        <label for="instlN" class="radioBox">
                            <input type="radio" id="instlN" name="instlYn" value="N"
                                   th:checked="${tfcEnfEqpMaster.instlYn} == 'N'">
                            <span class="radioOn"></span>
                            <sapn th:text="#{equipment.mngModify.installN}">Not installed</sapn>
                        </label>
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.usageStatus}">사용 상태</span>
                    </th>
                    <td>
                        <label for="useY" class="radioBox">
                            <input type="radio" id="useY" name="useYn" value="Y"
                                   th:checked="${tfcEnfEqpMaster.useYn} == 'Y'">
                            <span class="radioOn"></span>
                            <sapn th:text="#{equipment.mngModify.usageStatus.useY}">In use</sapn>
                        </label>
                        <label for="useN" class="radioBox">
                            <input type="radio" id="useN" name="useYn" value="N"
                                   th:checked="${tfcEnfEqpMaster.useYn} == 'N'">
                            <span class="radioOn"></span>
                            <sapn th:text="#{equipment.mngModify.usageStatus.useN}">Not in use</sapn>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.installationLocation}">위치</span>
                    </th>
                    <td colspan="3" class="modal-find-line">
                        <input type="text" class="main-input data-validate" id="roadAddr" name="roadAddr"
                               placeholder="Please Enter Installation location" th:value="${tfcEnfEqpMaster.roadAddr}"
                                th:data-valid-name="#{equipment.mngModify.installationLocation}"
                                data-valid-required maxlength="100">
                        <!--								<i class="search-icon mapSearch"></i>-->
                        <br><br>
                        <div id="map" class="detailMap">
                            <!--									<img src="/images/mapLocation_icon.png" alt="My Location" class="mapLocationIcon">-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngRegist.lat}">위도</span>
                    </th>
                    <td>
                        <input type="text" class="main-input lat data-validate" id="lat" name="lat"
                               th:value="${tfcEnfEqpMaster.lat}"
                               th:placeholder="#{equipment.mngRegist.placeholder.lat}"
                               th:data-valid-name="#{equipment.mngRegist.lat}"
                               data-valid-required data-valid-lat>
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngRegist.lng}">경도</span>
                    </th>
                    <td>
                        <input type="text" class="main-input lng data-validate" id="lng" name="lng"
                               th:value="${tfcEnfEqpMaster.lng}"
                               th:placeholder="#{equipment.mngRegist.placeholder.lng}"
                               th:data-valid-name="#{equipment.mngRegist.lng}"
                               data-valid-required data-valid-lng>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.installationDate}">설치일자</span>
                    </th>
                    <td>
                        <input type="date" class="input-date data-validate" name="instlDate"
                               th:value="${#dates.format(tfcEnfEqpMaster.instlDate, 'yyyy-MM-dd')}"
                               th:data-valid-name="#{equipment.mngModify.installationDate}" data-valid-required>
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngDetail.installer}">설치자</span>
                    </th>
                    <td><input type="text" class="main-input data-validate" id="instler" name="instler"
                               placeholder="Please Enter Installer" th:value="${tfcEnfEqpMaster.instler}"
                               th:data-valid-name="#{equipment.mngDetail.installer}"
                               data-valid-required maxlength="100">
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.manager}">담당자</span>
                    </th>
                    <td class="modal-find-line">
                        <input type="text" class="main-input data-validate" placeholder="Please Enter Manager"
                               id="crOprtrNm" th:value="${tfcEnfEqpMaster.webOprtr.oprtrNm}"
                               th:data-valid-name="#{equipment.mngModify.manager}" data-valid-required readonly>
                        <input type="hidden" name="crOprtrId" id="crOprtrId" th:value="${tfcEnfEqpMaster.crOprtrId}">
                        <i class="search-icon" onclick="changeDeptListModal('show')"></i>
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.mngModify.crOprtrDept}"></span>
                    </th>
                    <td><input type="text" class="main-input" id="crOprtrDept" placeholder="Please Enter Department"
                               name="crOprtrDept" readonly
                               th:value="${tfcEnfEqpMaster.crOprtrDept}"></td>
                </tr>
                <tr id="imageTr">
                    <th th:text="#{equipment.mngModify.inserImg}">현재 등록 사진</th>
                    <td colspan="3">
                        <div id="dragArea" class="drag-area">
                            <div class="dragText">
                                O nome do arquivo não pode ter mais de 50 caracteres.<br>
                                O tamanho do arquivo só pode ser carregado abaixo de 5MB.<br>
                                Apenas arquivos JPG, JPEG, PNG e MP4 podem ser carregados.
                            </div>
                            <div>
                                <input type="file" id="uploadFiles" name="uploadFiles" multiple style="display: none;">
                                <button type="button" id="uploadBtn" class="main-btn"
                                        th:text="#{equipment.mngModify.newImg}"></button>
                            </div>
                        </div>
                        <div class="upload_wrap">
                            <div id="uploadedFilseContainer" class="upload_list_box">
                                <th:block th:each="fileItem : ${tfcEnfEqpMaster.tfcEnfEqpFileInfoList}">
                                    <div class="upload_list">
                                        <div class="list_item input_same group_box flex-center">
                                            <div class="file_list" th:text="${fileItem.fileOrgNm}"></div>
                                            <button type="button" th:data-name="${fileItem.fileOrgNm}"
                                                    th:data-value="${fileItem.eqpFileNo}"
                                                    class="fileDelBtn uploadedFileDelBtn">
                                                <img src="/images/upload_close.png" alt="업로드파일 삭제">
                                            </button>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <div id="newFilesContainer" class="upload_list_box"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{equipment.mngModify.eqpInfo}">상세정보</th>
                    <td colspan="3">
                        <textarea class="detail-table-textarea" id="tfcEnfEqpInfo" name="tfcEnfEqpInfo"
                                              placeholder="Please Enter Details"
                                              th:text="${tfcEnfEqpMaster.tfcEnfEqpInfo}" maxlength="1000"></textarea>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>

        <div class="equipmentTableHisWrap">
            <h2 class="equipmentTableTitle" th:text="#{equipment.mngDetail.management.title}">Inspection history</h2>

            <table id="managementTable" class="main-table equipmentTable">
                <colgroup>
                </colgroup>
                <thead>
                <tr>
                    <th th:text="#{equipment.mngDetail.management.date}">관리 날짜</th>
                    <th th:text="#{equipment.mngDetail.management.oprtrNm}">담당자 명</th>
                    <th th:text="#{equipment.mngDetail.management.type}">관리 타입</th>
                    <th th:text="#{equipment.mngDetail.management.status}">시설물 상태</th>
                    <th th:text="#{equipment.mngDetail.management.details}">상세</th>
                    <th th:text="#{equipment.mngDetail.management.option}">옵션</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(eqpMntnHstList)}">
                    <td colspan="6" th:text="#{equipment.mngDetail.management.none}">None Result</td>
                </tr>
                <tr th:if="${!#lists.isEmpty(eqpMntnHstList)}"
                    th:each="hstItem : ${eqpMntnHstList}"
                    th:data-value="${hstItem.mntnDetail}">
                    <td th:text="${#dates.format(hstItem.crDt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${hstItem.oprtrNm}"></td>
                    <td th:text="${hstItem.mntnType}"></td>
                    <td th:text="${hstItem.mntnStts}"></td>
                    <td th:text="${hstItem.mntnDetail}"></td>
                    <td>
                        <button type="button" class="btn-img" th:onclick="deleteHst([[${hstItem.mntnHstId}]])">
                            <img src="/images/delete_img.png" alt="delete" class="cm-delete-img">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="btn-wrap-center">
            <button type="button" id="btnGoList" class="sub-btn form-button left-btn"
                    onclick="window.history.back()" th:text="#{equipment.mngModify.cancelButton}">취소
            </button>
            <button type="button" id="btnDelete" class="delete-btn"
                    th:text="#{equipment.common.button.delete}">삭제
            </button>
            <button type="button" id="btnModify" class="main-btn form-button"
                    th:text="#{equipment.mngModify.modifyFinish}">수정완료
            </button>
        </div>
    </div>

    <div class="modal-wrap" id="modal">

    </div>
</th:block>

</html>

<script th:inline="javascript">
    let oldFileNameArr = /*[[${oldFileArr}]]*/;

    $(document).ready(function () {
        fileDrag(10, 5, 100, ["jpg", "jpeg", "png", "PNG"], oldFileNameArr);
    })

    const modalContent = document.getElementById("modal");

    // modal control
    function changeDeptListModal(type) {
        if (type === "show") {
            $.ajax({
                url: '/common/modal/oprtr/list.ajax',
                type: "get",
                dataType: 'html',
                success: function (data) {
                    modalContent.innerHTML += data;
                    modalContent.style.display = 'block';
                }
            });
        } else if (type === "hide") {
            modalContent.innerHTML = '';
            modalContent.style.display = 'none';
        }
    }

    $("#btnModify").click(function () {
        trimValues(['eqpNm', 'modelNm', 'mnfctr', 'roadAddr', 'lat', 'lng', 'instler', 'tfcEnfEqpInfo']);
        if (!$("#frmEqpModify").soValid()) return;

        const form = $("#frmEqpModify")[0];
        const data = new FormData(form);

        deleteFilesArr.forEach((value, index) => {
            data.append("tfcEnfEqpFileInfoList[" + index + "].eqpFileNo", value);
        })

        $.ajax({
            url: /*[[@{/eqp/mng/update.ajax}]]*/ "/eqp/mng/update.ajax",
            type: "post",
            enctype: 'multipart/form-data',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.code === 200) {
                    new ModalBuilder().init().successBody(result.message).footer(4, 'Confirmar', function (button, modal) {
                        modal.close();
                        const baseUrl = /*[[@{/eqp/mng/detail.do}]]*/ '';
                        const id = $("#newTfcEnfEqpId").val();
                        window.location.href = baseUrl + "?tfcEnfEqpId=" + id;
                    }).open();
                } else {
                    new ModalBuilder().init().alertBody(result.message).footer(4, 'Confirmar', function (button, modal) {
                        modal.close();
                    }).open();
                }
            }
        });

    })

    const lng = /*[[${tfcEnfEqpMaster.lng}]]*/;
    const lat = /*[[${tfcEnfEqpMaster.lat}]]*/;
    let map = new MozAtesMap({
        elementId: 'map',
        center_lng: lng,
        center_lat: lat,
        isInitDrawCenterMarker: true
    });

    function findOprtrBtn() {
        $("#modalTbody > tr").remove();
        $("#modalPaging > div").remove();

        var page = $("#modalPage").val();
        var searchTxt = $("#searchContent").val();
        var start = $("#modalStart").val();
        $.ajax({
            type: "get",
            data: {"searchType": "oprtrNm", "searchTxt": searchTxt, "page": page, "start": start},
            url: '/common/modal/oprtr/search/list.ajax',
            success: function (result) {
                var html = '';
                $(result.data.list).each(function (index, item) {
                    var oprtrDeptNm = item.oprtrDeptNm;
                    var oprtrNm = item.oprtrNm;
                    if (isNull(oprtrDeptNm)) {
                        oprtrDeptNm = '-';
                    }
                    if (isNull(oprtrNm)) {
                        oprtrNm = '-';
                    }
                    html += '<tr onclick="selectDept(\'' + item.oprtrId + '\', \'' + oprtrNm + '\', \'' + oprtrDeptNm + '\')">' +
                        '<td>' + item.rnum + '</td>' +
                        '<td>' + oprtrDeptNm + '</td>' +
                        '<td>' + oprtrNm + '</td>' +
                        '</tr>';
                })
                $("#modalTbody").append(html);
                var paging = result.data.pagination;
                if (paging != null && paging != '') {
                    $("#modalPaging").append(getPagingHtml(paging, page));
                }
                $("#totalCnt").text(paging.totalListCnt);
                var start = result.data.webOprtr.start;
                $("#modalStart").val();
            }
        });
    }

    function fnPageMove(page) {
        $("#modalPage").val(page);
        findOprtrBtn();
    }

    function selectDept(oprtrId, oprtrNm, oprtrDeptNm) {
        $("#crOprtrNm").val(oprtrNm);
        $("#crOprtrId").val(oprtrId);
        $("#crOprtrDept").val(oprtrDeptNm);
        changeDeptListModal('hide');
    }

    var deleteFilesArr = new Array();
    $(".uploadedFileDelBtn").on('click', function () {
        var $this = $(this);
        var fileNm = $this.data('name');
        var fileId = $this.data('value');

        $this.closest('.upload_list').remove();

        let uploadLength = $('#uploadedFilseContainer').children('.upload_list').length;
        if (uploadLength < 1) {
            $('#uploadedFilseContainer').addClass('none');
        }
        deleteFilesArr.push(fileId);

        let deleteIdx = oldFileNameArr.indexOf(fileNm);
        oldFileNameArr.splice(deleteIdx, 1);
        fileDrag(10, 5, 100, ["jpg", "jpeg", "png", "PNG"], oldFileNameArr);
    });

    $("#btnDelete").click(function () {
        new ModalBuilder().init().alertBody([[#{equipment.mngDetail.deleteMessage}]]).footer(2, "Confirmar", function (button, modal) {
            modal.close();
            var idx = [[${tfcEnfEqpMaster.tfcEnfEqpId}]];
            setTimeout(() => {
                $.ajax({
                    url: /*[[@{/eqp/mng/delete.ajax}]]*/ "/eqp/mng/delete.ajax",
                    type: "post",
                    data: {"tfcEnfEqpId": idx},
                    success: function (result) {
                        var resultCode = result.code;
                        var resultMessage = result.message;
                        if (resultCode === 200) {
                            new ModalBuilder().init().alertBody(resultMessage).footer(4, "Confirmar", function (button, modal) {
                                modal.close();
                                location.href = /*[[@{/eqp/mng/list.do?pageType=list}]]*/ '/eqp/mng/list.do?pageType=list';
                            }).open();
                        } else {
                            new ModalBuilder().init().successBody(resultMessage).footer(4, 'Confirmar', function (button, modal) {
                                modal.close();
                            }).open();
                        }
                    }
                });
            }, 500);
        }, 'Cancelar', function (button, modal) {
        }).open();
    });

    // Management history modal details
    document.addEventListener("DOMContentLoaded", () => {
        const historyList = [[${eqpMntnHstList}]];
        if (historyList.length === 0) return;

        const title = [[#{equipment.mngDetail.management.modal.details}]];
        const table = document.getElementById("managementTable");
        const rows = table.querySelectorAll("tr");
        rows.forEach(row => {
            row.addEventListener("click", (event) => {
                const cells = Array.from(row.children);
                const clickedCell = event.target;

                if (clickedCell.tagName.toLowerCase() === 'td') {
                    const clickedIndex = cells.indexOf(clickedCell);

                    if (clickedIndex !== cells.length - 1) {
                        const detailValue = row.dataset.value;
                        let modalDetailHtml = `
                            <div class="modal-contents modal-company-group">
                                <div class="modal-title">
                                    <dt class="modal-title-text">${title}</dt>
                                    <img id="modalDetailClose"src="/images/close.png" alt="닫기" class="close">
                                </div>
                                <div class="modal-body">
                                    <div id="hisDetails">
                                        <div id="MtDetails">${detailValue}</div>
                                    </div>
                                </div>
                            </div>
                        `;

                        modalContent.innerHTML += modalDetailHtml;
                        modalContent.style.display = 'block';

                        let closeBtn = document.getElementById('modalDetailClose');

                        closeBtn.addEventListener('click', function (e) {
                            modalContent.innerHTML = "";
                            modalContent.style.display = "none";
                        });
                    }
                }
            });
        });
    });

    function deleteHst(mntnHstId) {
        const deleteConfirm = /*[[#{equipment.mngDetail.management.confirm}]]*/;
        const successMsg = /*[[#{equipment.mngDetail.management.success}]]*/;

        new ModalBuilder().init().alertBody(deleteConfirm).footer(3, 'Cancelar', function (button, modal) {
            modal.close();
        }, 'Confirm', function (button, modal) {
            modal.close();
            setTimeout(() => {
                $.ajax({
                    url: /*[[@{/eqp/mng/hstDelete.ajax}]]*/ "/eqp/mng/hstDelete.ajax",
                    type: "post",
                    data: {"mntnHstId": mntnHstId},
                    success: function (data) {
                        new ModalBuilder().init().successBody(successMsg).footer(4, 'Confirmar', function (button, modal) {
                            modal.close();
                            location.reload();
                        }).open();
                    },
                    error: function (data) {
                        new ModalBuilder().init().successBody(data.responseJSON.message).footer(4, 'Confirmar', function (button, modal) {
                            modal.close();
                        }).open();
                    }
                });
            }, 500);
        }).open();
    }
</script>