<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div id="container-fluid">
		<h1 id="detail-content-title" th:text="#{equipment.facilityDetail.title}">교통시설물 상세</h1>
		<div>
			<table class="sub-table detail-table">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<th th:text="#{equipment.facilityDetail.trafficFacilityName}">단속장비 이름</th>
						<td th:text="${tfcFacilityMaster.facilityNm}"></td>
						<th th:text="#{equipment.facilityDetail.trafficFacilityType}">장비종류</th>
						<td th:text="${tfcFacilityMaster.facilityTy}"></td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityDetail.trafficFacilityDivision}">단속장비 구분</th>
						<td th:text="${tfcFacilityMaster.facilityDiv}"></td>
						<th th:text="#{equipment.facilityDetail.trafficFacilityCategory}">카테고리</th>
						<td th:text="${tfcFacilityMaster.facilityCate}"></td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityDetail.trafficFacilityStatus}">상태</th>
						<td th:text="${tfcFacilityMaster.facilityStts}"></td>
						<th th:text="#{equipment.facilityDetail.regDate}">등록일</th>
						<td th:text="${#dates.format(tfcFacilityMaster.crDt, 'dd.MM.yyyy')}"></td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityDetail.useYn}">사용 여부</th>
						<th:block th:if="${tfcFacilityMaster.useYn == 'Y'}">
							<td class="tdFlex">
								<div class="statusComplete">
									<img src="/images/status_icon01.png" alt="V" class="statusImg">
									<span th:text="#{equipment.facilityDetail.useY}" class="statusText"></span>
								</div>
							</td>
						</th:block>
						<th:block th:unless="${tfcFacilityMaster.useYn == 'Y'}">
							<td class="tdFlex">
								<div class="statusFail">
									<img src="/images/status_icon02.png" alt="X" class="statusImg">
									<span th:text="#{equipment.facilityDetail.useN}" class="statusText"></span>
								</div>
							</td>
						</th:block>
						<th th:text="#{equipment.facilityDetail.area}">지역코드</th>
						<td th:text="${tfcFacilityMaster.areaCd}"></td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityDetail.installationLocation}">장치위치정보</th>
						<td colspan="3">
							<p th:text="${tfcFacilityMaster.roadAddr}"></p><br>
							<div id="map" class="detailMap"></div>
						</td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityDetail.personInCharge}">등록자</th>
						<td th:text="${tfcFacilityMaster.webOprtr.oprtrNm}"></td>
						<th th:text="#{equipment.facilityDetail.department}">담당자소속</th>
						<td th:text="${tfcFacilityMaster.webOprtr.oprtrDeptNm}"></td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityDetail.image}">단속장비 사진수정</th>
						<td colspan="3">
							<div class="fileListWrap">
								<th:block th:if="${#lists.isEmpty(tfcFacilityMaster.tfcFacilityFileInfoList)}">-</th:block>
								<th:block th:unless="${#lists.isEmpty(tfcFacilityMaster.tfcFacilityFileInfoList)}"
										  th:each="fileItem : ${tfcFacilityMaster.tfcFacilityFileInfoList}">
									<a class="list_item" th:href="@{/common/file/facility/download(fileId = ${fileItem.tfcFacilityFileNo})}">
										<div class="file_list" th:text="${fileItem.fileOrgNm}"></div>
										<img src="/images/download.png" alt="download">
									</a>
								</th:block>
							</div>
						</td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityDetail.details}">상세내용</th>
						<td colspan="3"><pre th:text="${tfcFacilityMaster.facilityDesc}"></pre></td>
					</tr>
				</tbody>
			</table>
			<div class="equipmentTableHisWrap">
				<div id="search-form-history-wrap">
					<div id="table-search-result-text">
						<h2 class="equipmentTableTitle" th:text="#{equipment.facilityDetail.management.title}">Management History</h2>
					</div>
					<div>
						<button type="button" class="main-btn" onclick="showHistRegistModal('facility')" th:text="#{common.button.register}">등록 모달 버튼</button>
					</div>
				</div>
				<table id="managementTable" class="main-table equipmentTable">
				    <colgroup>
				        <col style="width: 15%;">
				        <col style="width: 15%;">
				        <col style="width: 15%;">
				        <col style="width: 15%;">
				        <col style="width: 40%;">
				    </colgroup>
					<thead>
						<tr>
							<th th:text="#{equipment.facilityDetail.management.date}">관리 날짜</th>
							<th th:text="#{equipment.facilityDetail.management.oprtrNm}">담당자 명</th>
							<th th:text="#{equipment.facilityDetail.management.mntnType}">관리 타입</th>
							<th th:text="#{equipment.facilityDetail.management.mntnStts}">시설물 상태</th>
							<th th:text="#{equipment.facilityDetail.management.desc}">상세 정보</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(tfcFacilityMntnHstList)}">
							<td colspan="5" th:text="#{equipment.facilityDetail.management.none}">None Result</td>
						</tr>
						<tr th:if="${!#lists.isEmpty(tfcFacilityMntnHstList)}"
							th:each="hstItem : ${tfcFacilityMntnHstList}"
							th:data-value="${hstItem.mntnDetail}">
							<td th:text="${#dates.format(hstItem.crDt, 'yyyy-MM-dd')}"></td>
							<td th:text="${hstItem.mozWebOprtr.oprtrNm}"></td>
							<td th:text="${hstItem.mntnType}"></td>
							<td th:text="${hstItem.mntnStts}"></td>
							<td th:text="${hstItem.mntnDetail}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="btn-wrap-center">
				<button type="button" id="btnGoList" class="sub-btn left-btn" 
					th:onclick="|location.href='@{/eqp/facility/list.do(pageType=list)}'|"
					th:text="#{equipment.common.button.list}">목록</button>
				<button type="button" id="btnModify" class="main-btn" th:text="#{equipment.common.button.modify}"
					th:onclick="|location.href='@{/eqp/facility/update.do(tfcFacilityId=${tfcFacilityMaster.tfcFacilityId})}'|">수정</button>
			</div>
			<div class="modal-wrap" id="modal">

			</div>
		</div>
	</div>
</th:block>

</html>
<script th:inline="javascript">
	const lng = /*[[${tfcFacilityMaster.lng}]]*/;
	const lat = /*[[${tfcFacilityMaster.lat}]]*/;
	const idx = /*[[${tfcFacilityMaster.tfcFacilityId}]]*/;
	
	const modalContent = document.getElementById("modal");
	
	let map = new MozAtesMap({
		elementId : 'map',
		center_lng : lng,
		center_lat : lat,
		isInitDrawCenterMarker : true
	});
	
	function showHistRegistModal(type){
		//등록 모달 호출
		$.ajax({
			url: `/common/modal/${type}/modalMaintenanceRegist.do`,
			type: "get",
			dataType: 'html',
			success: function (data) {
				modalContent.innerHTML += data;
				modalContent.style.display = 'block';
				
				//모달 닫기버튼 활성화
				let registBtn = document.getElementById('mntnRegistBtn');
				let closeBtn = document.getElementById('modalRegistClose');
				
				closeBtn.addEventListener('click', function(e){
					modalContent.innerHTML="";
					modalContent.style.display = "none";				
				});

				registBtn.addEventListener('click', function(e){
					trimValues(['mntnDetail']);
					let mntnType = document.getElementById('mntnType').value;
					let mntnStts = document.getElementById('mntnStts').value;
					let mntnDetail = document.getElementById('mntnDetail').value;

					if (mntnType == null || mntnType == '') {
						// 타입을 선택해 주세요
						alert('Selecione um tipo');
						return;
					}
					if (mntnStts == null || mntnStts == '') {
						alert('Selecione o status');
						// 상태를 선택해 주세요
						return;
					}
					if (mntnDetail == null || mntnDetail == '') {
						// 설명을 입력해 주세요
						alert('Por favor insira uma descrição');
						return;
					}
					if (mntnDetail.length > 1000) {
						// 설명은 1000자를 넘을 수 없습니다.
						alert("A descrição não pode exceder 1000 caracteres.");
						return;
					}

					$.ajax({
						url: /*[[@{/eqp/facility/mntnSave.ajax}]]*/ "/eqp/facility/mntnSave.ajax",
						data : {
							"tfcFacilityId" : idx,
							"mntnType" : mntnType,
							"mntnStts" : mntnStts,
							"mntnDetail" : mntnDetail
						},
						type: "post",
						dataType: 'json',
						success: function (result) {
							if(result.code === 200){
								modalContent.innerHTML="";
								modalContent.style.display = "none";
								new ModalBuilder().init().successBody(result.message).footer(4,'Confirmar',function(button, modal){
									modal.close();
									location.reload();
								}).open();
							}
						}
					});
				});
			}
		})
	}

	// Management history modal details
	document.addEventListener("DOMContentLoaded", () => {
		const historyList = [[${tfcFacilityMntnHstList}]];
		if (historyList.length === 0) return;

		const title = [[#{equipment.facilityDetail.management.modal.details}]];
		const table = document.getElementById("managementTable");
		const rows = table.querySelectorAll("tr");
		rows.forEach(row => {
			row.addEventListener("click", (event) => {
				const clickedCell = event.target;

				if (clickedCell.tagName.toLowerCase() === 'td') {

					const detailValue = row.dataset.value;
					let modalDetailHtml = `
                        <div class="modal-contents modal-company-group">
                            <div class="modal-title">
                                <dt class="modal-title-text">${title}</dt>
                                <img id="modalDetailClose"src="/images/close.png" alt="닫기" class="close">
                            </div>
                            <div class="modal-body">
                                <div id="hisDetails">
                                    <div id="MtDetails" class="text-pre-wrap">${detailValue}</div>
                                </div>
                            </div>
                        </div>
                    `;

					modalContent.innerHTML += modalDetailHtml;
					modalContent.style.display = 'block';

					let closeBtn = document.getElementById('modalDetailClose');

					closeBtn.addEventListener('click', function (e) {
						modalContent.innerHTML = "";
						modalContent.style.display = "none";
					});

				}
			});
		});
	});

</script>