<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<form id="frmSearch">
	<input type="hidden" id="page" name="page" th:value="1">
	<input type="hidden" id="pageType" name="pageType" th:value="map">
</form>

<div id="map-wrap">
	<div id="map" class="listMap"></div>
	<div id="map-search-wrap">
		<div id="map-search-title" th:text="#{equipment.facilityMngList.map.title}">Facility List</div>
		<div id="map-search">
			<input class="search-box main-input" id="searchTxt" name="searchTxt" type="text" th:placeholder="#{equipment.mngList.placeholder}" th:value="${tfcFacilityMaster.searchTxt}">
			<div id="map-search-icon-wrap" class="btnSearch">
				<i class="search-icon"></i>
			</div>
		</div>
		<div>
			<table class="main-table map-list-table">
				<colgroup>
				
				</colgroup>
				<thead>
					<tr>
						<th th:text="#{equipment.facilityMngList.title.type}">Equipment Type</th>
						<th th:text="#{equipment.facilityMngList.title.name}">Equipment Name</th>
						<th th:text="#{equipment.facilityMngList.title.location}">Installation location</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="facilityItem, status : ${facilityList}"
						th:onclick="findLocation([[${facilityItem.lat}]], [[${facilityItem.lng}]])"
						th:id="facility+${status.index}" th:data-lat="${facilityItem.lat}" th:data-lng="${facilityItem.lng}">
						<td th:text="${facilityItem.cmCd.cdNm}"></td>
						<td th:text="${facilityItem.facilityNm}"></td>
						<td th:text="${facilityItem.roadAddr}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="page_wrap">
			<div th:insert="tags/paging :: pagingFragment"></div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	$(document).ready(function(){
		var lat = $("#facility0").data("lat");
		var lng = $("#facility0").data("lng");
		
		map = new MozAtesMap({
			elementId : 'map',
			center_lng : lng,
			center_lat : lat,
			isInitDrawCenterMarker : false,
			isFacility : true,
			isEquipment : false
		});
	});
		
	$(".btnSearch").on("click", function(){
		$.ajax({
			url: /*[[@{/eqp/facility/facilityMngMapAjax}]]*/ '/eqp/facility/facilityMngMapAjax',
			type: "POST",
			data: {"searchTxt": $.trim($("#searchTxt").val())},
			dataType: 'html',
			cache: false,
			success: function (data) {
				ajaxContent.html(data);
			}
		});
	});
	
	function findLocation(lat, lng){
		map.flyToMove(lng,lat);
	}
	
	function fnPageMove(page) {
		$("#page").val(page);
		getMapAjax();
	}
</script>
</html>
