<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div id="container-fluid">

        <!-- Page Heading -->
        <h1 id="detail-content-title" th:text="#{equipment.facilityModify.title}">교통시설물 수정</h1>

        <form id="frmFacilityModify" enctype="multipart/form-data">
            <input type="hidden" name="tfcFacilityId" th:value="${tfcFacilityMaster.tfcFacilityId}">
            <table class="detail-table">
                <colgroup>
                    <col width="15%">
                    <col width="35%">
                    <col width="15%">
                    <col width="35%">
                </colgroup>
                <tbody>
                <tr>
                    <th>
                        <span class="requiredMark"
                              th:text="#{equipment.facilityModify.trafficFacilityName}">단속장비 이름</span>
                    </th>
                    <td>
                        <input type="text" id="facilityNm" class="main-input data-validate" name="facilityNm"
                               th:placeholder="#{equipment.facilityModify.placeholder.trafficFacilityName}"
                               th:data-valid-name="#{equipment.facilityModify.trafficFacilityName}"
                               th:value="${tfcFacilityMaster.facilityNm}"
                               data-valid-required maxlength="100">
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.facilityModify.trafficFacilityType}">장비종류</span>
                    </th>
                    <td>
                        <select id="facilityTy" class="filter-select filter95 data-validate" name="facilityTy"
                                th:data-valid-name="#{equipment.facilityModify.trafficFacilityType}"
                                data-valid-required>
                            <th:block th:each="item : ${facTyCd}">
                                <option th:value="${item.cdId}" th:text="${item.cdNm}"
                                        th:selected="${tfcFacilityMaster.facilityTy} == ${item.cdNm}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
							<span class="requiredMark" th:text="#{equipment.facilityModify.trafficFacilityDivision}">시설물
								구분</span>
                    </th>
                    <td>
                        <select id="facilityDiv" name="facilityDiv" class="filter-select data-validate"
                                th:data-valid-name="#{equipment.facilityModify.trafficFacilityDivision}"
                                data-valid-required>
                            <th:block th:each="item : ${facDivCd}">
                                <option th:value="${item.cdId}" th:text="${item.cdNm}"
                                        th:selected="${tfcFacilityMaster.facilityDiv} == ${item.cdNm}"></option>
                            </th:block>
                        </select>
                    </td>
                    <th>
							<span class="requiredMark" th:text="#{equipment.facilityModify.trafficFacilityCategory}">시설물
								카테고리</span>
                    </th>
                    <td>
                        <select id="facilityCate" name="facilityCate" class="filter-select filter95 data-validate"
                                th:data-valid-name="#{equipment.facilityModify.trafficFacilityCategory}"
                                data-valid-required>
                            <th:block th:each="item : ${facCateCd}">
                                <option th:value="${item.cdId}" th:text="${item.cdNm}"
                                        th:selected="${tfcFacilityMaster.facilityCate} == ${item.cdNm}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.facilityModify.useYn}">사용 여부</span>
                    </th>
                    <td>
                        <label for="useY" class="radioBox">
                            <input type="radio" id="useY" name="useYn" value="Y"
                                   th:checked="${tfcFacilityMaster.useYn} == 'Y'">
                            <span class="radioOn">
								</span>
                            <span th:text="#{equipment.facilityModify.useY}">
								</span>
                        </label>
                        <label for="useN" class="radioBox">
                            <input type="radio" id="useN" name="useYn" value="N"
                                   th:checked="${tfcFacilityMaster.useYn} == 'N'">
                            <span class="radioOn">
								</span>
                            <span th:text="#{equipment.facilityModify.useN}">
								</span>
                        </label>
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.facilityModify.area}">구역</span>
                    </th>
                    <td>
                        <select id="areaCd" name="areaCd" class="filter-select filter95 data-validate"
                                th:data-valid-name="#{equipment.facilityModify.area}" data-valid-required>
                            <th:block th:each="item : ${areaCd}">
                                <option th:value="${item.cdId}" th:text="${item.cdNm}"
                                        th:selected="${tfcFacilityMaster.areaCd} == ${item.cdNm}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark"
                              th:text="#{equipment.facilityModify.installationLocation}">설치 위치</span>
                    </th>
                    <td colspan="3" class="modal-find-line">
                        <input type="text" id="roadAddr" class="main-input data-validate" name="roadAddr"
                               th:data-valid-name="#{equipment.facilityModify.installationLocation}"
                               th:placeholder="#{equipment.facilityModify.placeholder.installationLocation}"
                               th:value="${tfcFacilityMaster.roadAddr}"
                               data-valid-required maxlength="100">
                        <br><br>
                        <div id="map" class="detailMap"></div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.facilityModify.lat}">위도</span>
                    </th>
                    <td>
                        <input type="text" class="main-input data-validate" id="lat" name="lat"
                               th:placeholder="#{equipment.facilityModify.placeholder.lat}"
                               th:data-valid-name="#{equipment.facilityModify.lat}"
                               th:value="${tfcFacilityMaster.lat}" data-valid-required data-valid-lat>
                    </td>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.facilityModify.lng}">경도</span>
                    </th>
                    <td>
                        <input type="text" class="main-input data-validate" id="lng" name="lng"
                               th:placeholder="#{equipment.facilityModify.placeholder.lng}"
                               th:data-valid-name="#{equipment.facilityModify.lng}"
                               th:value="${tfcFacilityMaster.lng}" data-valid-required data-valid-lng>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark" th:text="#{equipment.facilityModify.personInCharge}">담당자</span>
                    </th>
                    <td class="modal-find-line">
                        <input type="text" class="main-input data-validate" placeholder="Please Enter Person in Charge"
                               data-valid-name="#{equipment.facilityModify.personInCharge}"
                               id="oprtrNm" th:value="${tfcFacilityMaster.webOprtr.oprtrNm}"
                               data-valid-required readonly>
                        <input type="hidden" name="oprtrId" id="oprtrId" th:value="${tfcFacilityMaster.oprtrId}">
                        <i class="search-icon" onclick="changeDeptListModal('show')"></i>
                    </td>
                    <th th:text="#{equipment.facilityModify.department}">담당자부서</th>
                    <td><input type="text" class="main-input" id="oprtrDeptNm"
                               th:value="${tfcFacilityMaster.webOprtr.oprtrDeptNm}" readonly></td>
                </tr>
                <tr id="imageTr">
                    <th th:text="#{equipment.facilityModify.image}">현재 등록 사진</th>
                    <td colspan="3">
                        <div id="dragArea" class="drag-area">
                            <div class="dragText">
                                File name cannot be more than 50 characters<br>
                                The file size can only be uploaded under 5MB<br>
                                Only JPG, JPEG, PNG, and MP4 files can be uploaded
                            </div>
                            <div>
                                <input type="file" id="uploadFiles" name="uploadFiles" multiple style="display: none;">
                                <button type="button" id="uploadBtn" class="main-btn">File Upload</button>
                            </div>
                        </div>

                        <div id="uploadedFilseContainer" class="upload_list_box">
                            <th:block th:each="fileItem : ${tfcFacilityMaster.tfcFacilityFileInfoList}">
                                <div class="upload_list">
                                    <div class="list_item input_same group_box flex-center">
                                        <div class="file_list" th:text="${fileItem.fileOrgNm}"></div>
                                        <button type="button" th:data-name="${fileItem.fileOrgNm}"
                                                th:data-value="${fileItem.tfcFacilityFileNo}"
                                                class="fileDelBtn uploadedFileDelBtn">
                                            <img src="/images/upload_close.png" alt="업로드파일 삭제">
                                        </button>
                                    </div>
                                </div>
                            </th:block>
                        </div>

                        <div id="newFilesContainer" class="upload_list_box"></div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="requiredMark"
                              th:text="#{equipment.facilityModify.trafficFacilityStatus}">교통시설물 상태</span>
                    </th>
                    <td colspan="3">
                        <input type="text" class="main-input data-validate" id="facilityStts" name="facilityStts"
                               th:placeholder="#{equipment.facilityModify.placeholder.trafficFacilityStatus}"
                               th:data-valid-name="#{equipment.facilityModify.trafficFacilityStatus}"
                               th:value="${tfcFacilityMaster.facilityStts}"
                               data-valid-required maxlength="100">
                    </td>
                </tr>
                <tr>
                    <th th:text="#{equipment.facilityModify.details}">상세정보</th>
                    <td colspan="3"><textarea id="facilityDesc" class="detail-table-textarea" name="facilityDesc"
                                              placeholder="Please Enter Details"
                                              th:text="${tfcFacilityMaster.facilityDesc}" maxlength="1000"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <div class="equipmentTableHisWrap">
            <div id="search-form-history-wrap">
                <div id="table-search-result-text">
                    <h2 class="equipmentTableTitle" th:text="#{equipment.facilityDetail.management.title}">Inspection
                        history
                    </h2>
                </div>
            </div>
            <table id="managementTable" class="main-table equipmentTable">
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 35%;">
                    <col style="width: 5%;">
                </colgroup>
                <thead>
                <tr>
                    <th th:text="#{equipment.facilityDetail.management.date}">관리 날짜</th>
                    <th th:text="#{equipment.facilityDetail.management.oprtrNm}">담당자 명</th>
                    <th th:text="#{equipment.facilityDetail.management.mntnType}">관리 타입</th>
                    <th th:text="#{equipment.facilityDetail.management.mntnStts}">시설물 상태</th>
                    <th th:text="#{equipment.facilityDetail.management.desc}">상세 정보</th>
                    <th th:text="#{equipment.facilityDetail.management.option}">옵션</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(tfcFacilityMntnHstList)}">
                    <td colspan="6" th:text="#{equipment.facilityDetail.management.none}">None Result</td>
                </tr>
                <tr th:if="${!#lists.isEmpty(tfcFacilityMntnHstList)}"
                    th:each="hstItem : ${tfcFacilityMntnHstList}"
                    th:data-value="${hstItem.mntnDetail}">
                    <td th:text="${#dates.format(hstItem.crDt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${hstItem.mozWebOprtr.oprtrNm}"></td>
                    <td th:text="${hstItem.mntnType}"></td>
                    <td th:text="${hstItem.mntnStts}"></td>
                    <td th:text="${hstItem.mntnDetail}"></td>
                    <td>
                        <button type="button" class="btn-img" th:onclick="deleteHst([[${hstItem.tfcFacilityLogId}]])">
                            <img src="/images/delete_img.png" alt="delete" class="cm-delete-img">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="btn-wrap-center">
            <button type="button" id="btnGoList" class="sub-btn form-button left-btn" onclick="window.history.back()"
                    th:text="#{equipment.mngModify.cancelButton}">취소
            </button>
            <button type="button" id="btnDelete" class="delete-btn" th:text="#{equipment.common.button.delete}">삭제
            </button>
            <button type="button" id="btnModify" class="main-btn form-button"
                    th:text="#{equipment.mngModify.modifyFinish}">수정완료
            </button>
        </div>
    </div>

    <div class="modal-wrap" id="modal"></div>
</th:block>

</html>

<script th:inline="javascript">

    const modalContent = document.getElementById("modal");
    let oldFileNameArr = /*[[${oldFileArr}]]*/;

    $(document).ready(function () {
        fileDrag(10, 5, 100, ["jpg", "jpeg", "png", "PNG"], oldFileNameArr);
    })

    var deleteFilesArr = new Array();
    $(".uploadedFileDelBtn").on('click', function () {
        var $this = $(this);
        var fileNm = $this.data('name');
        var fileId = $this.data('value');

        $this.closest('.upload_list').remove();

        let uploadLength = $('#uploadedFilseContainer').children('.upload_list').length;
        if (uploadLength < 1) {
            $('#uploadedFilseContainer').addClass('none');
        }
        deleteFilesArr.push(fileId);

        let deleteIdx = oldFileNameArr.indexOf(fileNm);
        oldFileNameArr.splice(deleteIdx, 1);
        fileDrag(10, 5, 100, ["jpg", "jpeg", "png", "PNG"], oldFileNameArr);
    });

    // modal control
    function changeDeptListModal(type) {
        if (type === "show") {
            $.ajax({
                url: '/common/modal/oprtr/list.ajax',
                type: "get",
                dataType: 'html',
                success: function (data) {
                    modalContent.innerHTML += data;
                    modalContent.style.display = 'block';
                }
            });
        } else if (type === "hide") {
            modalContent.innerHTML = '';
            modalContent.style.display = 'none';
        }
    }

    $("#btnimageDelete").click(function () {

        new ModalBuilder().init().successBody(/*[[#{sitemng.codeModify.message.confirmModify}]]*/).footer(2, 'Confirmar', function (button, modal) {
            modal.close();
            setTimeout(() => {
                $.ajax({
                    url: /*[[@{/eqp/facility/image/delete.ajax}]]*/ "/eqp/facility/image/delete.ajax",
                    type: "post",
                    enctype: 'multipart/form-data',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        new ModalBuilder().init().alertBody('A imagem foi removida').footer(4, 'Confirmar', function (button, modal) {
                            modal.close();
                        }).open();
                    },
                    error: function (data) {
                        new ModalBuilder().init().alertBody('A exclusão da imagem falhou').footer(4, 'Confirmar', function (button, modal) {
                            modal.close();
                        }).open();
                    }
                });
            }, 500);
        }).open();


    })

    $("#btnModify").click(function () {
        trimValues(['facilityNm', 'roadAddr', 'lat', 'lng', 'facilityStts', 'facilityDesc']);
        if ($("#frmFacilityModify").soValid()) {
            var form = $("#frmFacilityModify")[0];
            var data = new FormData(form);

            deleteFilesArr.forEach((value, index) => {
                data.append("tfcFacilityFileInfoList[" + index + "].tfcFacilityFileNo", value);
            })

            $.ajax({
                url: /*[[@{/eqp/facility/update.ajax}]]*/ "/eqp/facility/update.ajax",
                type: "post",
                enctype: 'multipart/form-data',
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.code === 200) {
                        new ModalBuilder().init().successBody(result.message).footer(4, 'Confirmar', function (button, modal) {
                            modal.close();
                            var baseUrl = /*[[@{/eqp/facility/detail.do}]]*/ '';
                            window.location.href = baseUrl + "?tfcFacilityId=" + [[${tfcFacilityMaster.tfcFacilityId}]];
                        }).open();
                    } else {
                        new ModalBuilder().init().alertBody(result.message).footer(4, 'Confirmar', function (button, modal) {
                            modal.close();
                        }).open();
                    }
                }
            });
        }
    });


    const lng = /*[[${tfcFacilityMaster.lng}]]*/;
    const lat = /*[[${tfcFacilityMaster.lat}]]*/;
    let map = new MozAtesMap({
        elementId: 'map',
        center_lng: lng,
        center_lat: lat,
        isInitDrawCenterMarker: true
    });

    function findOprtrBtn() {
        $("#modalTbody > tr").remove();
        $("#modalPaging > div").remove();

        var page = $("#modalPage").val();
        var searchTxt = $("#searchContent").val();
        var start = $("#modalStart").val();
        $.ajax({
            type: "get",
            data: {"searchType": "oprtrNm", "searchTxt": searchTxt, "page": page, "start": start},
            url: '/common/modal/oprtr/search/list.ajax',
            success: function (result) {
                var html = '';
                $(result.data.list).each(function (index, item) {
                    var oprtrDeptNm = item.oprtrDeptNm;
                    var oprtrNm = item.oprtrNm;
                    if (isNull(oprtrDeptNm)) {
                        oprtrDeptNm = '-';
                    }
                    if (isNull(oprtrNm)) {
                        oprtrNm = '-';
                    }
                    html += '<tr onclick="selectDept(\'' + item.oprtrId + '\', \'' + oprtrNm + '\', \'' + oprtrDeptNm + '\')">' +
                        '<td>' + item.rnum + '</td>' +
                        '<td>' + oprtrDeptNm + '</td>' +
                        '<td>' + oprtrNm + '</td>' +
                        '</tr>';
                })
                $("#modalTbody").append(html);
                var paging = result.data.pagination;
                if (paging != null && paging != '') {
                    $("#modalPaging").append(getPagingHtml(paging, page));
                }
                $("#totalCnt").text(paging.totalListCnt);
                var start = result.data.webOprtr.start;
                $("#modalStart").val();
            }
        });
    }

    function fnPageMove(page) {
        $("#modalPage").val(page);
        findOprtrBtn();
    }

    function selectDept(oprtrId, oprtrNm, oprtrDeptNm) {
        $("#oprtrNm").val(oprtrNm);
        $("#oprtrId").val(oprtrId);
        if (oprtrDeptNm == null || oprtrDeptNm == '') {
            $("#oprtrDeptNm").val('Nenhum departamento');
        } else {
            $("#oprtrDeptNm").val(oprtrDeptNm);
        }
        changeDeptListModal('hide');
    }

    $("#btnDelete").click(function () {
        new ModalBuilder().init().alertBody(/*[[#{equipment.facilityDetail.deleteMessage}]]*/).footer(2,'Confirmar',function(button, modal){
            modal.close();
            setTimeout(()=>{
                const idx = /*[[${tfcFacilityMaster.tfcFacilityId}]]*/;
                $.ajax({
                    url: /*[[@{/eqp/facility/delete.ajax}]]*/ "/eqp/facility/delete.ajax",
                    type: "post",
                    data: {"tfcFacilityId": idx},
                    success: function (result) {
                        var resultCode = result.code;
                        var resultMessage = result.message;
                        if (resultCode === 200) {
                            new ModalBuilder().init().alertBody(resultMessage).footer(4,'Confirmar',function(button, modal){
                                modal.close();
                                location.href = /*[[@{/eqp/facility/list.do?pageType=list}]]*/ '/eqp/facility/list.do?pageType=list';
                            }, 'Cancelar', function(button, modal){
                            }).open();
                        } else {
                            new ModalBuilder().init().successBody(resultMessage).footer(4,'Confirmar',function(button, modal){
                                modal.close();
                            }).open();
                        }
                    }
                });
            },500);
        }, 'Cancelar', function(button, modal){
            modal.close();
        }).open();
    });

    // Management history modal details
    document.addEventListener("DOMContentLoaded", () => {
        const historyList = [[${tfcFacilityMntnHstList}]];
        if (historyList.length === 0) return;

        const title = [[#{equipment.facilityDetail.management.modal.details}]];
        const table = document.getElementById("managementTable");
        const rows = table.querySelectorAll("tr");
        rows.forEach(row => {
            row.addEventListener("click", (event) => {
                const cells = Array.from(row.children);
                const clickedCell = event.target;

                if (clickedCell.tagName.toLowerCase() === 'td') {
                    const clickedIndex = cells.indexOf(clickedCell);

                    if (clickedIndex !== cells.length - 1) {
                        const detailValue = row.dataset.value;
                        let modalDetailHtml = `
                            <div class="modal-contents modal-company-group">
                                <div class="modal-title">
                                    <dt class="modal-title-text">${title}</dt>
                                    <img id="modalDetailClose"src="/images/close.png" alt="닫기" class="close">
                                </div>
                                <div class="modal-body">
                                    <div id="hisDetails">
                                        <div id="MtDetails">${detailValue}</div>
                                    </div>
                                </div>
                            </div>
                        `;

                        modalContent.innerHTML += modalDetailHtml;
                        modalContent.style.display = 'block';

                        let closeBtn = document.getElementById('modalDetailClose');

                        closeBtn.addEventListener('click', function (e) {
                            modalContent.innerHTML = "";
                            modalContent.style.display = "none";
                        });
                    }
                }
            });
        });
    });

    function deleteHst(tfcFacilityLogId){
        const deleteConfirm = /*[[#{common.message.confirmDelete}]]*/;
        const successMsg = /*[[#{common.message.success}]]*/;
        const failMsg = /*[[#{common.message.fail}]]*/;

        new ModalBuilder().init().successBody(/*[[#{sitemng.codeModify.message.confirmModify}]]*/).footer(2, 'Confirmar', function (button, modal) {
            modal.close();
            setTimeout(() => {
                $.ajax({
                    url: /*[[@{/eqp/facility/mntnDelete.ajax}]]*/ "/eqp/facility/mntnDelete.ajax",
                    type: "post",
                    data: {"tfcFacilityLogId": tfcFacilityLogId},
                    success: function (data) {
                        new ModalBuilder().init().successBody(successMsg).footer(4,'Confirmar',function(button, modal){
                            modal.close();
                            location.reload();
                        }).open();
                    },
                    error: function (data) {
                        new ModalBuilder().init().successBody(failMsg).footer(4,'Confirmar',function(button, modal){
                            modal.close();
                        }).open();
                    }
                });
            }, 500);
        }).open();
    }
</script>