<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div id="container-fluid">
		<h1 id="detail-content-title" th:text="#{equipment.facilityRegist.title}">교통시설물 등록</h1>
		<div>
			<form id="frmFacilityRegist" enctype="multipart/form-data">
			<table class="detail-table">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<th>
							<span class="requiredMark" th:text="#{equipment.facilityRegist.trafficFacilityName}">시설물 이름</span>
						</th>
						<!-- 여기서부터 /block까지 이미지 생성. -->
						<td>
							<input type="text" class="main-input data-validate" name="facilityNm" th:placeholder="#{equipment.facilityRegist.placeholder.trafficFacilityName}"
							th:data-valid-name="#{equipment.facilityRegist.trafficFacilityName}" data-valid-required>
						</td>
						<th>
							<span class="requiredMark" th:text="#{equipment.facilityRegist.trafficFacilityType}">시설물 유형</span>
						</th>
						<td>
							<select id="facilityTy" class="filter-select filter95 data-validate" name="facilityTy" th:data-valid-name="#{equipment.facilityRegist.trafficFacilityType}" data-valid-required>
								<option value="">Select</option>
								<th:block th:each="item : ${facTyCd}">
									<option th:value="${item.cdId}" th:text="${item.cdNm}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<span class="requiredMark" th:text="#{equipment.facilityRegist.trafficFacilityDivision}">시설물 구분</span>
						</th>
						<!-- 여기서부터 /block까지 이미지 생성. -->
						<td>
							<select id="facilityDiv" name="facilityDiv" class="filter-select filter95 data-validate" th:data-valid-name="#{equipment.facilityRegist.trafficFacilityDivision}" data-valid-required>
								<option value="">Select</option>
								<th:block th:each="item : ${facDivCd}">
									<option th:value="${item.cdId}" th:text="${item.cdNm}"></option>
								</th:block>
							</select>
						</td>
						<th>
							<span class="requiredMark" th:text="#{equipment.facilityRegist.trafficFacilityCategory}">시설물 카테고리</span>
						</th>
						<td>
							<select id="facilityCate" name="facilityCate" class="filter-select filter95 data-validate" th:data-valid-name="#{equipment.facilityRegist.trafficFacilityCategory}" data-valid-required>
								<option value="">Select</option>
								<th:block th:each="item : ${facCateCd}">
									<option th:value="${item.cdId}" th:text="${item.cdNm}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<span class="requiredMark" th:text="#{equipment.facilityRegist.useYn}">사용 여부</span>
						</th>
						<td>
							<label for="useY" class="radioBox">
								<input type="radio" id="useY" name="useYn" value="Y" checked>
								<span class="radioOn">
								</span>
								<span th:text="#{equipment.facilityRegist.useY}">
								</span>
							</label>
							<label for="useN" class="radioBox">
								<input type="radio" id="useN" name="useYn" value="N">
								<span class="radioOn">
								</span>
								<span th:text="#{equipment.facilityRegist.useN}">
								</span>
							</label>
						</td>
						<th>
							<span class="requiredMark" th:text="#{equipment.facilityRegist.area}">구역</span>
						</th>
						<td>
							<select id="areaCd" name="areaCd" class="filter-select filter95 data-validate" th:data-valid-name="#{equipment.facilityRegist.area}" data-valid-required>
								<option value="">Select</option>
								<th:block th:each="item : ${areaCd}">
									<option th:value="${item.cdId}" th:text="${item.cdNm}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<span class="requiredMark" th:text="#{equipment.facilityRegist.installationLocation}">설치 위치</span>
						</th>
						<td colspan="3" class="modal-find-line">
							<input type="text" class="main-input data-validate" name="roadAddr" th:placeholder="#{equipment.facilityRegist.placeholder.installationLocation}"
							 th:data-valid-name="#{equipment.facilityRegist.installationLocation}" data-valid-required>
<!--							<i class="search-icon mapSearch"></i>-->
							<br><br>
							<div id="map" class="detailMap">
								
							</div>
						</td>					
					</tr>
					<tr>
						<th>
							<span th:text="#{equipment.facilityRegist.lat}">위도</span>
						</th>
						<td>
							<input type="text" class="main-input data-validate" id="lat" name="lat" th:placeholder="#{equipment.facilityRegist.placeholder.lat}"
							th:data-valid-name="#{equipment.facilityRegist.lat}">
						</td>					
						<th>
							<span th:text="#{equipment.facilityRegist.lng}">경도</span>
						</th>
						<td>
							<input type="text" class="main-input data-validate" id="lng" name="lng" th:placeholder="#{equipment.facilityRegist.placeholder.lng}"
							th:data-valid-name="#{equipment.facilityRegist.lng}">
						</td>					
					</tr>
					<tr>
						<th th:text="#{equipment.facilityRegist.image}">시설물 사진첨부</th>
						<td colspan="3">
							<input type="file" id="uploadFiles" name="uploadFiles" multiple />
							<div id="dragArea">
								<div class="drag-area">
								    <div class="dragText">
								        File name cannot be more than 50 characters<br>
										The file size can only be uploaded under 5MB<br>
										Only JPG, JPEG, PNG, and MP4 files can be uploaded
								    </div>
								    <div>
								        <input type="file" id="uploadFiles" accept="image/*" onchange="addFiles(this);" multiple style="display: none;">
								        <button type="button" onclick="fileDrag()" id="uploadBtn" class="main-btn">File Upload</button>
								    </div>
								</div>
							</div>
							<div class="upload_wrap none">
								<div id="upload_list_box"></div>	
							</div>
						</td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityRegist.trafficFacilityStatus}">교통시설물 상태</th>
						<td colspan="3">
							<input type="text" class="main-input data-validate" id="facilityStts" name="facilityStts" th:placeholder="#{equipment.facilityRegist.placeholder.trafficFacilityStatus}"
							th:data-valid-name="#{equipment.facilityRegist.trafficFacilityStatus}">						</td>
					</tr>
					<tr>
						<th th:text="#{equipment.facilityRegist.details}">상세내용</th>
						<td colspan="3">
							<textarea class="detail-table-textarea" name="facilityDesc" 
							th:placeholder="#{equipment.facilityRegist.placeholder.enforceementEquipmentInfo}"></textarea>
						</td>
					</tr>

				</tbody>
			</table>
			</form>
			<div class="btn-wrap-center">
				<button type="button" id="btnGoList" class="sub-btn form-button" th:text="#{equipment.common.button.list}"
					th:onclick="|location.href='/eqp/facility/list.do'|">취소</button>
				<button type="button" id="btnRegist" class="main-btn form-button" th:text="#{equipment.common.button.register}"
					onclick="saveInfo()">등록</button>
			</div>
		</div>
	</div>
	<div class="modal-wrap" id="modal">

	</div>
</th:block>

</html>
<script th:inline="javascript">
	let map = new MozAtesMap({
		elementId : 'map',
		center_lng : null,
		center_lat : null,
		isInitDrawCenterMarker : false
	});
	
	function saveInfo() {
		if($("#frmFacilityRegist").soValid()) {
			var form = $("#frmFacilityRegist")[0];
			var data = new FormData(form);
			$.ajax({
				url: /*[[@{/eqp/facility/save.ajax}]]*/ "/eqp/facility/save.ajax",
				type: "post",
				enctype: 'multipart/form-data',
				data: data,
				processData: false,
				contentType: false,
				success: function (result) {
					if(result.code == 200){
						new ModalBuilder().init().successBody(result.message).footer(4,'확인',function(button, modal){
							modal.close();
							location.href =/*[[@{/eqp/facility/list.do}]]*/ "";
						}).open();
						modalAlertWrap();
					} else {
						new ModalBuilder().init().alertBoby(result.message).footer(4,'확인',function(button, modal){modal.close();}).open();
						modalAlertWrap();
					}
				}
			});
		}
	  }
		
			// 모달 수정 여부 확인필요?
		const modalContent = document.getElementById("modal");
		
			// modal control
		function changeDeptListModal(type) {
	
			if (type == "show") {
				$.ajax({
					url: '/common/modal/oprtr/list.ajax',
					type: "get",
					dataType: 'html',
					success: function (data) {
						modalContent.innerHTML += data;
						modalContent.style.display = 'block';
					}
				});
			} else if (type == "hide") {
				modalContent.innerHTML = '';
				modalContent.style.display = 'none';
			}
	
		}
	
	function findOprtrBtn(){
		$("#modalTbody > tr").remove();
		$("#modalPaging > div").remove();
		
		var page = $("#modalPage").val();
		var searchTxt = $("#searchContent").val();
		var start = $("#modalStart").val();
		$.ajax({
			type : "get",
			data : {"searchType" : "oprtrNm", "searchTxt" : searchTxt, "page" : page, "start" : start},
			url: '/common/modal/oprtr/search/list.ajax',
			success : function(result) {
				var html = '';
				$(result.data.list).each(function(index, item){
					var oprtrDeptNm = item.oprtrDeptNm;
					var oprtrNm = item.oprtrNm;
					if(isNull(oprtrDeptNm)){
						oprtrDeptNm = '-';
					}
					if(isNull(oprtrNm)){
						oprtrNm = '-';
					}					
					html += '<tr onclick="selectDept(\''+item.oprtrId+'\', \''+oprtrNm+'\', \''+ oprtrDeptNm +'\')">'+
								'<td>'+item.rnum+'</td>'+
								'<td>'+oprtrDeptNm+'</td>'+								
								'<td>'+oprtrNm+'</td>'+
							'</tr>';
		    	})
				$("#modalTbody").append(html);			
		    	var paging = result.data.pagination;
				if(paging != null && paging != ''){
					$("#modalPaging").append(getPagingHtml(paging,page));
				}
				$("#totalCnt").text(paging.totalListCnt);
				var start = result.data.webOprtr.start;
				$("#modalStart").val();
			}
		});
	}
	
	function fnPageMove(page) {
		$("#modalPage").val(page);
		findOprtrBtn();
	}
	
	function selectDept(oprtrId, oprtrNm, oprtrDeptNm){
		$("#crOprtrNm").val(oprtrNm);
		$("#crOprtrId").val(oprtrId);
		$("#crOprtrDept").val(oprtrDeptNm);
		changeDeptListModal('hide');
	}
	
	var fileNo = 0;
	var filesArr = new Array();
	
	function addFiles(obj){
		var fileMaxCnt = 5;
		var fileCnt = $("#image_container div").length;
		var remainFileCnt = fileMaxCnt - fileCnt;
		var curFileCnt = obj.files.length;
		
		if (curFileCnt > remainFileCnt) {
	       return alert("첨부파일은 최대 " + fileMaxCnt + "개 까지 첨부 가능합니다.");
	    }
		
		for (var i = 0; i < Math.min(curFileCnt, remainFileCnt); i++) {

	        const file = obj.files[i];

	        // 첨부파일 검증
	        if (validation(file)) {
	            // 파일 배열에 담기
	            var reader = new FileReader();
	            reader.onload = function () {
	                filesArr.push(file);
	            };
	            reader.readAsDataURL(file)

	            // 목록 추가
	            let htmlData = '';
	            htmlData += '<div id="file' + fileNo + '" class="filebox">';
	            htmlData += '   <p class="name">' + file.name + '</p>';
	            htmlData += '   <button type="button" onclick="deleteFile(' + fileNo + ');"></button>';
	            htmlData += '</div>';
	            $('#image_container').append(htmlData);
	            fileNo++;
	        } else {
	            continue;
	        }
	    }
	    // 초기화
	    $("input[type=file]").value = "";
	}
	
	function validation(obj){
	    const fileTypes = ['image/gif', 'image/jpeg', 'image/png'];
	    if (obj.name.length > 100) {
	        alert("파일명이 100자 이상인 파일은 제외되었습니다.");
	        return false;
	    } else if (obj.size > (100 * 1024 * 1024)) {
	        alert("최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.");
	        return false;
	    } else if (obj.name.lastIndexOf('.') == -1) {
	        alert("확장자가 없는 파일은 제외되었습니다.");
	        return false;
	    } else if (!fileTypes.includes(obj.type)) {
	        alert("첨부가 불가능한 파일은 제외되었습니다.");
	        return false;
	    } else {
	        return true;
	    }
	}
	
	function deleteFile(num) {
	    document.querySelector("#file" + num).remove();
	    filesArr[num].is_delete = true;
	}
</script>