<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<form id="frmSearch">
	<input type="hidden" id="page" name="page" th:value="1">
	<input type="hidden" id="pageType" name="pageType" th:value="list">
</form>

<div id="search-form-result-wrap">
	<div id="table-search-result-text">
		Found <span th:text='|"${pagination.totalListCnt}"|'>"0"</span> results
	</div>
	<div id="table-regist-btn">
		<button type="button" id="" class="main-btn form-button" th:text="#{equipment.facilityMngList.register}" 
		th:onclick="|location.href='/eqp/facility/save.do'|">등록하기</button>
	</div>
</div>

<div class="">
	<table class="main-table" id="tblList">
		<thead>
			<tr>
				<th th:text="#{equipment.facilityMngList.tableNumber}">No.</th>
				<th th:text="#{equipment.facilityMngList.facType}">시설물 타입</th>
				<th th:text="#{equipment.facilityMngList.facId}">시설물 ID</th>
				<th th:text="#{equipment.facilityMngList.facName}">시설물 이름</th>
				<th th:text="#{equipment.facilityMngList.facStts}">시설물 상태</th>
				<th th:text="#{equipment.facilityMngList.facLocation}">위치</th>
				<th th:text="#{equipment.facilityMngList.facDate}">설치일</th>
				<th th:text="#{equipment.facilityMngList.facInCharge}">담당자</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="facilityItem : ${facilityList}"
				th:onclick="|location.href='@{/eqp/facility/detail.do(tfcFacilityId=${facilityItem.tfcFacilityId})}'|">
				<td th:text="${facilityItem.rnum}"></td>
				<td th:text="${facilityItem.cmCd.cdNm}"></td>
				<td th:text="${facilityItem.tfcFacilityId}"></td>
				<td th:text="${facilityItem.facilityNm}"></td>
				<td th:text="${facilityItem.facilityStts == 'Y' ? 'Normal' : 'Breakdown'}"></td>
				<td th:text="${facilityItem.roadAddr}"></td>
				<td th:text="${#dates.format(facilityItem.crDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<td th:text="${facilityItem.webOprtr.oprtrNm}"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="page_wrap">
	<div th:insert="tags/paging :: pagingFragment"></div>
</div>

</html>
<script th:inline="javascript">
	function fnPageMove(page) {
		$("#page").val(page);
		getListAjax();
	}
</script>