<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>MOZ-ATES</title>
        
        <!--파비콘-->
		<link rel="icon" th:href="@{/images/logo.png}">

        <!-- CSS-->
        <link th:href="@{/css/common.css}" rel="stylesheet">
        <link th:href="@{/css/main.css}" rel="stylesheet">
        <link th:href="@{/css/layout.css}" rel="stylesheet">
        <link th:href="@{/css/reset.css}" rel="stylesheet">
        <link th:href="@{/css/fonts.css}" rel="stylesheet">
        <link th:href="@{/css/base.css}" rel="stylesheet">
        <!-- CSS-->
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<!--javascript Start-->
		<!--library JS-->
        <script th:src="@{/js/lib/jquery-1.12.4.min.js}"></script>
		<!--custom JS-->
        <script th:src="@{/js/custom/common.js}"></script>
		<script th:src="@{/js/custom/driver_api_search.js}"></script>
        <script th:src="@{/js/custom/validation.js}"></script>
        <script th:src="@{/js/custom/moz_modal.js}"></script>
     	<script th:src="@{/js/custom/chart_min.js}"></script>
     	<script th:src="@{/js/custom/chart.js}"></script>
        <script th:src="@{/js/mapbox/mapbox-gl.js}"></script>
        <link th:href="@{/js/mapbox/mapbox-gl.css}" rel="stylesheet">
        <script th:src="@{/js/mapbox/mozates.map.js}"></script>
		<!--<script th:src="@{/js/custom/app.js}"></script>-->
		<!--javascript End-->

    </head>


</th:block>



</html>