<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
	<!-- Sidebar -->
	<ul id="sidebar" th:if="${!#lists.isEmpty(sideMenuList)}">
		<!-- Sidebar - Brand -->
		<a class="" th:href="@{/dashboard}">
			<div id="logo">
				<img src="/images/inatro-logo.png" alt="로고">
			</div>
		</a>
		<!-- Sidebar - Brand - End -->
		<!-- Menu -->
		<li class="sidebar-list nav-item" th:each="sideMenuItem : ${sideMenuList}">
			<a class="sidebar-list-title nav-link" onclick="sideBarToggle(this)" th:href="${sideMenuItem.menuUrl}" th:if="${sideMenuItem.menuAbv == 'dashboard'}">
				
				<span th:text="${lang == 'por' ? sideMenuItem.menuNmPor : sideMenuItem.menuNmEng}"></span>
			</a>
			
			<a class="sidebar-list-title nav-link" onclick="sideBarToggle(this)" th:if="${sideMenuItem.menuAbv != 'dashboard'}"
				th:classappend="${#request.getServletPath().startsWith('/'+sideMenuItem.menuAbv) ? 'on':''}"
				th:attr="data-target='#'+${sideMenuItem.menuAbv}">
				<span th:text="${lang == 'por' ? sideMenuItem.menuNmPor : sideMenuItem.menuNmEng}"></span>
				<th:block th:if="${!#lists.isEmpty(sideMenuItem.subMenuInfoList)}">
					<i class="arrow"></i>
				</th:block>
			</a>
			<div th:if="${!#lists.isEmpty(sideMenuItem.subMenuInfoList)}"
			th:classappend="${#request.getServletPath().startsWith('/'+sideMenuItem.menuAbv) ? 'opened':''}"
			 th:id="${sideMenuItem.menuAbv}" class="sub-list collapse">
				<div class="bg-white" th:classappend="${#request.getServletPath()}">
					<a class="collapse-item" th:each="subMenuList:${sideMenuItem.subMenuInfoList}"
						th:classappend="${@mozatesCommonUtils.getUrlPattrn(#request.getServletPath(),'/') eq subMenuList.menuUrlPattrn ? 'sub-list-on':''}"
						th:href="${subMenuList.menuUrl}"
						th:text="${lang == 'por' ? subMenuList.menuNmPor : subMenuList.menuNmEng}"></a>
				</div>
			</div>
		</li>
		<!-- Menu End-->

		<!-- End of Sidebar 
		<div class="copyright">
			@copyright MOZ-ATES
		</div>-->
	</ul>
	
</th:block>

</html>