<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:if="${!#lists.isEmpty(sideMenuList)}">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}">
            <div class="">
                <i class="logo"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="#{main.sidebar.title}">Mozates</div>
        </a>
        <!-- Sidebar - Brand - End -->

        <hr class="sidebar-divider">
        <!-- Menu -->
        <li class="nav-item" th:each="sideMenu : ${sideMenuList}" th:classappend="${#request.getServletPath().startsWith('/'+sideMenu.mainMenu.menuAbv) ? 'active':''}">
            <a class="nav-link" th:href="${sideMenu.mainMenu.menuUrl}" th:if="${sideMenu.mainMenu.menuAbv == 'dashboard'}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
            	<span th:text="${lang == 'por' ? sideMenu.mainMenu.menuNmPor : sideMenu.mainMenu.menuNmEng}"></span>
            </a>
		    <hr th:if="${sideMenu.mainMenu.menuAbv == 'dashboard'}" class="sidebar-divider my-0">
            <a class="nav-link" th:if="${sideMenu.mainMenu.menuAbv != 'dashboard'}" data-toggle="collapse" th:aria-controls="${sideMenu.mainMenu.menuAbv}" th:attr="data-target='#'+${sideMenu.mainMenu.menuAbv}" aria-expanded="false">
                <i th:class="${sideMenu.menuIcon}"></i>
            	<span th:text="${lang == 'por' ? sideMenu.mainMenu.menuNmPor : sideMenu.mainMenu.menuNmEng}"></span>
            </a>
            <div th:if="${!#lists.isEmpty(sideMenu.subMenuList)}"th:id="${sideMenu.mainMenu.menuAbv}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" th:classappend="${#request.getServletPath().startsWith('/'+sideMenu.mainMenu.menuAbv) ? 'show':''}">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item"  th:each="subMenuList:${sideMenu.subMenuList}" th:classappend="${#request.getServletPath().startsWith(subMenuList.menuUrl) ? 'active':''}" th:href="${subMenuList.menuUrl}" th:text="${lang == 'por' ? subMenuList.menuNmPor : subMenuList.menuNmEng}"></a>
                </div>
            </div>
		</li>
        <!-- Menu End-->
        <hr class="sidebar-divider d-none d-md-block">
    	<!-- End of Sidebar -->
    </ul>
</th:block>

</html>