.filter98 {
	background: url(/images/arrow_black.png) 98% / 10px no-repeat !important;
}
.filter95 {
	background: url(/images/arrow_black.png) 95% / 10px no-repeat !important;
}
.none {
	display:none;
}
.mg0 {
	margin:0 !important;
}
.mt16 {
	margin-top:16px;
}
.mt30 {
	margin-top:30px;
}
.mb20 {
	margin-bottom: 20px !important;
}
.d-none {
	display: none;
}
.is_disabled {
	pointer-events: none;
}
.flex {
	display: flex;
}
.tdFlex {
	display: flex;
	border-top:none !important;
	border-bottom:none !important;
}
.tdborderTopFlex {
	display: flex;
	border-top:none !important;
}
.textCenter {
	text-align: center !important;
}
.justify-center {
	justify-content: center;
}