#logo {
	margin-bottom: 32px;
 }
.filter-select {
	 padding:0 30px 0 8px;
	 height:32px;
	 border:none;
	 outline: none;
	 background:url('/images/arrow_black.png') 95% / 10px no-repeat;
	 font-size:14px;
	 border-radius: 6px;
	 -webkit-appearance:none; /* for chrome */
   	 -moz-appearance:none; /*for firefox*/
     appearance:none;
     border:1px solid #d7d7d7;
}
.search-wrap select { 
	 padding: 8px 20px 8px 8px;
	 -webkit-appearance:none; /* for chrome */
     -moz-appearance:none; /*for firefox*/
     appearance:none;
     border:1px solid #d7d7d7;
	 border-radius: 6px;
	 background: url('/images/arrow_black.png') 91% / 10px no-repeat !important;
 }
 .th-select {
	padding-right:22px;
	background:url('/images/arrow_black.png') 100% / 10px no-repeat;
	border: none;
	outline: none;
	-webkit-appearance:none; /* for chrome */
   	-moz-appearance:none; /*for firefox*/
    appearance:none;
	font-weight: 400;
 }
.th-select option {
	color:#000;
 }
 option {
	 padding: 6px;
 }
.main-input {
	outline-color: #00967a;
	font-size:14px;
	border-radius: 6px;
	padding: 0 8px;
	border:1px solid #d7d7d7;
	height:30px;
	width:97%;
}

input[type="text"]::placeholder {
	color: #d7d7d7;
}
input[type="password"]::placeholder {
	color: #d7d7d7;
}
input[type="file"] {
	background: none;
	border:none;
}
input[type="checkbox"] {
	accent-color: #00967a;
	height: auto;
}
input[type="radio"] {
	accent-color: #00967a;
	height: auto;
}

.input-date {
   position: relative;
   padding: 0px 26px 0px 8px !important;
   background: url('/images/calendar.png') 91% / 19px no-repeat;
   background-size: 16px;
   font-size: 14px;
   height:32px;
   border:1px solid #d7d7d7;
   border-radius: 6px;
}
.input-time {
   position: relative;
   padding: 0px 8px 0px 8px !important;
   background-size: 16px;
   font-size: 14px;
   height:32px;
   border:1px solid #d7d7d7;
   border-radius: 6px;
}
input[type="datetime-local"] {
	outline-color: #00967a;
}
input[type="date"]::-webkit-inner-spin-button,-webkit-clear-button {
	display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
   position: absolute;
   left:0;
   top:0;
   width:100%;
   height:100%;
   background: transparent;
   color: transparent;
   cursor: pointer;
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
button {
	cursor: pointer;
}
/*버튼 종류*/
.registor-btn-wrap button {
	 padding:10px 14px;
 }
 .registor-btn-right {
	 display: flex;
	 gap: 8px;
	 justify-content: center;
	 position: relative;
 }
 .main-btn {
	 background: #00967a !important;
	 padding:12px;
	 border:none;
	 outline: none;
	 border-radius: 6px;
	 color: white;
	 font-size:14px;
	 line-height: inherit;
	 cursor: pointer;
	 min-width:70px;
	 text-align: center;
 }
 .sub-btn {
	 background: #414141;
	 padding:12px;
	 border:none;
	 outline: none;
	 border-radius: 6px;
	 color: white;
	  font-size:14px;
	 line-height: inherit;
	 cursor: pointer;
	 min-width:70px;
	 text-align: center;
 }
 .delete-btn {
	 background: #cd4545;
	 padding:12px;
	 border:none;
	 outline: none;
	 border-radius: 6px;
	 color: white;
	  font-size:14px;
	 line-height: inherit;
	 cursor: pointer;
	 min-width:70px;
	 text-align: center;
 }
 .border-btn {
	 border:1px solid #00967a;
	 background: none;
	 color:#00967a;
	 padding:12px;
	 outline: none;
	 border-radius: 6px;
	  font-size:14px;
	 line-height: inherit;
	 cursor: pointer;
 }
  .border-sub-btn {
	 border:1px solid #B1B1B1;
	 background: none;
	 color:#B1B1B1;
	 padding:12px;
	 outline: none;
	 border-radius: 6px;
	 font-size:14px;
	 line-height: inherit;
	 cursor: pointer;
 }
 .register-btn {
	 margin-top:12px;
	 text-align: right;
	 padding:12px;
	 border:none;
	 outline: none;
	 border-radius: 6px;
	 font-size:14px;
	 line-height: inherit;
	 cursor: pointer;
 }
  .detailPriceBtn {
	background: none;
	border:none;
 }
 .smBtn {
	 padding: 6px !important;
 }
 .table-plus-btn {
	 background: #e32c2c;
 }
 .innerDeleteBtn {
	 padding:8px 10px !important;
 }
 #download-icon {
	 margin-left:4px;
 }
#table-regist-btn {
	display: flex;
	gap:8px;
}
/*버튼 종류 끝*/

/*modal css*/
.modal-wrap {
	display:none;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.6);
}
.modal-contents {
	position: absolute;
	top:50%;
	left:50%;
	background: #fff;
	transform: translate(-50%,-50%);
	border-radius: 12px;
	overflow: hidden;
}
.modal-company-group {
	min-width:600px;
	max-width: 900px;
}
.modal-title {
	padding: 22px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	border-bottom: 1px solid #d1d1d1;
	background: #00967A;
}
.modal-title-text {
	font-size:18px;
	font-weight: 700;
	color: #fff;
}
.modal-sub-title {
	padding: 24px 32px;
	line-height: 25px;
}
.modal-sub-title p {
	font-weight: 500;
}
.modal-body {
	padding: 24px;
}
.modal-form-wrap {
	position: relative;
	display: flex;
}
.modalSelect {
	margin-bottom: 20px;
	width:100%;
}
.modal-search {
	border-radius:6px;
	width:100%;
	padding:12px;
	border:none;
	outline: none;
	background: #f7f7f7;
}
.modal-search-icon {
    cursor: pointer;
	position: absolute;
	top:6px;
	right:6px;
	width:26px;
	height:26px;
	display: block;
	background:url('/images/modalSearch.png') 90% / 100% no-repeat;
}
.modal-group-find {
	padding: 0;
	background: #00856C;
	width:58px;
	height:40px;
	border: none;
	outline: none;
	color:#fff;
	border-radius: 6px;
	font-size:16px;
}
.ex-group-title {
	margin-bottom: 8px;
}
.ex-group-name {
	margin-top:16px;
	font-size:14px;
	font-weight: 600;
	text-align: left;
}

.table-option {
	padding:12px;
	position: absolute;
	top:0;
	width:160px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	background: #fff;
}
.table-option div {
	text-align: left;
	margin:8px 0;
	cursor: pointer;
	font-weight: 500;
}
.table-option div img {
	margin-right:8px;
}
.modal-search-list {
	margin-top:40px;
}
.modal-btn {
	margin-top:16px !important;
}
.close {
	cursor: pointer;
}
.modal-find-line {
	position: relative;
}
.modal-find-line .search-icon {
	top:21px;
	right:23px;
	left:auto;
}
.modal-search-list table thead th {
	padding: 10px;
	font-weight: 600;
	color:#000;
}
.modal-search-result {
	margin-bottom: 8px;
	font-size:14px;
	text-align: left;
}
.modal-search-result span {
	color:#ff3142;
	font-weight:bold;
}
.modal-search-list .pagination {
	margin-bottom:0;
}
.modal-payment-total {
	margin-bottom: 8px;
	font-size:14px;
	text-align: left;
}
.modalPayMentList {
	margin-bottom: 18px;
}
.modalBtn {
	margin-top: 16px;
	padding: 16px;
	text-align: center;
	border:none;
	width:100%;
	background: #008A70;
	color: #fff;
	font-weight: 500;
	font-size:16px;
	border-radius: 6px;
}
/*모달 끝*/

/*모달 얼럿 공통*/
.modal-container {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
#modal-wrap {
	border-radius: 6px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width:400px;
}
#modal-background {
	background: #00000030;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
#modal-header {
	background: #00967a;
	padding:26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#modal-title {
	font-size:18px;
	font-weight: 600;
}
#modal-body {
	padding: 30px;
	text-align: center;
}
#alert-img {
	margin-bottom: 16px;
}
#modal-txt {
	font-weight: 600;
	font-size:18px;
}
#modal-footer {
	display: flex;
}
#modal-footer button {
	padding: 16px;
	width:100%;
	border-radius: 0;
}
#modal-footer-onebtn button {
	padding: 16px;
	border-radius: 0;
	width:100%;
}
.txt-underline {
	text-decoration: underline;
	text-underline-position: from-font;
	color:#00967a;
}
.search-table-title {
	font-size:20px;
	margin-bottom: 12px;
	color:#01BD9A;
	font-weight: 900;
}
#loading-cover {
	position:fixed;
	z-index:9999;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
}
#loadingContainer {
	position:absolute;
	left:50%;
	top:50%;
	text-align:center;
	transform: translate(-50%, -50%);
}
#loadingText {
	margin-top:20px;
	font-size:20px;
	color:white;
}
.attachmentLine {
	display: flex;
	border-top: none !important;
}
.attachmenList {
	padding: 10px;
	background: #353535;
	border-radius: 6px;
	color: #fff;
}
.requiredMark {
	position: relative;
}
.requiredMark::before {
	content: '*';
	position: absolute;
	top: 6px;
	left: -13px;
	color: red;
}
.mapLocationIcon {
	padding: 6px;
	position: absolute;
	top:10px;
	right: 10px;
	z-index: 99;
	background: #fff;
	border-radius: 6px;
	width: 20px;
	cursor: pointer;
}
@-webkit-keyframes scaling-dots {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40%, 60% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes scaling-dots {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40%, 60% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.scaling-dots {
  display: grid;
  height: 10px;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 10px); }
  .scaling-dots div {
    -webkit-animation: scaling-dots 1s infinite ease backwards;
            animation: scaling-dots 1s infinite ease backwards;
    background: #fff;
    border-radius: 100%;
    height: 15px;
    width: 15px; }
    .scaling-dots div:nth-child(1) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .scaling-dots div:nth-child(2) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .scaling-dots div:nth-child(3) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .scaling-dots div:nth-child(4) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .scaling-dots div:nth-child(5) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
#map {
	border-radius: 6px;
}
.text-pre-line{
	white-space:pre-line
}
.eye {
	display: block;
	cursor: pointer;
	width: 26px;
	height:17px;
	background: url('../images/eye_off.png') no-repeat center / cover;
	position:absolute;
	top:24px;
	right:24px;
}
.eye.on {
	height:13px;
	background: url('../images/eye_on.png') no-repeat center / cover;
	top:26px;
}
.mkPopWrap {
	min-width: 200px;
}
.mkCon {
	display: flex;
	gap:10px;
	align-items: center;
	justify-content: space-between;
}
.mkTitle {
	padding-left:8px;
	position: relative;
	font-weight: 600;
}
.mkTitle::before {
	content: '';
	position: absolute;
	top:8px;
	left: 0;
	width: 3px;
	height: 3px;
	background: #000;
	border-radius: 20px;
}