<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div id="container-fluid">
        <!-- Page Heading -->
        <h1 th:text="#{stat.stat.title.accidentChart}" id="content-title">교통사고 통계</h1>
        <div id="content-sub-title">You can check traffic accident statistics.</div>
        <!-- Content Row -->

        
        <form id="frmSearch">
			<input type="hidden" id="page" name="page">
			<input type="hidden" id="hdnStart" name="start">
			<table id="filter-table">
				<colgroup>
					<col width="15%">
					<col width="85%">
				</colgroup>
				<tbody>
					<th>Time</th>
						<td class="">
							<div class="filterRadioWrap">
								<div class="timeLine">
									<input type="radio" id="timeLine" name="date" class="filterRadio" value="hourly" checked>
									<label for="timeLine" class="filterRadioBtn timeLineBtn" onclick="filterdateCheck('true')" th:text="#{stat.common.hourly}">시간대별</label>
								</div>
								<div>
									<input type="radio" id="monthBtn" name="date" class="filterRadio" value="daily">
									<label for="monthBtn" class="filterRadioBtn" onclick="filterdateCheck('false')" th:text="#{stat.common.daily}">일별</label>
								</div>
								<div>
									<input type="radio" id="monthly" name="date" class="filterRadio" value="monthly">
									<label for="monthly" class="filterRadioBtn monthBtn" onclick="filterdateCheck('monthly')" th:text="#{stat.common.monthly}">월간</label>
								</div>
								<div class="time-sted-change">
									<input class="input-date monthInput" id="sDate" name="sDate" type="date"> ~
									<input class="input-date monthInput" id="eDate" name="eDate" type="date">
								</div>
								<div class="time-today-on">
									<input class="input-date" id="timeLineInput" name="sDate" type="date">
								</div>
							</div>
						</td>
					<tr>
						<th>Category</th>
						<td>
							<div class="filterRadioWrap">
								<div>
									<input type="radio" id="findAll" name="category" class="filterRadio" value="findAll" checked>
									<label for="findAll" class="filterRadioBtn">findAll</label>
								</div>
								<th:block th:each="item, status : ${acdntCdList}">
									<div>
										<input type="radio" th:id="${item.cdId}" name="category" class="filterRadio" th:value="${item.cdId}" th:data-index="${status.index}" th:data-value="${item.cdNm}">
										<label th:for="${item.cdId}" class="filterRadioBtn" th:text="${item.cdNm}"></label>
									</div>
								</th:block>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="btn-wrap-center">
				 <button th:text= "#{penalty.common.search}" type="button" id="btnSearch" class="main-btn form-button">조회</button>
			</div>
		</form>
       
         <div class="chart none">
			<div class="btn-wrap-right">
<!-- 				<a href="" class="excel-down">Excel Download<img src="/images/download.png" class="down-img"></a> -->
			</div>
			<div class="chartBox">
				<canvas id="stat-acdt-bar" width="400" height="200"></canvas>
			</div>
        </div>
    </div>

</th:block>
</html>
<script th:inline="javascript">
	$(document).ready(function(){
		const today = new Date();
		$('#timeLineInput').val(today.toISOString().slice(0, 10));
	})

	/**단속/사고 차트***/
	$("#btnSearch").on("click", function(){
		var timeType = $("input[name=date]:checked").val();
		var cate = $("input[name=category]:checked").val();
		var cateNm = $("input[name=category]:checked").data("value");
		var typeIdx = $("input[name=category]:checked").data("index");
		
		var sDate;
		var eDate;
		switch(timeType){
			case 'hourly':
				sDate = $("#timeLineInput").val();
			break;
			case 'daily':
				sDate = $("#sDate").val();
				eDate = $("#eDate").val();
			break;
			case 'monthly':
				sDate = $("#sDate").val();
				eDate = $("#eDate").val();
			break;
		}
		
		$(".chart").removeClass("none");
		$("#stat-acdt-bar").remove();
		$(".chartBox").append(
			'<canvas id="stat-acdt-bar" width="400" height="200"></canvas>'
		)
		
		var dataArr = new Array();
		
		$.ajax({
			type : "get",
			url: /*[[@{/stat/accident/chart.ajax}]]*/ "/stat/accident/chart.ajax",
			data : {
				"timeType" : timeType,
				"cate" : cate,
				"sDate" : sDate,
				"eDate" : eDate
			},
			success: function(result) {
				var chartLabelString = result.data.chartLabel;
				var chartDataString = result.data.chartDataList;
				var backgroundColor =  ["#00B94A", "#00B981","#00AEB9","#008DB9","#0055B9","#5D50EB","#B050EB","#CB3B89"];
				if(cate == 'findAll'){
					var labelDataList = chartLabelString.toString().split(',');
					var labelArr = result.data.labelList.split(',');
					for(var i = 0; i < labelArr.length; i ++){
						var dataObj = new Object();
			    		var chartData = chartDataString[i];
			    		var labelNm = labelArr[i];
			    		
			    		dataObj.label = labelNm;
			    		dataObj.data = chartData.split(",");
			    		dataObj.backgroundColor = backgroundColor[i];
			    		dataObj.borderWidth = 3;
			    		dataObj.borderColor = backgroundColor[i];
			    		
			     		dataArr.push(dataObj);
					}
				 	new MozChart(ChartType.BAR).init("stat-acdt-bar")
				 	.setDataSetArrayLabel(chartLabelString.split(","))
			 	    .setDataArraySet(dataArr)
			 	    .draw();
				}else {
				 	new MozChart(ChartType.BAR).init("stat-acdt-bar")
				 	    .setData({
				 	        labels: chartLabelString.split(","),
				 	        datasets: [{
				 	            label : cateNm,
				 	        	data: chartDataString.split(","),
				 		        borderColor: backgroundColor[typeIdx],
				 		        backgroundColor: backgroundColor[typeIdx],
				 	        }]   
				 	    })
				 	    .draw();
					}
			}
		})
	});
	    
	const filterButtons = document.querySelectorAll('.filter-table-button');

	filterButtons.forEach(button => {
	    button.addEventListener('click', function() {
	        
	        this.classList.add('on');
	        
	        const siblings = this.parentNode.children;
	        for (let sibling of siblings) {
	            if (sibling !== this) {
	                sibling.classList.remove('on');
	            }
	        }
	    });
	});
</script>

<!-- Page level plugins -->
<!--<script th:src="@{/bootstrap/vendor/chart.js/Chart.min.js}"></script>-->

<!-- Page level custom scripts -->
<!--<script th:src="@{/bootstrap/js/demo/chart-area-demo.js}"></script>-->
<!--<script th:src="@{/bootstrap/js/demo/chart-pie-demo.js}"></script>-->
<!--<script th:src="@{/bootstrap/js/demo/chart-bar-demo.js}"></script>-->