<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <div id="container-fluid">
        <!-- Page Heading -->
        <h1 id="detail-content-title" th:text="#{enforcement.detectionDetail.title}">교통시설물 상세</h1>
        <div class="">
            <table class="sub-table detail-table">
                <colgroup>
                    <col width="15%">
                    <col width="35%">
                    <col width="15%">
                    <col width="35%">
                </colgroup>
                <tbody>
                <tr>
                    <th th:text="#{enforcement.detectionDetail.eqpNm}">장비이름</th>
                    <th:block th:if="${detectionDetail.tfcEnfEqpMatser == null}">
                        <td>
								<span class="cm-no-red-text" th:text="#{enforcement.detectionDetail.eqpNm.null}">No
									Matching Equipment</span>
                        </td>
                    </th:block>
                    <th:block th:unless="${detectionDetail.tfcEnfEqpMatser == null}">
                        <td th:text="${detectionDetail.tfcEnfEqpMatser.eqpNm}"></td>
                    </th:block>
                    <th th:text="#{enforcement.detectionDetail.eqpTime}">단속장비 시간</th>
                    <td th:text="${#dates.format(detectionDetail.enforceTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th th:text="#{enforcement.detectionDetail.equipmentId}">단속장비 ID</th>
                    <td th:text="${detectionDetail.code}"></td>
                    <th th:text="#{enforcement.detectionDetail.eqpYn}">단속등록 상태</th>
                    <td th:switch="${detectionDetail.tfcEqpEnfYn}" class="tdFlex">

                        <th:block th:case="Y">
                            <div class="statusComplete">
                                <img src="/images/status_icon01.png" alt="완료" class="statusImg"> <span
                                    th:text="#{enforcement.detectionDetail.eqpYnY}" class="statusText">단속 등록
										완료</span>
                            </div>
                            <div th:if="${detectionDetail.delYn == 'Y'}" class="cm-stat-delete">
									<span class="cm-no-red-text"
                                          th:text="#{enforcement.detectionDetail.deleted}">Deleted
									</span>
                            </div>
                        </th:block>

                        <div th:case="N" class="statusFail">
                            <img src="/images/status_icon02.png" alt="실패" class="statusImg">
                            <span th:text="#{enforcement.detectionDetail.eqpYnN}" class="statusText">단속 등록
									미완료</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{enforcement.detectionDetail.roadAddr}">위치</th>
                    <td th:text="${detectionDetail.addr}" colspan="3"></td>
                </tr>
                <tr>
                    <th th:text="#{enforcement.detection.common.signalInfo}">신호 정보</th>
                    <td th:switch="${detectionDetail.signalInfo}">
                        <span th:case="0" th:text="#{enforcement.detection.common.signalInfo.0}"></span>
                        <span th:case="1" th:text="#{enforcement.detection.common.signalInfo.1}"></span>
                        <span th:case="2" th:text="#{enforcement.detection.common.signalInfo.2}"></span>
                        <span th:case="3" th:text="#{enforcement.detection.common.signalInfo.3}"></span>
                    </td>
                    <th th:text="#{enforcement.detectionDetail.carPlate}">차량번호</th>
                    <td>
						<div id="carPlateInfoWrap">
							<p id="carPlateText"
							   th:text="${detectionDetail.carPlate == '' ? '-' : detectionDetail.carPlate}"></p>

							<th:block th:if="${detectionDetail.tfcEqpEnfYn == 'N'}">
								<button type="button" class="main-btn" onclick="showModifyWrap()"
                                        th:text="#{enforcement.detectionDetail.btn.modify}">수정</button>
							</th:block>

						</div>

						<form id="carPlateModifyForm" style="display: none"
                              th:if="${detectionDetail.tfcEqpEnfYn == 'N'}">
                            <input type="hidden" name="idx" th:value="${detectionDetail.idx}">
							<input type="text" name="carPlate" id="carPlate" class="main-input detec-input data-validate"
                                   th:value="${detectionDetail.carPlate}"
								   placeholder="AAA-00-AA" maxlength="20"
                                   th:data-valid-name="#{enforcement.detectionDetail.carPlate}"
                                   data-valid-required>
							<button type="button" class="main-btn" onclick="modifyVhPlate()"
                                    th:text="#{enforcement.detectionDetail.btn.approval}">등록</button>
						</form>

                    </td>
                </tr>
                <tr>
                    <th th:text="#{enforcement.detection.common.enforceCode}">단속 코드</th>
                    <td th:switch="${detectionDetail.enforceCode}">
                        <span th:case="0" th:text="#{enforcement.detection.common.enforceCode.0}"></span>
                        <span th:case="1" th:text="#{enforcement.detection.common.enforceCode.1}"></span>
                        <span th:case="2" th:text="#{enforcement.detection.common.enforceCode.2}"></span>
                    </td>
                    <th th:text="#{enforcement.detection.common.enforceMode}">단속 모드</th>
                    <td th:switch="${detectionDetail.enforceMode}">
                        <span th:case="0" th:text="#{enforcement.detection.common.enforceMode.0}"></span>
                        <span th:case="1" th:text="#{enforcement.detection.common.enforceMode.1}"></span>
                        <span th:case="2" th:text="#{enforcement.detection.common.enforceMode.2}"></span>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{enforcement.detectionDetail.avgSpeed}">평균 속도</th>
                    <td th:text="${detectionDetail.avgSpeed}"></td>
                    <th th:text="#{enforcement.detectionDetail.enforceSpeed}">단속 속도</th>
                    <td th:text="${detectionDetail.enforceSpeed}"></td>
                </tr>
                <tr>
                    <th th:text="#{enforcement.detectionDetail.lmtSpeed}">제한 속도</th>
                    <td th:text="${detectionDetail.speedLimit}"></td>
                    <th th:text="#{enforcement.detectionDetail.enforceLane}">단속 차선</th>
                    <td th:text="${detectionDetail.enforceLane}"></td>
                </tr>
                <tr>
                    <th th:text="#{enforcement.detectionDetail.enforceImageList}"
                        th:colspan="${#lists.isEmpty(detectionImageList)} ? '' : '4'">단속 이미지
                    </th>
                    <th:block th:if="${#lists.isEmpty(detectionImageList)}">
                        <td colspan="3" th:text="#{enforcement.detectionDetail.image.empty}">등록된 사진이 없습니다.</td>
                    </th:block>
                </tr>
                <tr th:unless="${#lists.isEmpty(detectionImageList)}"
                    th:each="imageItem,status : ${detectionImageList}">
                    <th th:text="#{enforcement.detectionDetail.enforceImage}+ ' ' + ${status.count}"></th>
                    <td colspan="3">
                        <img class="detail-cm-upload-img"
                             th:src="@{/enf/detection/viewImage.do(idx=${imageItem.idx})}"
                             th:alt="#{enforcement.detectionDetail.enforceImage}">
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="btn-wrap-center">
                <button type="button" id="btnGoList" class="sub-btn"
                        th:onclick="|location.href='@{/enf/detection/list.do}'|"
                        th:text="#{enforcement.common.button.list}">목록
                </button>

                <th:block th:if="${detectionDetail.tfcEqpEnfYn == 'Y' && detectionDetail.delYn == 'N'}">
                    <button type="button" class="main-btn form-button"
                            th:onclick="|location.href='@{/enf/info/detail.do(tfcEnfId=${detectionDetail.tfcEnfId})}'|"
                            th:text="#{enforcement.detectionDetail.btn.detail}">View details
                    </button>
                </th:block>

				<th:block th:unless="${detectionDetail.carPlate == ''}">
					<button type="button" class="main-btn"
							th:text="#{enforcement.common.button.tfcEnfRegist}"
							th:if="${detectionDetail.tfcEqpEnfYn == 'N'}"
							th:onclick="|location.href='@{/enf/detection/save.do(idx=${detectionDetail.idx})}'|">
						단속 등록
					</button>
				</th:block>
            </div>
        </div>
    </div>
</th:block>

</html>
<script th:inline="javascript">
	function showModifyWrap() {
        const carPlateInfoWrap = document.getElementById('carPlateInfoWrap');
        const carPlateModifyForm = document.getElementById('carPlateModifyForm');
        const carPlate = document.getElementById('carPlate');

        carPlateInfoWrap.style.display = 'none';
        carPlateModifyForm.style.display= 'flex'
        carPlate.focus();
	}

    function modifyVhPlate() {
        if (!trimValues(['carPlate'])) return;
        if (!$("#carPlateModifyForm").soValid()) return;

        const formData = new FormData(document.getElementById('carPlateModifyForm'));

        fetch(/*[[@{/enf/detection/carplate/update.ajax}]]*/, {
            method: 'post',
            body: formData
        })
            .then(response => response.json())
            .then((result) => {
                const url = /*[[@{/enf/detection/detail.do?idx=}]]*/;
                const idx = /*[[${detectionDetail.idx}]]*/;
                if (result.code === 200) {
                    // It was processed normally.
                    new ModalBuilder().init().alertBody("Foi processado normalmente.").footer(4, "Confirmar", function (button, modal) {
                            modal.close();
                            location.href = url + idx;
                        }
                    ).open();
                } else {
                    // It was not processed properly.
                    let message = result.message;
                    if (message === '') message = "Não foi processado corretamente.";
                    new ModalBuilder().init().alertBody(message).footer(4, "Confirmar", function (button, modal) {
                            modal.close();
                            location.href = url + idx;
                        }
                    ).open();
                }
            })
    }

</script>