<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div id="container-fluid">
		<!-- Page Heading -->
		<h1 id="detail-content-title" th:text="#{enforcement.detectionRegist.title}">교통단속 정보 등록</h1>
		<div>
			<form id="frmEnfRegist">
				<table class="detail-table">
					<colgroup>
						<col width="15%">
						<col width="35%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tbody>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.enfInfo}">제목</span>
							</th>
							<td><input type="text" id="tfcEnfTtl" name="tfcEnfTtl" class="main-input tfcEnfTtl data-validate" th:placeholder="#{enforcement.detectionRegist.placeholder.enfInfo}" th:data-valid-name="#{enforcement.detectionRegist.enfInfo}" data-valid-required></td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.violationDate}">날짜</span>
							</th>
							<td>
								<input type="hidden" name="tfcEnfDt" class="tfcEnfDt">
								<input type="datetime-local" id="tfcEnfDt" class="input-time data-validate" th:data-valid-name="#{enforcement.detectionRegist.violationDate}" data-valid-required>
							</td>
						</tr>
						<tr>
							<th>
								<span th:text="#{enforcement.detectionRegist.docNo}">문서 번호</span>
							</th>
							<td class="modal-find-line">
								<input type="text" id="docNid" th:placeholder="#{enforcement.detectionRegist.placeholder.docNo}" class="main-input docNid ">
							</td>
							<th>
								<span th:text="#{enforcement.detectionRegist.docType}">문서 타입</span>
							</th>
							<td><input type="text" class="main-input docType" id="docType" th:placeholder="#{enforcement.detectionRegist.placeholder.docType}"></td>
						</tr>
						<tr>
							<th>
								<span th:text="#{enforcement.detectionRegist.licenseNumber}">라이선스 번호</span>
							</th>
							<td class="modal-find-line">
								<input type="text" id="dvrLcenId" th:placeholder="#{enforcement.detectionRegist.placeholder.dvrLcenNo}" class="main-input dvrLcenId ">
								<i class="search-icon" data-type="dvrLcenId" onclick="searchForApiData('show',this)"></i>
							</td>
							<th>
								<span th:text="#{enforcement.detectionRegist.licenseTy}">라이선스 타입</span>
							</th>
							<td><input type="text" class="main-input dvrLcenTy" id="dvrLcenTy" th:placeholder="#{enforcement.detectionRegist.placeholder.dvrLcenType}"></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.violatorsName}">운전자명</span>
							</th>
							<td class="modal-find-line">
								<input type="text" class="main-input vioNm data-validate" id="vioNm" th:placeholder="#{enforcement.detectionRegist.placeholder.vioNm}" th:data-valid-name="#{enforcement.detectionRegist.violatorsName}" data-valid-required>
								<i class="search-icon" data-type="driverNm" onclick="searchForApiData('show',this)"></i>
							</td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.birthday}">생년월일</span>
							</th>
							<td><input type="text" class="main-input vioBrth data-validate" id="vioBrth" placeholder="dd.mm.aaaa" th:data-valid-name="#{enforcement.detectionRegist.birthday}" data-valid-required maxlength="10" onkeyup="keyupDateCheck(event, 'ddMMyyyy', '.')"></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.lmtSpd}">위반 속도</span>
							</th>
							<td>
								<input type="text" class="main-input" id="spdLmt" name="spdLmt" th:value="${detectionDetail.speedLimit}" readonly>
							</td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.vioSpd}"></span>
							</th>
							<td>
								<input type="text" class="main-input" id="vioSpd" name="vioSpd" th:value="${detectionDetail.enforceSpeed + detectionDetail.speedLimit}" readonly>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.vioSpd}"></span>
							</th>
							<td><input type="text" class="main-input" id="overSpd" name="overSpd" th:value="${detectionDetail.enforceSpeed}" readonly></td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.lane}"></span>
							</th>
							<td><input type="text" class="main-input" id="roadLn" name="roadLn" th:value="${detectionDetail.enforceLane}" readonly></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.phone}">전화번호</span>
							</th>
							<td><input type="text" class="main-input vioPno data-validate" id="vioPno"  th:placeholder="#{enforcement.detectionRegist.placeholder.vioPno}" th:data-valid-name="#{enforcement.detectionRegist.phone}" data-valid-required></td>
							<th th:text="#{enforcement.detectionRegist.email}">이메일</th>
							<td><input type="text" class="main-input vioEmail" id="vioEmail"  th:placeholder="#{enforcement.detectionRegist.placeholder.vioEmail}"></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.vehiclType}">차량</span>
							</th>
							<td><input type="text" class="main-input vhTy data-validate" id="vhTy" name="vhTy"  th:placeholder="#{enforcement.detectionRegist.placeholder.vhTy}" th:data-valid-name="#{enforcement.detectionRegist.vehiclType}" data-valid-required></td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.vehiclNo}">차량 번호</span>
							</th>
							<td class="modal-find-line">
								<input type="text" class="main-input vhRegNo data-validate" id="vhRegNo" name="vhRegNo"  th:placeholder="#{enforcement.detectionRegist.placeholder.vhRegNo}" th:data-valid-name="#{enforcement.detectionRegist.vehiclNo}" data-valid-required th:value="${detectionDetail.carPlate}">
								<input type="hidden" id="idx" name="idx" th:value="${detectionDetail.idx}">
								<input type="hidden" id="tfcEnfEqpId" name="tfcEnfEqpId" th:value="${detectionDetail.code}">
								<i class="search-icon" data-type="vehicleNo" onclick="searchForApiData('show',this)"></i>
							</td>
						</tr>
						<tr>
						<th>
							<span class="requiredMark" th:text="#{enforcement.detectionRegist.lawChoose}"></span>
						</th>
							<td class="modal-find-line">
								<select id="tfcLawId" class="filter-select filter98 data-validate" th:data-valid-name="#{enforcement.detectionRegist.lawChoose}" onchange="viewLwFineInfo(this)" data-valid-required>
									<option value="">select</option>
									<th:block th:each="item : ${trafficLawList}">
			                            <option th:value="${item.tfcLawId}" th:text="${item.lawNm}"></option>
									</th:block>
		                        </select>
							</td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.addr}">위반자 주소</span>
							</th>
							<td><input type="text" class="main-input vioAddr data-validate" id="vioAddr"  th:placeholder="#{enforcement.detectionRegist.placeholder.addr}" th:data-valid-name="#{enforcement.detectionRegist.addr}" data-valid-required></td>
						</tr>
						<tr id="lawDetailChk" style="display:none;">
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.lawDetail}">법령 선택</span>
							</th>
							<td colspan="3">
								<input type="radio"><span id="lwDesc"></span><span id="lwPrice"></span>
								<button type="button">저장</button>
							</td>
						</tr>
						<tr id="lawDetail">
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.law}">위반법령</span>
							</th>
							<td colspan="3"></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.fine}">범칙금</span>
							</th>
							<td colspan="3"><input type="text" class="main-input" id="totalPrice" name="totalPrice" readonly th:placeholder="#{enforcement.detectionRegist.placeholder.totalPrice}"></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.placePayment}"></span>
							</th>
							<td colspan="3">
								<select id="placePymntId" class="filter-select placePymntId filter95">
									<th:block th:each="item : ${placePaymentList}">
										<option th:value="${item.placePymntId}" th:text="${item.placePymntNm}"></option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.polInCharge}">담당 경찰명</span>
							</th>
							<td class="modal-find-line">
								<input type="hidden" class="polId" id="polId" name="polId">
								<input type="text" class="main-input data-validate" readonly id="polNm"  th:placeholder="#{enforcement.detectionRegist.placeholder.polNm}" th:data-valid-name="#{enforcement.detectionRegist.polInCharge}" data-valid-required>
								<i class="search-icon" data-type="vehicleNo" onclick="changePolListModal('show')"></i>
							</td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.polStationInCaharge}">관할 경찰서</span>
							</th>
							<td id="polDeptNm">Police station is automatically entered</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.placeOfViolate}">적발 지역</span>
							</th>
							<td colspan="3" class="modal-find-line">
								<input type="text" class="main-input roadAddr" id="roadAddr" name="roadAddr" th:placeholder="#{enforcement.detectionRegist.placeholder.roadAddr}" th:value="${detectionDetail.tfcEnfEqpMatser.roadAddr}">
<!--								<i class="search-icon mapSearch"></i>-->
								<br><br>
								<div id="map" class="detailMap">
<!--									<img src="/images/mapLocation_icon.png" alt="My Location" class="mapLocationIcon">-->
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.lat}">위도</span>
							</th>
							<td><input type="text" class="main-input lat data-validate" id="lat" name="lat" readonly th:value="${detectionDetail.tfcEnfEqpMatser.lat}" th:placeholder="#{enforcement.detectionRegist.placeholder.lat}" th:data-valid-name="#{enforcement.detectionRegist.lat}" data-valid-required></td>
							<th>
								<span class="requiredMark" th:text="#{enforcement.detectionRegist.lng}">경도</span>
							</th>
							<td><input type="text" class="main-input lng data-validate" id="lng" name="lng" readonly th:value="${detectionDetail.tfcEnfEqpMatser.lng}" th:placeholder="#{enforcement.detectionRegist.placeholder.lng}" th:data-valid-name="#{enforcement.detectionRegist.lng}" data-valid-required></td>
						</tr>
						<tr>
							<th class="detail-th" th:text="#{enforcement.detectionRegist.tfcEnfDetail}">상세 내용</th>
							<td colspan="3">
								<textarea class="detail-table-textarea tfcEnfDetail" id="tfcEnfDetail" name="tfcEnfDetail"  th:placeholder="#{enforcement.detectionRegist.placeholder.tfcEnfDetail}"></textarea>
							</td>
						</tr>
						<tr>
							<th colspan="4" th:text="#{enforcement.detectionRegist.enforceImageList}">단속 이미지</th>
						</tr>
						<th:block th:each="imageItem,status : ${detectionImageList}">
							<tr>
								<th th:text="#{enforcement.detectionRegist.enforceImage}+ ' ' + ${status.count}"></th>
								<td colspan="3" class="tdborderTopFlex">
									<img th:src="@{/enf/detection/viewImage.do(idx=${imageItem.idx})}" th:alt="#{enforcement.detectionRegist.enforceImage}">
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</form>
			
			<div class="registor-btn-right">
				<button type="button" id="btnGoList" class="sub-btn form-button" th:onclick="|location.href='@{/enf/detection/list.do}'|"
					th:text="#{enforcement.detectionRegist.list}">목록</button>
				<button type="button" id="btnSave" class="main-btn form-button" 
					th:text="#{enforcement.common.button.register}" onclick="saveInfo()">등록</button>
			</div>
		</div>
	</div>
	<div class="modal-wrap" id="modal">

	</div>
</th:block>

</html>
<script type="text/javascript" th:inline="javascript">
	function saveInfo() {
		if($("#frmEnfRegist").soValid()){
			// TODO Validation
		var form = $("#frmEnfRegist")[0];
		var data = new FormData(form);
		
		data.append("vioInfo.docType", $(".docType").val());
		data.append("vioInfo.docNid", $(".docNid").val());
		data.append("vioInfo.dvrLcenId", $(".dvrLcenId").val());
		data.append("vioInfo.dvrLcenTy", $(".dvrLcenTy").val());
		data.append("vioInfo.vioNm", $(".vioNm").val());
		data.append("vioInfo.vioBrth", $(".vioBrth").val());
		data.append("vioInfo.vioAddr", $(".vioAddr").val());
		data.append("vioInfo.vioPno", $(".vioPno").val());
		data.append("vioInfo.vioEmail", $(".vioEmail").val());
		data.append("finePymntInfo.placePymntId", $(".placePymntId").val());
		
		var lwChkInfo = $(".lwChkInfo");
		$(lwChkInfo).each(function(index, value){
			data.append("tfcFineNtcInfoList[" + index + "].tfcLawFineId", $(this).data("fine-value"));
			data.append("tfcFineNtcInfoList[" + index + "].tfcLawId", $(this).data("value"));
			data.append("tfcFineNtcInfoList[" + index + "].tfcEnfPrice", $(this).data("price"));
		});
		
		$.ajax({
			url: /*[[@{/enf/detection/save.ajax}]]*/ "/enf/detection/save.ajax",
			type: "post",
			data: data,
			processData: false,
			contentType: false,
			success: function (result) {
				if(result.code == 200){
					new ModalBuilder().init().successBody(result.message).footer(4,'확인',function(button, modal){
						modal.close();
						location.href =/*[[@{/enf/detection/list.do}]]*/ "";
					}).open();
				} else {
					new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){modal.close();}).open();
				}
			}
		});
		}
	}

	function viewLwFineInfo(_this){
		var tfcLawId = _this.value;
		
		$("#lawDetailChk td").empty();
		if(!isNull(tfcLawId)){
			$.ajax({
	            url: /*[[@{/enf/info/lwFineInfo.ajax}]]*/ "/enf/info/lwFineInfo.ajax",
	            type: "post",
				dataType : "json",
				data :{
					"tfcLawId" : tfcLawId
				},
	            success: function (result) {
					const lawFineInfoList = result.data;
					if(lawFineInfoList != null){
					$("#lawDetailChk td")
					$(".detail-law-div").removeClass("none");
						for(var i = 0; i < lawFineInfoList.length; i++){
							const tfcLawFineId = lawFineInfoList[i].tfcLawFineId;
							const tfcLawId = lawFineInfoList[i].tfcLawId;
							const fineDesc = lawFineInfoList[i].fineDesc;
							const finePrice = lawFineInfoList[i].finePrice;
							const finePriceStr = numberComma(lawFineInfoList[i].finePrice);
							
							html = '';
							html +=  '<div class="lawInfoList">';
							html += '<input type="radio" class="lwInfo" id="lwInfo'+i+'" name="lwInfo" data-fine-value="'+tfcLawFineId+'" data-value="'+tfcLawId+'" data-desc="'+fineDesc+'" data-price="'+finePrice+'">';
							html += '<label for="lwInfo" class="lawInfoText">'+fineDesc+' <span id="finePrice" class="lawInfoPrice">'+finePrice+'MT</span></label>';
							html += '<button type="button" class="main-btn lwInfoPlusBtn" onclick="saveLwFindInfo()">Add</button>';
							html +=  '</div>';
						}
							$("#lawDetailChk td").append(html);
					}
				}
	    	})
			
			$("#lawDetailChk").show();
		}else{
			$("#lawDetailChk").hide();
		}
	}
	
	function saveLwFindInfo(){
		$(".lwInfo").each(function(){
			if($(this).is(":checked")){
				html = '';
				html += '<div class="lwChkInfoDiv">';
				html += '<p class="lwChkInfo" data-fine-value="'+$(this).data("fine-value")+'" data-value="'+$(this).data("value")+'" data-price="'+$(this).data("price")+'">'+$(this).data("desc")+'</p>';
				html += '<button type="button" class="delete-btn" onclick="deleteLwInfo(this)">Delete</button>';
				html += '</div>';
				$("#lawDetail td").append(html);
				
				fnSetTotalPrice();
			}
		});
	};
	
	function fnSetTotalPrice(){
		const tfcEnfPriceList = $(".lwChkInfo");
		
		if(tfcEnfPriceList.length == 0){
			$("#totalPrice").val(0);
			return false;
		}
        
        var totalPrice = 0;
		$(".lwChkInfo").each(function(){
			totalPrice += Number($(this).data("price"));
		})        
        
		$("#totalPrice").val(totalPrice);
	}
	
	function deleteLwInfo(_this){
		$(_this).parent(".lwChkInfoDiv").remove();
		fnSetTotalPrice();
	}
	
	// 모달 수정 여부 확인필요
	const modalContent = document.getElementById("modal");
	
	// police modal
	function changePolListModal(type){
		if (type == "show") {
			$.ajax({
				url: '/common/modal/pol/list.ajax',
				type: "get",
				dataType: 'html',
				success: function (data) {
					modalContent.innerHTML += data;
					modalContent.style.display = 'block';
				}
			});
		} else if (type == "hide") {
			
			
			modalContent.innerHTML = '';
			modalContent.style.display = 'none';
		}
	}

	//API Modal
	function searchForApiData(type , _this){
		let vhRegNo = document.getElementById('vhRegNo').value;
		let dvrLcenId = document.getElementById('dvrLcenId').value;
		let vioNm = document.getElementById('vioNm').value;
		
		const resultMsg = /*[[#{common.search.notFound}]]*/;
		
		let searchType = _this.getAttribute('data-type');
		let searchContent = '';
		
		switch(searchType){
			case 'dvrLcenId':
				searchContent = dvrLcenId;
			break;
			case 'vehicleNo':
				searchContent = vhRegNo;
			break;
			case 'driverNm':
				searchContent = vioNm;
			break;
		}
		
		if (type == "show") {
			$.ajax({
				url: `/common/modal/${searchType}/apiSearch.ajax`,
				data : {
					"searchContent" : searchContent
				},
				type: "get",
				dataType: 'html',
				success: function (data) {
					modalContent.innerHTML += data;
					modalContent.style.display = 'block';
					
					document.getElementById('searchBtn').addEventListener('click', function() {
				        const resultTable = document.getElementById('table_api_search');
				        
				        const searchType = document.getElementById('searchType').value;
				        const searchValue = document.getElementById('searchContent').value;
				        
				        if(searchType == null || searchType == '' || searchValue == null || searchValue == ''){
							alert("Please Input SearchType and SearchContent");
							return;
						}
				        
						const fetcher = new DriverSelectAPI();
						
						const loading = new AdminLoading().start("API Searching...");
						
						fetcher.fetchData(searchType, searchValue, function(data) {
				            const tbody = document.getElementById('modalTbody');
						    tbody.empty();
						    
						    let parsedData = JSON.parse(data);
						    
						    if(parsedData != null &&  parsedData.tab1.length > 0){
					            parsedData.tab1.forEach(item => {
					                const tr = document.createElement('tr');
					                tr.dataset.prop = JSON.stringify(item);
					                //console.log(JSON.stringify(item));
					                tr.setAttribute('onclick','searchForApiData("hide",this)');
					                
									let birthday = new Date(item.datadenascimento);
									
									let birthdayFormat = `${birthday.getDate()}.${birthday.getMonth() + 1}.${birthday.getFullYear()}`;
				
					                tr.innerHTML = `
						               	<td>${item.nome}</td>
						               	<td>${birthdayFormat}</td>
						               	<td>${item.tipodedocumento}</td>
						               	<td>${item.numerododocumento}</td>
						               	<td>${item.domicilio}</td>
						               	<td>${item.provincia}</td>
						               	<td>${item.distrito}</td>
						               	<td>${item.contacto}</td>
					               	`;
					               	
					                tbody.appendChild(tr);
					                
					                resultTable.style.display = 'table';
					            });
							} else{
								const tr = document.createElement('tr');
								
								 tr.innerHTML = `
						               	<td colspan="8">${resultMsg}</td>
					               	`;
				               	tbody.appendChild(tr);
				                
				                resultTable.style.display = 'table';
							}
							loading.end();
						});
				    });
				}
			});
		} else if (type == "hide") {
			const resultTable = document.getElementById('table_api_search');
			
			let objJsonStr = _this.dataset != null ? _this.dataset.prop : null;
			
			if(objJsonStr != null){
				const obj = JSON.parse(objJsonStr);
				
				let birthday = new Date(obj.datadenascimento);
				
				let birthdayFormat = `${birthday.getDate()}.${birthday.getMonth() + 1}.${birthday.getFullYear()}`;
				
				document.getElementById('dvrLcenId').value = obj.numerododocumento;
				document.getElementById('dvrLcenTy').value = obj.tipodedocumento;
				document.getElementById('vioNm').value = obj.nome;
				document.getElementById('vioBrth').value = birthdayFormat;
				document.getElementById('vioPno').value = obj.contacto;
				document.getElementById('vioAddr').value = obj.domicilio;
			}
            resultTable.style.display = 'none';
            
			modalContent.innerHTML = '';
			modalContent.style.display = 'none';
		}
	}
	
	function findPolBtn(){
		$("#modalTbody > tr").remove();
		$("#modalPaging > div").remove();
		
		var page = $("#modalPage").val();
		var searchTxt = $("#searchContent").val();
		var start = $("#modalStart").val();
		$.ajax({
			type : "get",
			data : {"searchType" : "oprtrNm", "searchTxt" : searchTxt, "page" : page, "start" : start},
			url: '/common/modal/pol/search/list.ajax',
			success : function(result) {
				var html = '';
				$(result.data.list).each(function(index, item){
					var polDeptNm = item.polDeptNm;
					var polNm = item.polNm;
					if(isNull(polDeptNm)){
						polDeptNm = '-';
					}
					if(isNull(polNm)){
						polNm = '-';
					}					
					html += '<tr onclick="selectPol(\''+item.polId+'\', \''+polNm+'\', \''+ polDeptNm +'\')">'+
								'<td>'+item.rnum+'</td>'+
								'<td>'+polDeptNm+'</td>'+								
								'<td>'+polNm+'</td>'+
							'</tr>';
		    	})
				$("#modalTbody").append(html);			
		    	var paging = result.data.pagination;
				if(paging != null && paging != '' && paging.totalCntList > 0){
					$("#modalPaging").append(getPagingHtml(paging,page));
				}
				$("#totalCnt").text(paging.totalListCnt);
				var start = result.data.polInfo.start;
				$("#modalStart").val();
			}
		});
	}
	
	function fnPageMove(page) {
		$("#modalPage").val(page);
		findPolBtn();
	}
	
	function selectPol(polId, polNm, polDeptNm){
		$("#polId").val(polId);
		$("#polNm").val(polNm);
		$("#polDeptNm").text(polDeptNm);
		changePolListModal('hide');
	}
		
	const lng = /*[[${detectionDetail.tfcEnfEqpMatser.lng}]]*/;
	const lat = /*[[${detectionDetail.tfcEnfEqpMatser.lat}]]*/;
	
	let map = new MozAtesMap({
		elementId : 'map',
		center_lng : lng,
		center_lat : lat,
		isInitDrawCenterMarker : true
	});
	
	$("#tfcEnfDt").on('change', function(){
	 	var value = this.value;
        var date = new Date(value);
        var formattedDateTime = formatDate(date);
        $(".tfcEnfDt").val(formattedDateTime);
	})
	
	//loading().start();
</script>
