<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800" th:text="#{enforcement.info.list.title}">교통단속 정보관리</h1>

        <div class="row">


            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body search-form">
                        <form id="frmSearch" class="flex-center gap12">
                            <input type="hidden" id="hdnStart" name="start" th:value="${tfcEnfMaster.start}">
                            <label th:text="#{enforcement.info.list.startDate}" class="">시작일</label>
                            <input class="form-control col-lg-2 input-data" id="sDate" name="sDate" type="date" th:value="${tfcEnfMaster.getSDate()}">
                          
                            <label th:text="#{enforcement.info.list.endDate}">종료일</label>
                            <input class="form-control col-lg-2 input-data" id="eDate" name="eDate" type="date" th:value="${tfcEnfMaster.getEDate()}">
                          
                            <label>
                                <select class="form-control select" name="searchType">
                                    <option value="all" th:text="#{enforcement.info.list.selectAll}">전체</option>
                                </select>
                            </label>
                            <input class="form-control col-lg-3  search-box" name="searchTxt" type="text" th:value="${tfcEnfMaster.searchTxt}">
                          
                            <button type="button" id="btnSearch" class="btn btn-outline-primary" th:text="#{enforcement.info.list.check}">조회</button>
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row"><div class="col-sm-12">
                                    <table class="table table-bordered dataTable" id="tblList" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting sorting_asc" style="width: 56px;" th:text="#{enforcement.info.list.tableNumber}">No.</th>
                                            <th class="sorting" style="width: 61px;" th:text="#{enforcement.info.list.enforcementNumber}">단속번호</th>
                                            <th class="sorting" style="width: 31px;" th:text="#{enforcement.info.list.violationName}">위반명</th>
                                            <th class="sorting" style="width: 49px;" th:text="#{enforcement.info.list.enforcementDate}">단속일시</th>
                                            <th class="sorting" style="width: 67px;" th:text="#{enforcement.info.list.enforcementPlace}">단속장소</th>
                                            <th class="sorting" style="width: 68px;" th:text="#{enforcement.info.list.violatorName}">위반자명</th>
                                        </tr>
                                        </thead>

                                        <tbody>
																				<tr th:each="infoList, varstaus : ${infoList}">
																						<td th:text="${infoList.rnum}"></td>
																						<td th:text="${infoList.tfcEnfId}" th:onclick="|location.href='@{/enf/info/detail.do(tfcEnfId=${infoList.tfcEnfId})}'|"></td>
																						<td th:text="${infoList.lastTfcEnfProcCd}"></td>
																						<td th:text="${infoList.tfcEnfDt}"></td>
																						<td th:text="${infoList.roadAddr}"></td>
																						<td th:text="${infoList.vioId}"></td>
																				</tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="page_wrap">
				                    <div th:insert="tags/paging :: pagingFragment"></div>
			                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>



</th:block>
</html>
<script th:inline="javascript">
    function goDetail(idx){
        var baseUrl = /*[[@{/enf/info/detail.do}]]*/ '';

        window.location.href=baseUrl+"?tfcEnfId="+idx;
    }
	function fnPageMove(page){
		alert("page to move: " + page);
	//	$("#page").val(page);
	//	
	//	var data = $("#finesInfoForm").serialize();
  //
	//	$.ajax({
	//		url: "/finesmng/searchFinesInquiryList",
	//		data: data,
	//		success: function(data){
	//			$("#divListArea").empty();
	//			$("#divListArea").append(data);
	//		},
	//		error: function(args){
	//			swal({
	//				  title: "Failed",
	//				  text: "Please check the fine information.",
	//				  icon: "warning",
	//				  button: "Confirm",
	//			});
	//		}
	//	});		
	}


</script>