<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">

		<!-- Page Heading -->
		<h1 id="content-title" th:text="#{enforcement.info.list.title}">전체 교통 단속 수</h1>
		<div id="content-sub-title" th:text="#{enforcement.info.list.descr}">위반사항, 단속번호, 차량번호 및 기간 정보를 통해 교통 단속 정보를 조회할 수 있습니다.</div>

		<form id="frmSearch">
			<input type="hidden" id="page" name="page" th:value="${pagination.page}">
			<input type="hidden" id="hdnStart" name="start" th:value="${tfcEnfMaster.start}">
			<table id="filter-table">
				<colgroup>
					<col width="15%">
					<col width="85%">
				</colgroup>
				<tbody>
					<tr>
						<th th:text="#{enforcement.common.search.searchOp}">유형 선택</th>
						<td>
							<select name="searchType" id="searchType" class="filter-select">
								<option value="all" th:text="#{enforcement.common.search.selectAll}">전체</option>
								<option value="enfNo" th:text="#{enforcement.info.list.enforcementNumber}">단속번호</option>
								<option value="vhNo" th:text="#{enforcement.info.list.vhRegNo}">차량번호</option>
								<option value="name" th:text="#{enforcement.info.list.violatorName}">운전자명</option>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="#{enforcement.common.search.dateOp}">날짜 선택</th>
						<td>
							<input class="input-date" id="sDate" name="sDate" type="date" th:value="${tfcEnfMaster.sDate}"> ~
							<input class="input-date" id="eDate" name="eDate" type="date" th:value="${tfcEnfMaster.eDate}">
						</td>
					</tr>
					<tr>
						<th th:text="#{enforcement.common.search.serchTerm}">내용 검색</th>
						<td><input class="search-box main-input" id="searchTxt" name="searchTxt" type="text" 
								th:value="${tfcEnfMaster.searchTxt}" th:placeholder="#{enforcement.driver.search.placeholder}"></td>
					</tr>
				</tbody>
			</table>

			<div class="btn-wrap-center">
				<button type="button" id="btnSearch" class="main-btn form-button" th:text="#{enforcement.info.list.check}">조회</button>
				<button type="button" id="resetSearch" class="sub-btn form-button" onclick="resetForm('frmSearch')" th:text="#{enforcement.common.search.reset}">검색 초기화</button>
			</div>
		</form>

		<div id="search-form-result-wrap">
			<div id="table-search-result-text">
				Found <span th:text='|"${pagination.totalListCnt}"|'></span> results
			</div>
			<div>
				<button type="button" class="main-btn form-button" th:onclick="|location.href='/enf/info/save.do'|" th:text="#{enforcement.info.list.infoRegistration}">등록하기</button>
			</div>
		</div>
		
			<div class="">
				<table class="main-table" id="tblList" cellspacing="0" aria-describedby="dataTable_info">
					<colgroup>

					</colgroup>
					<thead>
						<tr>
							<th th:text="#{enforcement.info.list.tableNumber}">No.</th>
							<th th:text="#{enforcement.info.list.enforcementNumber}">단속번호</th>
							<th th:text="#{enforcement.info.list.enforcementType}">단속유형</th>
							<th th:text="#{enforcement.info.list.enforcementDate}">단속일시</th>
							<th th:text="#{enforcement.info.list.enforcementPlace}">단속장소</th>
							<th th:text="#{enforcement.info.list.violatorName}">위반자명</th>
							<th th:text="#{enforcement.info.list.vhRegNo}">차량번호</th>
							<th th:text="#{enforcement.info.list.payStatus}">납부상태</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="infoItem : ${infoList}" 
								th:onclick="|location.href='@{/enf/info/detail.do(tfcEnfId=${infoItem.tfcEnfId})}'|">
							<td th:text="${infoItem.rnum}"></td>
							<td th:text="${infoItem.tfcEnfId}"></td>
							<td th:text="${infoItem.tfcEnfEqpId != null ? 'Equipment Enforcement' : 'On-site Enforcement'}">-</td>
							<td th:text="${#dates.format(infoItem.tfcEnfDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${infoItem.roadAddr}"></td>
							<td th:text="${infoItem.vioInfo.vioNm}"></td>
							<td th:text="${infoItem.vhRegNo}"></td>
							<td>
								<span class="tableStausOn" th:if="${infoItem.finePymntInfo?.pymntStts == 'Y'}" th:text="'Paid'"></span>
								<span class="tableStausOff" th:unless="${infoItem.finePymntInfo?.pymntStts == 'Y'}" th:text="'Non Paid'"></span>
							</td>
						</tr>
					</tbody>
					
				</table>
			</div>
			
			<div class="page_wrap">
				<div th:insert="tags/paging :: pagingFragment"></div>
			</div>
			
	</div>
</th:block>

</html>
<script th:inline="javascript">
	function goDetail(idx) {
		var baseUrl = /*[[@{/enf/info/detail.do}]]*/ '';

		window.location.href = baseUrl + "?tfcEnfId=" + idx;
	}
	
	function fnPageMove(page) {
		$("#page").val(page);
		$("#frmSearch").submit();
	}
	
	$("#btnSearch").on('click',function(){
		$("#frmSearch").submit();
	})

</script>