<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">
		<h1 id="content-title" th:text="|#{enforcement.car.search.title}|">차량 검색</h1>
		<div id="content-sub-title" th:text="#{enforcement.car.search.descr}">차량번호를 통해 차량을 검색할 수 있습니다.</div>
		<form id="frmCarSearch">
			<table id="filter-table">
				<colgroup>
					<col width="15%">
					<col width="85%">
				</colgroup>
				<tbody>
					<tr>
						<th th:text="#{enforcement.common.search.serchTerm}">내용 검색</th>
						<td>
							<input type="hidden" id="searchType" name="searchType" value="vehicleNo">
							<input type="text" id="searchContent" name="searchContent" class="search-box main-input" th:placeholder="#{enforcement.common.search.placeholder}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>

		<div class="btn-wrap-center">
			<button type="button" id="btnSearch" onclick="apiSearch()" class="main-btn form-button" th:text="#{enforcement.car.search.check}">조회</button>
			<button type="button" id="resetSearch" onclick="resetForm()" class="sub-btn form-button" th:text="#{enforcement.common.search.reset}">검색 초기화</button>
		</div>
		<div class="">
			<table id="api_table" class="main-table" style="display:none">
				<thead>
<!--					<tr>-->
<!--						<th th:text="#{enforcement.car.search.driverLicense}">Driver License Id</th>-->
<!--						<th th:text="#{enforcement.car.search.driverType}">Driver License Type</th>-->
<!--						<th th:text="#{enforcement.car.search.expiration}">Driver License Expiration Date</th>-->
<!--						<th th:text="#{enforcement.car.search.birth}">Driver Brth</th>-->
<!--						<th th:text="#{enforcement.car.search.searchAddress}">Driver Addr</th>-->
<!--						<th th:text="#{enforcement.car.search.phNum}">Driver Phone Number</th>-->
<!--						<th th:text="#{enforcement.car.search.vehicleNo}">Vehicle No</th>-->
<!--						<th th:text="#{enforcement.car.search.vehicleType}">Vehicle Type</th>-->
<!--					</tr>-->
						<tr>
							<th th:text="#{enforcement.car.search.name}">Driver Name</th>
							<th th:text="#{enforcement.car.search.birth}">BirthDay</th>
							<th th:text="#{enforcement.car.search.docType}">Document Type</th>
							<th th:text="#{enforcement.car.search.docNo}">Document No</th>
							<th th:text="#{enforcement.car.search.searchAddress}">Driver Address</th>
							<th th:text="#{enforcement.car.search.phNum}">Driver Contact</th>
							<th th:text="#{enforcement.car.search.state}">State</th>
							<th th:text="#{enforcement.car.search.area}">Area</th>
						</tr>
				</thead>
				<tbody id="resultTbody">
				</tbody>
			</table>
		</div>
	</div>
</th:block>

</html>
<script th:inline="javascript">
	const resultTable = document.getElementById('api_table');
	
	function apiResultDetail(_this){
		const searchValue = document.getElementById('searchContent').value;
		let resultData = _this.dataset != null ? _this.dataset.prop : null;
		let obj = JSON.parse(resultData);
	    const form = document.createElement('form');
	    form.method = 'get';
	    form.action = '/enf/vehicle/detail.do';
//		console.log(_this.dataset.prop);
	    obj.vhRegNo = searchValue;
	    Object.keys(obj).forEach(key => {
	        const result = document.createElement('input');
	        result.type = 'hidden';
	        result.name = key;
	        result.value = obj[key];
	        form.appendChild(result);
	    });
	
	    document.body.appendChild(form);
	    form.submit();
	}
	
	function apiSearch(){
        const searchType = document.getElementById('searchType').value;
        const searchValue = document.getElementById('searchContent').value;
        const resultMsg = /*[[#{common.search.notFound}]]*/;
        
        if(searchType == null || searchType == '' || searchValue == null || searchValue == ''){
			alert("Please Input SearchType and SearchContent");
			return;
		}
        
		const fetcher = new DriverSelectAPI();
		
		const loading = new AdminLoading().start("API Searching...");
		
		fetcher.fetchData(searchType, searchValue, function(data) {
            const tbody = document.getElementById('resultTbody');
		    tbody.empty();
		    
		    let parsedData = JSON.parse(data);
		    
		    if(parsedData != null &&  parsedData.tab1.length > 0){
	            parsedData.tab1.forEach(item => {
	                const tr = document.createElement('tr');
	                tr.dataset.prop = JSON.stringify(item);
	                //console.log(JSON.stringify(item));
	                tr.setAttribute('onclick','apiResultDetail(this)');
	                
					let birthday = new Date(item.datadenascimento);
					
					let birthdayFormat = `${birthday.getDate()}.${birthday.getMonth() + 1}.${birthday.getFullYear()}`;

	                tr.innerHTML = `
		               	<td>${item.nome}</td>
		               	<td>${birthdayFormat}</td>
		               	<td>${item.tipodedocumento}</td>
		               	<td>${item.numerododocumento}</td>
		               	<td>${item.domicilio}</td>
		               	<td>${item.provincia}</td>
		               	<td>${item.distrito}</td>
		               	<td>${item.contacto}</td>
	               	`;
	               	
	                tbody.appendChild(tr);
	                
	                resultTable.style.display = 'table';
	            });
			} else {
				const tr = document.createElement('tr');
				
				 tr.innerHTML = `
		               	<td colspan="8">${resultMsg}</td>
	               	`;
               	tbody.appendChild(tr);
                
                resultTable.style.display = 'table';
			}
			
			loading.end();
		});
	};
	
	function resetForm(){
        const searchType = document.getElementById('searchType');
        
	    if (searchType && searchType.options.length > 0) {
	        searchType.value = searchType.options[0].value;
	    }
	    
        document.getElementById('searchContent').value = '';
        resultTable.style.display = 'none';
	}
</script>