<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div id="container-fluid">
        <h1 id="detail-content-title" th:text="#{enforcement.car.search.Detail.title}">운전자 정보</h1>

		<table class="detail-table">
			<colgroup>
				<col width="15%">
				<col width="35%">
				<col width="15%">
				<col width="35%">
			</colgroup>
			<tbody id="driverInfoTable">
			<tr>
				<th th:text="#{enforcement.car.search.Detail.vehicleNo}">차량번호</th>
				<td colspan="3" th:text="${driverInfo.vhRegNo}"></td>
			</tr>
			<tr>
				<th th:text="#{enforcement.car.search.Detail.name}">driverNm</th>
				<td th:text="${driverInfo.nome}">DriverLicenseId</td>
				<th th:text="#{enforcement.car.search.Detail.birth}">birth</th>
				<td th:text="${driverInfo.vioBrth}">oprtrAccountId</td>
			</tr>
			<tr>
				<th th:text="#{enforcement.car.search.Detail.docType}">DocumentType</th>
				<td th:text="${driverInfo.tipodedocumento}"></td>
				<th th:text="#{enforcement.car.search.Detail.docNo}">Document Number</th>
				<td th:text="${driverInfo.numerododocumento}"></td>
			</tr>
			<tr>
				<th th:text="#{enforcement.car.search.Detail.address}">address</th>
				<td th:text="${driverInfo.domicilio}"></td>
				<th th:text="#{enforcement.car.search.Detail.phoneNum}">phoneNum</th>
				<td th:text="${driverInfo.contacto}"></td>
			</tr>
			<tr>
				<th th:text="#{enforcement.car.search.Detail.state}">state</th>
				<td th:text="${driverInfo.provincia}"></td>
				<th th:text="#{enforcement.car.search.Detail.area}">area</th>
				<td th:text="${driverInfo.distrito}"></td>
			</tr>
			</tbody>
		</table>

		<h1 id="detail-content-title" th:text="#{enforcement.car.search.Detail.title.history}">교통단속내역</h1>
		<div id="ajaxContent"></div>
		<form id="frmSearch">
			<input type="hidden" id="page" name="page" value="1">
			<input type="hidden" name="vhRegNo" th:value="${driverInfo.vhRegNo}">
			<input type="hidden" name="docNid" th:value="${driverInfo.numerododocumento}">
		</form>

		<div class="btn-wrap-center">
			<button type="button" class="sub-btn" onclick="window.history.back()"
					th:text="#{common.button.back}"> 이전 페이지
			</button>
		</div>
    </div>

	<script th:inline="javascript">
		const ajaxContent = document.getElementById('ajaxContent');

		document.addEventListener('DOMContentLoaded', getDetailList);

		function fnPageMove(page) {
			document.getElementById('page').value = page;
			getDetailList();
		}

		function getDetailList() {
			const loading = new AdminLoading().start(/*[[#{enforcement.car.search.Detail.loading}]]*/);

			const frmSearch = document.getElementById("frmSearch");
			const formData = new FormData(frmSearch);

			fetch(/*[[@{/enf/vehicle/list.ajax}]]*/, {
				method: 'post'
				, body: formData
			})
					.then(response => response.text())
					.then((html) => {
						ajaxContent.innerHTML = html;
					})
					.finally(() => {
						loading.end();
					});
		}
	</script>
</th:block>