<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:if="${not #strings.isEmpty(enfSearchVO.carNum) && not #strings.isEmpty(carDetail.carNum)}">

			
			
			<div id="search-form-result-wrap">
				<div id="table-search-result-text">
					Found <span>"108"</span> results
				</div>
				<div>
				
				</div>
			</div>
            <div class="">
                <table class="main-table">
                    <colgroup>
                        
                    </colgroup>
                    <thead>
						<tr>
							<th>Number</th>
							<th>위반항목</th>
							<th>위반법률</th>
							<th>위반지역</th>
							<th>
								<select class="th-select">
									<option>State</option>
									<option>전체</option>
									<option>납부</option>
									<option>미납</option>
									<option>체납</option>
								</select>
							</th>
							<th>Date</th>
						</tr>
					</thead>
                    <tbody>
	                    <tr onclick="location.href='/enf/vehicle/detail.do'">
		                   <td>1</td>
		                   <td>과속</td>
		                   <td>법률 155-5조</td>
		                   <td>Maputo 1234</td>
		                   <td>납부</td>
		                   <td>2020-04-05 14:20</td>
	                    </tr>
                    </tbody>
                </table>
            </div>
</th:block>

<th:block th:if="${not #strings.isEmpty(enfSearchVO.carNum) && #strings.isEmpty(carDetail.carNum)}">
    <div class="">
        <div class="">
            <h6 class="" th:text="#{enforcement.car.search.Ajax.vehicleDetails}">차량 상세정보</h6>
        </div>
        <div class="card-body">
            <p style="text-align: center;" th:text="#{enforcement.car.search.Ajax.content}">검색 결과가 없습니다.</p>
        </div>
    </div>
</th:block>

