<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">
		<h1 id="detail-content-title" th:text="#{accident.mngModify.title}">교통사고 정보 수정</h1>
		<div class="detail-table-wrap">
			<form id="frmAcdntModify">
				<input type="hidden" name="tfcAcdntId" th:value="${tfcAcdntMaster.tfcAcdntId}">
				<table class="detail-table">
					<colgroup>
						<col width="15%">
						<col width="35%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tbody>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{accident.mngRegist.accidentDate}">사고일시</span>
							</th>
							<td>
								<input type="hidden" name="acdntDt" class="acdntDt"
									th:value="${#dates.format(tfcAcdntMaster.acdntDt, 'yyyy-MM-dd HH:mm:ss')}">
								<input type="datetime-local" class="input-time data-validate" id="acdntDt"
									th:data-valid-name="#{accident.mngRegist.accidentDate}"
									th:value="${#dates.format(tfcAcdntMaster.acdntDt, 'yyyy-MM-dd HH:mm:ss')}"
									data-valid-required>
							</td>
							<th>
								<span class="requiredMark" th:text="#{accident.mngRegist.typeOfAccident}">사고 종류</span>
							</th>
							<td>
								<select id="acdntTyCd" class="filter-select filter98 data-validate"
									th:data-valid-name="#{accident.mngRegist.typeOfAccident}" name="acdntTyCd"
									data-valid-required>
									<th:block th:each="cdItem : ${cdList}">
										<option th:value="${cdItem.cdId}" th:text="${cdItem.cdNm}"
											th:selected="${tfcAcdntMaster.acdntTyCd} == ${cdItem.cdId}"></option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{accident.mngRegist.accidentPlace}"></span>
							</th>
							<td colspan="3">
								<input type="text" class="main-input data-validate" id="txtRoadAddr" name="roadAddr"
									th:placeholder="#{accident.mngRegist.accidentPlace}"
									th:data-valid-name="#{accident.mngRegist.accidentPlace}"
									th:value="${tfcAcdntMaster.roadAddr}" data-valid-required><br><br>
								<div id="map" class="detailMap"></div>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{accident.mngRegist.lat}">위도</span>
							</th>
							<td>
								<input type="text" class="main-input data-validate" id="lat" name="lat"
									   th:value="${tfcAcdntMaster.lat}"
									   th:data-valid-name="#{accident.mngRegist.lat}" data-valid-required data-valid-lat>
							</td>
							<th>
								<span class="requiredMark" th:text="#{accident.mngRegist.lng}">경도</span>
							</th>
							<td>
								<input type="text" class="main-input lng data-validate" id="lng" name="lng"
									   th:value="${tfcAcdntMaster.lng}"
									   th:data-valid-name="#{accident.mngRegist.lng}" data-valid-required data-valid-lng>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark"
									th:text="#{accident.mngRegist.policeOfficerInCharge}">담당경찰관</span>
							</th>
							<td class="modal-find-line">
								<input type="hidden" id="polId" name="polId" th:value="${tfcAcdntMaster.polId}">
								<input type="text" class="main-input data-validate" id="polNm"
									th:value="${tfcAcdntMaster.polInfo.polNm}"
									th:data-valid-name="#{accident.mngRegist.policeOfficerInCharge}"
									data-valid-required>
								<i class="search-icon" onclick="changePolListModal('show')"></i>
							</td>
							<th>
								<span class="requiredMark" th:text="#{common.oprtr.tableJur}">담당자 행정기관</span>
							</th>
							<td id="polDeptNm" th:text="${tfcAcdntMaster.polInfo.jur}"></td>
						</tr>
						<tr>
							<th>
								<span class="requiredMark" th:text="#{accident.mngRegist.childAcdnt}">어린이 사고 유무</span>
							</th>
							<td>
								<select class="filter-select acdntChildYn data-validate" name="acdntChildYn"
									th:data-valid-name="#{accident.mngRegist.childAcdnt}" data-valid-required>
									<option value="N" th:selected="${tfcAcdntMaster.acdntChildYn == 'N'}" th:text="#{accident.mngRegist.childAcdnt.n}">N</option>
									<option value="Y" th:selected="${tfcAcdntMaster.acdntChildYn == 'Y'}" th:text="#{accident.mngRegist.childAcdnt.y}">Y</option>
								</select>
							</td>
							<th>
								<span class="requiredMark"
									th:text="#{accident.mngModify.accidentTypeDetails}">사고유형상세</span>
							</th>
							<td><input type="text" class="main-input data-validate acdntTyDtls" name="acdntTyDtls"
									th:placeholder="#{accident.mngModify.accidentTypeDetails}"
									th:data-valid-name="#{accident.mngModify.accidentTypeDetails}"
									th:value="${tfcAcdntMaster.acdntTyDtls}" data-valid-required></td>
						</tr>
						<tr>
							<th th:text="#{accident.mngModify.attachment}">첨부파일</th>
							<td colspan="3">
								<div id="dragArea" class="drag-area">
								    <div class="dragText">
								       File name cannot be more than 50 characters<br>
										The file size can only be uploaded under 5MB<br>
										Only JPG, JPEG, PNG, and MP4 files can be uploaded
								    </div>
									<div>
										<input type="file" id="uploadFiles" name="uploadFiles" multiple style="display: none;">
										<button type="button" id="uploadBtn" class="main-btn">File Upload</button>
									</div>
								</div>
								<div class="upload_wrap">
									<div id="uploadedFilseContainer" class="upload_list_box">
										<th:block th:each="fileItem : ${tfcAcdntMaster.tfcAcdntFileInfo}">
											<div class="upload_list">
												<div class="list_item input_same group_box flex-center">
													<div class="file_list" th:text="${fileItem.fileOriginNm}"></div>
													<button type="button" th:data-name="${fileItem.fileOriginNm}" th:data-value="${fileItem.acdntFileNo}" class="fileDelBtn uploadedFileDelBtn">
														<img src="/images/upload_close.png" alt="업로드파일 삭제">
													</button>
												</div>
											</div>
										</th:block>
									</div>
									
									<div id="newFilesContainer" class="upload_list_box"></div>
								</div>
								
							</td>
						</tr>
						<tr>
							<th th:text="#{accident.mngRegist.report}">사고 조서</th>
							<td colspan="3">
								<textarea class="detail-table-textarea" id="acdntReport" name="acdntReport"
									th:placeholder="#{accident.mngRegist.report}"
									th:text="${tfcAcdntMaster.acdntReport}"></textarea>
							</td>
						</tr>
					</tbody>
				</table>

			</form>
		</div>

		<div class="tableAddWrap">
			<div onclick="tableDriver()" class="tableAddBtn">
				<img src="/images/table-plus.png" alt="교통사고 테이블 추가"> <span
					th:text="#{accident.mngRegist.addaccidentParty}">사고 대상자 추가</span>
			</div>
		</div>

		<div class="registor-btn-right">
			<button type="button" id="btnGoList" class="sub-btn form-button" onclick="window.history.back()"
				th:text="#{accident.mngModify.cancelButton}">취소</button>
			<button type="button" id="btnModify" class="main-btn form-button" onclick="modifyInfo()"
				th:text="#{accident.mngModify.modifyFinish}">수정완료</button>
		</div>

	</div>

	<div class="modal-wrap" id="modal">

	</div>

</th:block>

</html>
<script th:inline="javascript">
	let oldFileNameArr = /*[[${oldFileArr}]]*/;
	let targetLength = 1;

	$(document).ready(function () {
		fileDrag(10, 5, 100, ["jpg", "jpeg", "png", "PNG", "tif", "gif"]);

		// 날짜 Max 설정
		const now = new Date();
		const year = now.getFullYear();
		const month = String(now.getMonth() + 1).padStart(2, '0');
		const day = String(now.getDate()).padStart(2, '0');
		const hours = String(now.getHours()).padStart(2, '0');
		const minutes = String(now.getMinutes()).padStart(2, '0');
		document.getElementById('acdntDt').max = `${year}-${month}-${day}T${hours}:${minutes}`;

		// 기존 target, passenger 생성
		const targetList = [[${tfcAcdntMaster.tfcAcdntTrgtInfo}]];
		for (const target of targetList) {
			$("#frmAcdntModify").append(getTargetForm(target, targetLength));
			targetLength++;

			target.tfcAcdntTrgtPnrInfo.forEach((passenger, index) => {
				const elements = document.querySelectorAll(".pnrInfo");
				const lastElement = elements[elements.length - 1];
				lastElement.insertAdjacentHTML('beforeend', getPassengerForm(passenger, index+1));
			});
		}

		$(".trgtInfoDiv").each(function (index, item) {
			const trgtCd = $(item).find(".acdntTrgtCd").val();
			if (trgtCd === 'ATT000') {
				// VEHICLE
				let pesTrgt = $(item).find(".pesValidTrgt");
				$(pesTrgt).each(function (index, item) {
					$(item).removeClass($(item).data("class"));
					$(item).removeClass("data-validate");
				});
			} else if (trgtCd === 'ATT001') {
				// PERSON
				let vhclTrgt = $(item).find(".vhclValidTrgt");
				$(vhclTrgt).each(function (index, item) {
					$(item).removeClass($(item).data("class"));
					$(item).removeClass("data-validate");
				});
			}
		});
	});

	function modifyInfo() {
		const $frmAcdntModify = $("#frmAcdntModify");
		if (!$frmAcdntModify.soValid()) return;
		const form = $frmAcdntModify[0];
		const data = new FormData(form);

		//타겟 및 동승자 정보 저장
		const trgtInfoDiv = $(".trgtInfoDiv");
		$(trgtInfoDiv).each(function (i, value) {
			const trgtInfo = trgtInfoDiv.eq(i);
			const acdntTrgtCd = trgtInfo.find(".acdntTrgtCd").val();
			data.append("tfcAcdntTrgtInfo[" + i + "].acdntTrgtCd", acdntTrgtCd);
			data.append("tfcAcdntTrgtInfo[" + i + "].acdntTrgtSortNo", i);
			if (!isNull(trgtInfo.find(".acdntTrgtId").val())) {
				data.append("tfcAcdntTrgtInfo[" + i + "].acdntTrgtId", trgtInfo.find(".acdntTrgtId").val());
			}

			data.append("tfcAcdntTrgtInfo[" + i + "].acdntDmgCd", trgtInfo.find(".acdntDmgCd").val());
			data.append("tfcAcdntTrgtInfo[" + i + "].acdntTrgtPno", trgtInfo.find(".acdntTrgtPno").val());
			data.append("tfcAcdntTrgtInfo[" + i + "].acdntTrgtBrth", trgtInfo.find(".acdntTrgtBrth").val());
			data.append("tfcAcdntTrgtInfo[" + i + "].acdntTrgtNm", trgtInfo.find(".acdntTrgtNm").val());
			data.append("tfcAcdntTrgtInfo[" + i + "].deadYn", trgtInfo.find(".deadYn").val());

			if (acdntTrgtCd === 'ATT000') { // Vehicle
				data.append("tfcAcdntTrgtInfo[" + i + "].docNid", trgtInfo.find(".docNid").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].docType", trgtInfo.find(".docType").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].dvrLcenId", trgtInfo.find(".dvrLcenId").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].dvrLcenTy", trgtInfo.find(".dvrLcenTy").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].vhRegNo", trgtInfo.find(".vhRegNo").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].vhTy", trgtInfo.find(".vhTy").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].dvYn", trgtInfo.find(".dvYn").val());
			}

			const pnrInfoDiv = $(trgtInfo).find(".pnrInfoDiv");
			$(pnrInfoDiv).each(function (j, value) {
				var pnrInfo = pnrInfoDiv.eq(j);
				if (!isNull(pnrInfo.find(".acdntTrgtPnrId").val())) {
					data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].acdntTrgtPnrId", pnrInfo.find(".acdntTrgtPnrId").val());
				}
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrSortNo", j + 1);
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].drvYn", pnrInfo.find(".drvYn").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrNm", pnrInfo.find(".pnrNm").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrBrth", pnrInfo.find(".pnrBrth").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrPno", pnrInfo.find(".pnrPno").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrAddr", pnrInfo.find(".pnrAddr").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrEmail", pnrInfo.find(".pnrEmail").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrDmgCd", pnrInfo.find(".pnrDmgCd").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrDmgDesc", pnrInfo.find(".pnrDmgDesc").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrDeadYn", pnrInfo.find(".pnrDeadYn").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrDrvrRltnCd", pnrInfo.find(".pnrDrvrRltnCd").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].pnrDvrLcenId", pnrInfo.find(".pnrDvrLcenId").val());
				data.append("tfcAcdntTrgtInfo[" + i + "].tfcAcdntTrgtPnrInfo[" + j + "].dvrLcenTy", pnrInfo.find(".dvrLcenTy").val());
			});
		});

		// 기존 파일 정보 추가
		var filebox = $(".filebox");
		deleteFilesArr.forEach((value, index) => {
			data.append("tfcAcdntFileInfo[" + index + "].acdntFileNo", value);
		});

		$.ajax({
			url: /*[[@{/acdnt/mng/update.ajax}]]*/ "/acdnt/mng/update.ajax",
			type: "post",
			enctype: 'multipart/form-data',
			data: data,
			processData: false,
			contentType: false,
			success: function (result) {
				if (result.code === 200) {
					new ModalBuilder().init().successBody(result.message).footer(4, 'Confirmar', function (button, modal) {
						modal.close();
						var baseUrl = /*[[@{/acdnt/mng/detail.do}]]*/ '';
						window.location.href = baseUrl + "?tfcAcdntId=" + [[${tfcAcdntMaster.tfcAcdntId}]];
					}).open();
				} else {
					new ModalBuilder().init().alertBody(result.message).footer(4, 'Confirmar', function (button, modal) {modal.close();}).open();
				}
			}
		});

	}

	function viewAcdntTrgtWrap(_this) {
		let accidentTrgtType = _this.value;
		let trgtTable = $(_this).parents(".trgtInfoDiv");
		if (accidentTrgtType === 'ATT000') {
			$(trgtTable).find(".personWrap").css('display', 'none');
			$(trgtTable).find(".personWrap").find("input").attr("disabled", true);
			$(trgtTable).find(".vehicleWrap").css('display', '');
			$(trgtTable).find(".vehicleWrap").find("input").attr("disabled", false);
			$(trgtTable).find(".pesValidTrgt").removeClass("data-validate");
			$(trgtTable).find(".vhclValidTrgt").addClass("data-validate");

			let pesTrgt = $(trgtTable).find(".pesValidTrgt");
			$(pesTrgt).each(function (index, item) {
				$(item).removeClass($(item).data("class"));
				$(item).removeClass("data-validate");
			});

			let vhclTrgt = $(trgtTable).find(".vhclValidTrgt");
			$(vhclTrgt).each(function (index, item) {
				$(item).addClass($(item).data("class"));
				$(item).addClass("data-validate");
			});

		} else {
			$(trgtTable).find(".vehicleWrap").css('display', 'none');
			$(trgtTable).find(".vehicleWrap").find("input").attr("disabled", true);
			$(trgtTable).find(".personWrap").css('display', '');
			$(trgtTable).find(".personWrap").find("input").attr("disabled", false);
			$(trgtTable).find(".vhclValidTrgt").removeClass("data-validate");
			$(trgtTable).find(".pesValidTrgt").addClass("data-validate");

			let pesTrgt = $(trgtTable).find(".pesValidTrgt");
			$(pesTrgt).each(function (index, item) {
				$(item).addClass($(item).data("class"));
				$(item).addClass("data-validate");
			});

			let vhclTrgt = $(trgtTable).find(".vhclValidTrgt");
			$(vhclTrgt).each(function (index, item) {
				$(item).removeClass($(item).data("class"));
				$(item).removeClass("data-validate");
			});
		}
	}

	const modalContent = document.getElementById("modal");

	// modal control
	function changePolListModal(type) {
		if (type == "show") {
			$.ajax({
				url: '/common/modal/pol/list.ajax',
				type: "get",
				dataType: 'html',
				success: function (data) {
					modalContent.innerHTML += data;
					modalContent.style.display = 'block';
				}
			});
		} else if (type == "hide") {
			modalContent.innerHTML = '';
			modalContent.style.display = 'none';
		}
	}

	const lng = /*[[${tfcAcdntMaster.lng}]]*/;
	const lat = /*[[${tfcAcdntMaster.lat}]]*/;
	let map = new MozAtesMap({
		elementId: 'map',
		center_lng: lng,
		center_lat: lat,
		isInitDrawCenterMarker: true
	});

	function tablePassenger(_this) {
		const infoDiv = $(_this).parents(".trgtInfoDiv").find(".pnrInfo");
		const passengerLength = $(_this).parents(".trgtInfoDiv").find(".pnrInfoDiv").length + 1;
		const html = getPassengerForm(null, passengerLength);
		$(infoDiv).append(html);
	}

	function tableDriver() {
		$("#frmAcdntModify").append(getTargetForm());
		targetLength++;
	}

	function findPolBtn() {
		$("#modalTbody > tr").remove();
		$("#modalPaging > div").remove();

		var page = $("#modalPage").val();
		var searchTxt = $("#searchContent").val();
		var start = $("#modalStart").val();
		$.ajax({
			type: "get",
			data: {"searchType": "oprtrNm", "searchTxt": searchTxt, "page": page, "start": start},
			url: '/common/modal/pol/search/list.ajax',
			success: function (result) {
				let html = '';
				let polList = result.data.list;
				let paging = result.data.pagination;
				if (polList.length === 0) {
					// 검색결과가 없습니다
					html = `<tr>
						<td colspan="3">Nenhum resultado de pesquisa</td>
					</tr>`;
				} else {
					$(result.data.list).each(function (index, item) {
						var jur = item.jur;
						var polNm = item.polNm;
						if (isNull(jur)) {
							jur = '-';
						}
						if (isNull(polNm)) {
							polNm = '-';
						}
						html += '<tr onclick="selectPol(\'' + item.polId + '\', \'' + polNm + '\', \'' + jur + '\')">' +
							'<td>' + item.rnum + '</td>' +
							'<td>' + polNm + '</td>' +
							'<td>' + jur + '</td>' +
							'</tr>';
					})
				}
				$("#modalTbody").append(html);
				if (paging != null && paging != '' && paging.totalListCnt > 0) {
					$("#modalPaging").append(getPagingHtml(paging, page));
				}
				$("#totalCnt").text(paging.totalListCnt);
			}
		});
	}

	function fnPageMove(page) {
		$("#modalPage").val(page);
		findPolBtn();
	}

	function selectPol(polId, polNm, polDeptNm) {
		$("#polId").val(polId);
		$("#polNm").val(polNm);
		$("#polDeptNm").text(polDeptNm);
		changePolListModal('hide');
	}

	function deletePnrInfo(_this) {
		$(_this).closest(".pnrInfoDiv").remove();
		$(".tableNum").each(function (index, item) {
			$(item).text(" " + (index + 1));
		});
		targetLength--;
	}

	var deleteFilesArr = new Array();
	$(".uploadedFileDelBtn").on('click', function () {
		var $this = $(this);
		var fileNm = $this.data('name');
		var fileId = $this.data('value');

		$this.closest('.upload_list').remove();

		let uploadLength = $('#uploadedFilseContainer').children('.upload_list').length;
		if (uploadLength < 1) {
			$('#uploadedFilseContainer').addClass('none');
		}
		deleteFilesArr.push(fileId);

		let deleteIdx = oldFileNameArr.indexOf(fileNm);
		oldFileNameArr.splice(deleteIdx, 1);
		fileDrag(10, 5, 100, ["jpg", "jpeg", "png", "PNG", "tif", "gif"]);
	});

	$("#acdntDt").on('change', function(){
		// 미래의 시간이 선택된 경우
		if (this.validity.rangeOverflow) {
			this.value = '';
			$("input[name=acdntDt]").val('');
			new ModalBuilder().init().alertBody([[#{accident.common.msg.date.invalid}]]).footer(4,"Confirmar",function(button, modal){
				modal.close();}
			).open();
			return;
		}
		var value = this.value;
		var date = new Date(value);
		var formattedDateTime = formatDate(date);
		$("input[name=acdntDt]").val(formattedDateTime);
	});

	function getTargetForm(targetInfo = null) {
		const showVehicleWrap = targetInfo === null ? true : targetInfo.acdntTrgtCd === 'ATT000';

		let html = '';
		html = `
            <div class="trgtInfoDiv pnrInfoDiv">`;

		if (targetInfo != null) {
			html += `<input type="hidden" name="acdntTrgtId" class="acdntTrgtId" value="${targetInfo.acdntTrgtId}">`;
		}

        html +=  `<div class="pnrBox rgTableTitle" data-type="driver">
                    <h1><span>${[[#{accident.common.target.title}]]}</span><span class="tableNum"> ${targetLength}</span></h1>`;

		if (targetLength !== 1) {
			html += `<button type="button" class="delete-btn" onclick="deletePnrInfo(this)">${[[#{accident.common.target.btn.delete}]]}</button>`;
		}

		html +=
				`</div>
                <table class="detail-table">
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="35%">
                    </colgroup>
                    <tbody>
        `;
		<!-- VEHICLE -->
		html += `
            <tr>
                <th><span class="requiredMark">${[[#{accident.common.target.type.label}]]}</span></th>
                <td colspan="3">
                    <select class="filter-select acdntTrgtCd" data-class="acdntTrgtCd"
                        data-valid-name="${[[#{accident.common.target.type.label}]]}" onchange="viewAcdntTrgtWrap(this)" data-valid-required>
                        <option value="ATT000" ${targetInfo?.acdntTrgtCd === 'ATT000' ? 'selected' : ''}>${[[#{accident.common.target.type.vehicle}]]}</option>
                        <option value="ATT001" ${targetInfo?.acdntTrgtCd === 'ATT001' ? 'selected' : ''}>${[[#{accident.common.target.type.person}]]}</option>
                    </select>
                </td>
            </tr>
			<tr class="vehicleWrap" style="${showVehicleWrap ? '' : 'display:none'}">
                <th><span class="requiredMark">${[[#{accident.common.target.name}]]}</span></th>
                <td>
                    <input type="text" class="main-input data-validate acdntTrgtNm vhclValidTrgt" data-class="acdntTrgtNm"
                    value="${targetInfo?.acdntTrgtNm ?? ''}"
                    placeholder="${[[#{accident.common.target.name.placeholder}]]}"
                    data-valid-name="${[[#{accident.common.target.name}]]}" data-valid-required>
                </td>
                <th><span class="requiredMark">${[[#{accident.common.target.birth}]]}</span></th>
                <td>
                    <input type="text" class="main-input data-validate acdntTrgtBrth vhclValidTrgt" data-class="acdntTrgtBrth"
                        value="${targetInfo?.acdntTrgtBrth ?? ''}"
                        placeholder="dd.mm.yyyy" data-valid-name="${[[#{accident.common.target.birth}]]}"
                        data-valid-required data-valid-brth maxlength="10" onkeyup="keyupDateCheck(event, 'ddMMyyyy', '.')">
                </td>
            </tr>
            <tr class="vehicleWrap" style="${showVehicleWrap ? '' : 'display:none'}">
                <th><span class="requiredMark">${[[#{accident.common.target.damage}]]}</span></th>
                <td>
                    <select class="filter-select filter95 acdntDmgCd data-validate vhclValidTrgt" data-class="acdntDmgCd"
                        data-valid-name="${[[#{accident.common.target.damage}]]}" data-valid-required>`;

		for (const cd of [[${accidentDmgCd}]]) {
			html += `<option value="${cd.cdId}" ${targetInfo?.acdntDmgCd === cd.cdId ? 'selected' : ''}>${cd.cdNm}</option>`;
		}

		html += `</select>
                </td>
                <th><span class="requiredMark">${[[#{accident.common.target.contact}]]}</span></th>
                <td>
                    <input type="text" class="main-input data-validate acdntTrgtPno vhclValidTrgt" data-class="acdntTrgtPno"
                        value="${targetInfo?.acdntTrgtPno ?? ''}"
                        placeholder="${[[#{accident.common.target.contact.placeholder}]]}"
                        data-valid-name="${[[#{accident.common.target.contact}]]}" data-valid-required onkeyup="keyupNumberEvent(this)">
                </td>
            </tr>
            <tr class="vehicleWrap" style="${showVehicleWrap ? '' : 'display:none'}">
                <th><span class="requiredMark">${[[#{accident.common.target.license.id}]]}</span></th>
                <td>
                    <input type="text" class="main-input data-validate dvrLcenId vhclValidTrgt" data-class="dvrLcenId"
                    	value="${targetInfo?.dvrLcenId ?? ''}"
                        placeholder="${[[#{accident.common.target.license.id.placeholder.placeholder}]]}"
                        data-valid-name="${[[#{accident.common.target.license.id}]]}"
                        data-valid-required onkeyup="keyupNumberEvent(this)">
                </td>
                <th><span class="requiredMark">${[[#{accident.common.target.license.type}]]}</span></th>
                <td>
                    <select class="filter-select filter95 dvrLcenTy data-validate vhclValidTrgt" data-class="dvrLcenTy"
                        data-valid-name="${[[#{accident.common.target.license.type}]]}" data-valid-required>`;

		for (const cd of [[${dvrLcenTyList}]]) {
			html += `<option value="${cd.cdId}" ${targetInfo?.dvrLcenTy === cd.cdId ? 'selected' : ''}>${cd.cdNm}</option>`;
		}

		html+=      `</select>
                </td>
            </tr>
            <tr class="vehicleWrap" style="${showVehicleWrap ? '' : 'display:none'}">
                <th><span class="requiredMark">${[[#{accident.common.target.vehicle.no}]]}</span></th>
                <td>
                    <input type="text" class="main-input data-validate vhRegNo vhclValidTrgt" data-class="vhRegNo"
                    value="${targetInfo?.vhRegNo ?? ''}"
                    placeholder="${[[#{accident.common.target.vehicle.no.placeholder}]]}"
                    data-valid-name="${[[#{accident.common.target.vehicle.no}]]}" data-valid-required>
                </td>
                <th><span class="requiredMark">${[[#{accident.common.target.vehicle.type}]]}</span></th>
                <td>
                    <select class="filter-select filter95 data-validate vhTy vhclValidTrgt" data-class="vhTy"
                        data-valid-name="${[[#{accident.common.target.vehicle.type}]]}" data-valid-required>`;

		for (const cd of [[${vhTyList}]]) {
			html += `<option value="${cd.cdId}" ${targetInfo?.vhTy === cd.cdId ? 'selected' : ''}>${cd.cdNm}</option>`;
		}

		html +=     `</select>
                </td>
            </tr>

            <tr class="vehicleWrap" style="${showVehicleWrap ? '' : 'display:none'}">
                <th><span class="requiredMark">${[[#{accident.common.target.death.label}]]}</span></th>
                <td>
                    <select class="filter-select data-validate deadYn vhclValidTrgt" data-class="deadYn"
                        data-valid-name="${[[#{accident.common.target.death.label}]]}" data-valid-required>
                        <option value="N">${[[#{accident.common.target.death.n}]]}</option>
                        <option value="Y">${[[#{accident.common.target.death.y}]]}</option>
                    </select>
                </td>
                <th><span class="requiredMark">${[[#{accident.common.target.vehicle.status}]]}</span></th>
                <td>
                    <select class="filter-select data-validate dvYn vhclValidTrgt" data-class="dvYn"
                        data-valid-name="${[[#{accident.common.target.vehicle.status}]]}" data-valid-required>
                        <option value="Y">${[[#{accident.common.target.vehicle.status.moving}]]}</option>
                        <option value="N">${[[#{accident.common.target.vehicle.status.stopped}]]}</option>
                    </select>
                </td>
            </tr>
            <tr class="vehicleWrap" style="${showVehicleWrap ? '' : 'display:none'}">
                <th><span>${[[#{accident.common.target.docNo}]]}</span></th>
                <td>
                    <input type="text" class="main-input docNid vhclValidTrgt" data-class="docNid"
                        value="${targetInfo?.docNid ?? ''}"
                        placeholder="${[[#{accident.common.target.docType.placeholder}]]}" maxlength="64">
                </td>
                <th><span>${[[#{accident.common.target.docType}]]}</span></th>
                <td>
                    <input type="text" class="main-input docType vhclValidTrgt" data-class="docType"
                        value="${targetInfo?.docType ?? ''}"
                        placeholder="${[[#{accident.common.target.docNo.placeholder}]]}" maxlength="64">
                </td>
            </tr>
        `;

		<!-- PERSON -->
		html += `
            <tr class="personWrap" style="${showVehicleWrap ? 'display:none' : ''}">
                <th><span class="requiredMark">${[[#{accident.common.target.damage}]]}</span></th>
                <td>
                    <select class="filter-select filter95 acdntDmgCd pesValidTrgt data-validate" data-class="acdntDmgCd"
                        data-valid-name="${[[#{accident.common.target.damage}]]}" data-valid-required>`;

		for (const cd of [[${accidentDmgCd}]]) {
			html +=     `<option value="${cd.cdId}">${cd.cdNm}</option>`;
		}

		html +=     `</select>
                </td>
                <th><span class="requiredMark">${[[#{accident.common.target.contact}]]}</span></th>
                <td>
                    <input type="text" class="main-input acdntTrgtPno pesValidTrgt" data-class="acdntTrgtPno"
                        value="${targetInfo?.acdntTrgtPno ?? ''}"
                        placeholder="${[[#{accident.common.target.contact.placeholder}]]}"
                        data-valid-name="${[[#{accident.common.target.contact}]]}"
                        data-valid-required onkeyup="keyupNumberEvent(this)">
                </td>
            </tr>
            <tr class="personWrap" style="${showVehicleWrap ? 'display:none' : ''}">
                <th><span class="requiredMark">${[[#{accident.common.target.birth}]]}</span></th>
                <td>
                    <input type="text" class="main-input acdntTrgtBrth pesValidTrgt" data-class="acdntTrgtBrth"
                        value="${targetInfo?.acdntTrgtBrth ?? ''}"
                        placeholder="dd.mm.yyyy" data-valid-name="${[[#{accident.common.target.birth}]]}"
                        data-valid-required data-valid-brth maxlength="10" onkeyup="keyupDateCheck(event, 'ddMMyyyy', '.')">
                </td>
                <th><span class="requiredMark">${[[#{accident.common.target.name}]]}</span></th>
                <td>
                    <input type="text" class="main-input acdntTrgtNm pesValidTrgt" data-class="acdntTrgtNm"
                        value="${targetInfo?.acdntTrgtNm ?? ''}"
                        placeholder="${[[#{accident.common.target.name.placeholder}]]}"
                        data-valid-name="${[[#{accident.common.target.name}]]}" data-valid-required>
                </td>
            </tr>
            <tr class="personWrap" style="${showVehicleWrap ? 'display:none' : ''}">
                <th><span class="requiredMark">${[[#{accident.common.target.death.label}]]}</span></th>
                <td colspan="3">
                    <select class="filter-select deadYn pesValidTrgt" data-class="pesValidTrgt"
                        data-valid-name="${[[#{accident.common.target.death.label}]]}" data-valid-required>
                        <option value="N">${[[#{accident.common.target.death.n}]]}</option>
                        <option value="Y">${[[#{accident.common.target.death.y}]]}</option>
                    </select>
                </td>
            </tr>
        </tbody>
        </table>
        <div class="pnrInfo vehicleWrap"></div>
        <div class="tableAddWrap vehicleWrap">
            <div onclick="tablePassenger(this)" class="tableAddBtn tableOneAdd">
                <img src="/images/table-plus.png" alt="교통사고 테이블 추가"><span >${[[#{accident.common.target.btn.add.passenger}]]}</span>
            </div>
        </div>
        </div>`;

		return html;
	}

	function getPassengerForm(passengerInfo = null, count = 1) {
		let html = '';

		html += `
			<div class="pnrInfoDiv">`;
		if (passengerInfo != null) {
			html += `<input type="hidden" name="acdntTrgtPnrId" class="acdntTrgtPnrId" value="${passengerInfo.acdntTrgtPnrId}">`;
		}

        html += `
			<div class="pnrBox rgTableTitle" data-type="passenger">
            <h1>${[[#{accident.common.passenger.title}]]}<span> ${count}</span></h1>
            <button type="button" class="delete-btn" onclick="deletePnrInfo(this)">Delete</button>
        </div>
        <table class="detail-table">
            <colgroup>
                <col width="15%">
                <col width="35%">
                <col width="15%">
                <col width="35%">
            </colgroup>
            <tbody>
                <tr>
                    <th><span class="requiredMark">${[[#{accident.common.passenger.driver.status.label}]]}</span></th>
                    <td>
                        <select class="filter-select data-validate drvYn" data-valid-required>
                            <option value="N"
								${passengerInfo?.drvYn === 'N' ? 'selected': ''}>${[[#{accident.common.passenger.driver.status.n}]]}</option>
                            <option value="Y"
								${passengerInfo?.drvYn === 'Y' ? 'selected': ''}>${[[#{accident.common.passenger.driver.status.y}]]}</option>
                        </select>
                    </td>
                    <th><span class="requiredMark">${[[#{accident.common.passenger.name.label}]]}</span></th>
                    <td>
                        <input type="text" class="main-input data-validate pnrNm" data-class="pnrNm"
                        value="${passengerInfo?.pnrNm ?? ''}"
                        placeholder="${[[#{accident.common.passenger.name.placeholder}]]}"
                        data-valid-name="${[[#{accident.common.passenger.name.label}]]}" data-valid-required>
                    </td>
                </tr>
                <tr>
                    <th><span class="requiredMark">${[[#{accident.common.passenger.birth.label}]]}</span></th>
                    <td>
                        <input type="text" class="main-input data-validate pnrBrth" data-class="pnrBrth"
                        value="${passengerInfo?.pnrBrth ?? ''}"
                        placeholder="dd.mm.aaaa" data-valid-name="${[[#{accident.common.passenger.birth.label}]]}"
                        data-valid-required maxlength="10" onkeyup="keyupDateCheck(event, 'ddMMyyyy', '.')">
                    </td>
                    <th><span class="requiredMark">${[[#{accident.common.passenger.contact.label}]]}</span></th>
                    <td>
                        <input type="text" class="main-input data-validate pnrPno" data-class="pnrPno"
                        value="${passengerInfo?.pnrPno ?? ''}"
                        placeholder="${[[#{accident.common.passenger.contact.placeholder}]]}"
                        data-valid-name="${[[#{accident.common.passenger.contact.label}]]}" data-valid-required onkeyup="keyupNumberEvent(this)">
                    </td>                    
                </tr>
                <tr>
                    <th>${[[#{accident.common.passenger.address.label}]]}</th>
                    <td>
                        <input type="text" class="main-input pnrAddr" data-class="pnrAddr"
                        value="${passengerInfo?.pnrAddr ?? ''}"
                        placeholder="${[[#{accident.common.passenger.address.placeholder}]]}">
                    </td>
                    <th>${[[#{accident.common.passenger.email.label}]]}</th>
                    <td>
                        <input type="text" class="main-input data-validate pnrEmail" data-class="pnrEmail"
                        value="${passengerInfo?.pnrEmail ?? ''}"
                        placeholder="${[[#{accident.common.passenger.email.placeholder}]]}"
                        data-valid-name="${[[#{accident.common.passenger.email.label}]]}" data-valid-email>
                    </td>

                </tr>
                <tr>
                    <th><span class="requiredMark">${[[#{accident.common.passenger.damage.label}]]}</span></th>
                    <td>
                        <select class="filter-select filter95 pnrDmgCd data-validate" data-class="pnrDmgCd"
                        data-valid-name="${[[#{accident.common.passenger.damage.label}]]}" data-valid-required>`;

		for (const cd of [[${passengerDamageCd}]]) {
			html += `<option value="${cd.cdId}" ${cd.cdId === passengerInfo?.pnrDmgCd ? 'selected' : ''}>${cd.cdNm}</option>`;
		}

		html +=             `</select>
                    </td>
                    <th>${[[#{accident.common.passenger.damage.desc.label}]]}</th>
                    <td>
                        <input type="text" class="main-input pnrDmgDesc" data-class="pnrDmgDesc"
                        value="${passengerInfo?.pnrDmgDesc ?? ''}"
                        placeholder="${[[#{accident.common.passenger.damage.desc.placeholder}]]}"
                        maxlength="255">
                    </td>
                </tr>
                <tr>
                    <th><span class="requiredMark">${[[#{accident.common.passenger.death.label}]]}</span></th>
                    <td>
                        <select class="filter-select data-validate pnrDeadYn" data-class="pnrDeadYn"
                        data-valid-name="${[[#{accident.common.passenger.death.label}]]}" data-valid-required>
                            <option value="N" ${passengerInfo?.pnrDeadYn === 'N' ? 'selected' : ''}>${[[#{accident.common.passenger.death.n}]]}</option>
                            <option value="Y" ${passengerInfo?.pnrDeadYn === 'Y' ? 'selected' : ''}>${[[#{accident.common.passenger.death.y}]]}</option>
                        </select>
                    </td>
                    <th><span class="requiredMark">${[[#{accident.common.passenger.relationship}]]}</span></th>
                    <td>
                        <select id="pnrDrvrRltnCd" class="filter-select data-validate pnrDrvrRltnCd" data-class="pnrDrvrRltnCd"
                        data-valid-name="${[[#{accident.common.passenger.relationship}]]}" data-valid-required>`;

		for (const cd of [[${passengerDriverRelationshipCd}]]) {
			html += `<option value="${cd.cdId}" ${cd.cdId === passengerInfo?.pnrDrvrRltnCd ? 'selected' : ''}>${cd.cdNm}</option>`;
		}
		html += `</select>
                    </td>
                </tr>
                <tr>
                    <th>${[[#{accident.common.passenger.license.id.label}]]}</th>
                    <td>
                        <input type="text" class="main-input pnrDvrLcenId" data-class="pnrDvrLcenId"
                        value="${passengerInfo?.pnrDvrLcenId ?? ''}"
                        placeholder="${[[#{accident.common.passenger.license.id.placeholder}]]}"
                        onkeyup="keyupNumberEvent(this)">
                    </td>
                    <th>${[[#{accident.common.passenger.license.type.label}]]}</th>
                    <td>
						<select class="filter-select dvrLcenTy" data-class="dvrLcenTy">
							<option value=""></option>`;

		for (const cd of [[${dvrLcenTyList}]]) {
			html += `<option value="${cd.cdId}" ${passengerInfo?.dvrLcenTy === cd.cdId ? 'selected' : ''}>${cd.cdNm}</option>`;
		}

				html += `</select>
                    </td>                    
				</tr>
            </tbody>
        </table>
    </div>
`;
		return html;
	}
</script>