<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">
		<h1 id="content-title" th:text="#{accident.mngList.title}">전체 교통 사고 수</h1>
		<div id="content-sub-title" th:text="#{accident.mngList.descr}"></div>

		<div class="">
			<form id="frmSearch">
				<input type="hidden" id="page" name="page" th:value="${pagination.page}">
				<table id="filter-table">
					<colgroup>
						<col width="15%">
						<col width="85%">
					</colgroup>
					<tbody>
						<tr>
							<th th:text="#{accident.common.search.searchOp}">유형 선택</th>
							<td>
								<select name="searchType" id="searchType" class="filter-select" th:field="${tfcAcdntMaster.searchType}">
									<option value="all" th:text="#{accident.mngList.selectAll}">전체</option>
									<option value="acdntId" th:text="#{accident.mngList.receptionNo}">교통사고 접수번호</option>
									<option value="vioNm" th:text="#{accident.mngList.involvedPerson}">사고 당사자</option>
									<option value="polNm" th:text="#{accident.mngList.personInCharge}">담당자</option>
								</select>
						</tr>
						<tr>
							<th th:text="#{accident.mngList.dateOp}">날짜 선택</th>
							<td>
								<input class="input-date" id="sDate" name="sDate" type="date" th:value="${tfcAcdntMaster.sDate}"> ~
								<input class="input-date" id="eDate" name="eDate" type="date" th:value="${tfcAcdntMaster.eDate}">
							</td>
						</tr>
						<tr>
							<th th:text="#{accident.mngList.serchTerm}">내용 검색</th>
							<td><input class="search-box main-input" id="searchTxt" name="searchTxt" type="text"
									th:placeholder="#{accident.mngList.placeholder}" th:value="${tfcAcdntMaster.searchTxt}"></td>
						</tr>
					</tbody>
				</table>
			</form>
			<div class="btn-wrap-center">
				<button type="button" id="btnSearch" class="main-btn form-button" th:text="#{accident.mngList.check}">조회</button>
				<!-- TODO 검색초기화 -->
				<button type="button" id="resetSearch" class="sub-btn form-button" onclick="resetForm('frmSearch')" th:text="#{accident.common.search.reset}">검색 초기화</button>
			</div>
		</div>

		<form id="frmSearch" class="">
			<div id="search-form-result-wrap">
				<input type="hidden" id="page" name="page" th:value="${pagination.page}">
				<input type="hidden" id="hdnStart" name="start" th:value="${tfcAcdntMaster.start}">
				<div id="table-search-result-text">
					Found <span th:text='|"${pagination.totalListCnt}"|'></span> results
				</div>
				<div id="table-regist-btn">
					<button type="button" class="main-btn form-button" th:text="#{accident.mngList.registrationAccident}" th:onclick="|location.href='@{/acdnt/mng/save.do}'|">등록하기</button>
				</div>
			</div>
		</form>

		<div class="">
			<table class="main-table" id="tblList">
				<thead>
					<tr>
						<th th:text="#{accident.mngList.tableNumber}">No.</th>
						<th th:text="#{accident.mngList.accidentNumber}">교통사고 접수번호</th>
						<th th:text="#{accident.mngList.accidentType}">교통사고 유형</th>
						<th th:text="#{accident.mngList.accidentDate}">발생시일</th>
						<th th:text="#{accident.mngList.accidentPlace}">발생장소</th>
						<th th:text="#{accident.mngList.involvedPerson}">사고 당사자</th>
						<th th:text="#{accident.mngList.personInCharge}">담당자</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="acdntItem : ${acdntList}"
						th:onclick="|location.href='@{/acdnt/mng/detail.do(tfcAcdntId=${acdntItem.tfcAcdntId})}'|">
						<td th:text="${acdntItem.rnum}"></td>
						<td th:text="${acdntItem.tfcAcdntId}"></td>
						<td th:text="${acdntItem.cmCd.cdNm}"></td>
						<td th:text="${#dates.format(acdntItem.acdntDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${acdntItem.roadAddr}"></td>
						<td th:text="${acdntItem.trgtNm != null ? acdntItem.trgtNm : '-'}"></td>
						<td th:text="${acdntItem.polInfo != null ? acdntItem.polInfo.polNm : '-'}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="page_wrap">
			<div th:insert="tags/paging :: pagingFragment"></div>
		</div>
	</div>


</th:block>

</html>
<script th:inline="javascript">

	function fnPageMove(page) {
		$("#page").val(page);
		$("#frmSearch").submit();
	}

	$("#btnSearch").on('click', function(){
		$("#frmSearch").submit();		
	})
</script>