<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>MOZ-ATES</title>

	<!-- Context Path add -->
	<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}" />

	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/reset.css}">

	<script th:src="@{/js/lib/jquery-1.12.4.min.js}"></script>

	<script>
		var contextPath = document.getElementById('contextPathHolder').getAttribute("data-contextpath");
	</script>
</head>

<body>
	<div class="admin-wrap">
		<div class="admin-center" id="contentWrap">
			
			<!-- ID Find Input -->
			<div class="admin-form">
				<div id="admin-sub-logo">
					<div th:onclick="|location.href='@{/login}'|"><img src="/images/login-back.png" alt="back"></div>
					<div>
						<img src="/images/inatro-logo2.png" alt="logo">
					</div>
				</div>
				
				<div th:text="#{idFind.title}">Find ID</div>

				<form id="findIdForm">
					<div id="idFindWrap">
						<div class="admin-input jf-input">
							<label class="cm-label-bf" th:text="#{idFind.input.label.name}">Name</label>
							<input type="text" class="form-input" id="oprtrNm" name="oprtrNm" th:placeholder="#{idFind.input.placeholder.name}">
							<p class="none infoText nmInfo" th:text="#{idFind.infoTxt.name}"></p>
						</div>

						<div class="admin-input jf-input">
							<label class="cm-label-bf" th:text="#{idFind.input.label.contact}">Contact</label>
							<input type="text" class="form-input" id="oprtrPno" name="oprtrPno" th:placeholder="#{idFind.input.placeholder.contact}">
							<p class="none infoText pnoInfo" th:text="#{idFind.infoTxt.contact}"></p>
						</div>
						<div class="admin-input complete">
							<button type="button" class="sub-btn form-button" 
								th:onclick="|location.href='@{/login}'|" th:text="#{idFind.button.login}">Login</button>
							<button type="button" class="main-btn form-button" 
								onclick="findId()" th:text="#{idFind.button.find}">Find</button>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>



	<script th:inline="javascript">
		const oprtrNmElmnt = document.getElementById("oprtrNm");
		const oprtrPnoElmnt = document.getElementById("oprtrPno");

		oprtrPnoElmnt.addEventListener('keyup', onlyNum);

		function onlyNum(event) {
			let processedVal = event.target.value.trim().replace(/[^0-9]/g, "");
			event.target.value = processedVal;
		}

		function findId() {

			// Reset Info Text
			const infoTextList = document.getElementsByClassName('infoText');
			for (const element of infoTextList) {
				if (!element.classList.contains('none')) {
					element.classList.add('none');
				}
			}

			let oprtrNm = oprtrNmElmnt.value;
			let oprtrPno = oprtrPnoElmnt.value;

			if (oprtrNm == '') {
				oprtrNmElmnt.focus();
				document.getElementsByClassName('nmInfo')[0].classList.remove('none');
				return false;
			}

			if (oprtrPno == '') {
				oprtrNmElmnt.focus();
				document.getElementsByClassName('pnoInfo')[0].classList.remove('none');
				return false;
			}

			const formData = new FormData(document.getElementById('findIdForm'));

			fetch('/id/find.ajax', {
				method: "post",
				body: formData
			})
				.then(response => response.json())
				.then((result) => {
					if (result.code === 200) {
						let name = result.data.oprtrNm;
						let id = result.data.oprtrAccountId;
						
						const contentWrap = document.getElementById("contentWrap");
						let mainUrl = /*[[@{/login}]]*/;
						let pwFindUrl = /*[[@{/password/find.do}]]*/;
						
						let title = /*[[#{idFind.title}]]*/;
						let idInfoTxt = /*[[#{idFind.result.msg}]]*/;
						let loginBtnTxt = /*[[#{idFind.button.login}]]*/;;
						let findPwTxt = /*[[#{idFind.result.findPw}]]*/;;
						
						let html = `			<div class="admin-form">
								<div id="admin-sub-logo">
									<div></div>
									<div>
										<img src="/images/inatro-logo2.png" alt="logo">
									</div>
								</div>
								<div>${title}</div>
								<div id="idFindWrap">
									<div class="admin-input jf-input">
										<label class="cm-label-bf"><span>${name}, </span>${idInfoTxt}</label>
										<input class="form-input" value="${id}" readonly>
									</div>
				
									<div class="admin-input login">
										<button type="button" class="sub-btn form-button" onclick="location.href='${mainUrl}'">${loginBtnTxt}</button>
									</div>
								</div>
							</div>
				
							<a class="pass-find" href="${pwFindUrl}">
								${findPwTxt}
							</a>`;
							contentWrap.innerHTML = html;
						
					} else {
						alert(result.message);
					}
				});
		}
	</script>
</body>

</html>