<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>SB Admin 2 - Login</title>
 <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">

    <!-- Custom styles for this template-->
	<!-- Context Path add -->
	<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
	<script>
	var contextPath = document.getElementById('contextPathHolder').getAttribute("data-contextpath");
	</script>
	        <script th:src="@{/js/lib/jquery-1.12.4.min.js}"></script>
		<!--custom JS-->
        <script th:src="@{/js/custom/common.js}"></script>
	<script type="javascript" th:src="@{/js/lib/jquery-1.12.4.min.js}"></script>
</head>

<body>
	<div class="admin-wrap">
		<div class="admin-center">
			 <form class="user" th:action="@{/loginAjax}" method="post">
				<div class="admin-form join-form">
					<div class="admin-sub-title">비밀번호 재설정</div>
					<div class="admin-input">
						<label>새 비밀번호</label>
						<input type="password" class="form-input" id="txtOprtrAccountId" name="oprtrAccountId" aria-describedby="emailHelp" placeholder="비밀번호">
						<i class="eye"></i>
						<p class="none">
							Por favor entre a sua ID.Por favor,<br>
							preencha o formulário de correio electrónico.
						</p>
					</div>
					<div class="admin-input">
						<label>새 비밀번호 확인</label>
						<input type="password" class="form-input" id="txtOprtrAccountId" name="oprtrAccountId" aria-describedby="emailHelp" placeholder="비밀번호 재입력">
						<i class="eye"></i>
						<p class="none">
							Por favor entre a sua ID.Por favor,<br>
							preencha o formulário de correio electrónico.
						</p>
					</div>
				
					<div class="admin-input complete">
						<button type="submit" class="sub-btn form-button">로그인</button>
						<button type="submit" class="main-btn form-button">변경완료</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="javascript">
	</script>
</body>
</html>