<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

	<div id="container-fluid">

		<th:block th:switch="${finePymntInfo.fineNtcInfo.ntcTy}">
			<h1 th:case="NTT001" id="detail-content-title" th:text="'First bill of payment'">1차 납부 고지서(배치 생성 후 적용 필요)</h1>
			<h1 th:case="NTT002" id="detail-content-title" th:text="'Second bill of payment'">2차 납부 고지서(배치 생성 후 적용 필요)</h1>
		</th:block>
		
		<div class="detail-table-wrap">
			<table class="detail-table">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<th th:text="Name">운전자명</th>
						<td th:text="${finePymntInfo.vioInfo?.vioNm}"></td>
<!--						<th th:text="'Vehicle registration No.'">차량등록번호</th>-->
<!--						<td th:text="${finePymntInfo.tfcEnfMaster.vhRegNo}"></td>-->
					</tr>
					<tr>
						<th th:text="Vehicle">차량</th>
						<td th:text="${finePymntInfo.tfcEnfMaster?.vhTy}"></td>
						<th th:text="'Vehicle No.'">차량번호</th>
						<td th:text="${finePymntInfo.tfcEnfMaster?.vhRegNo}"></td>
					</tr>
					<tr>
						<th th:text="Contact">연락처</th>
						<td th:text="${finePymntInfo.vioInfo?.vioPno}"></td>
						<th>E-Mail</th>
						<td th:text="${finePymntInfo.vioInfo?.vioEmail}"></td>
					</tr>
					<tr>
						<th th:text="Location">적발지역</th>
						<td th:text="${finePymntInfo.tfcEnfMaster?.roadAddr}"></td>
						<th th:text="Penalty">범칙금</th>
						<td th:text="${finePymntInfo.totalPrice > 0 && finePymntInfo.totalPrice != null ? #numbers.formatInteger(finePymntInfo.totalPrice, 3, 'COMMA') : '0'}">법률 테이블 ERD/DB 수정 후 가져오기</td>
					</tr>
					<tr>
						<th th:text="'Law of Violation'">위반법령</th>
						<td th:text="${finePymntInfo.tfcLwInfo?.lawNm}"></td>
						<th th:text="Type">상세유형</th>
						<td th:text="${finePymntInfo.tfcLwInfo?.lawType}">법률 테이블 ERD/DB 수정 후 가져오기</td>
					</tr>
					<tr>
						<th th:text="'Officer in charge'">담당 경찰명</th>
						<td th:text="${finePymntInfo.polInfo?.polNm}"></td>
						<th th:text="'Station in charge'">관할 경찰서</th>
						<td th:text="${finePymntInfo.polInfo?.jur}"></td>
					</tr>
					<tr>
						<th th:text="'Amount'">납부금액</th>
						<td th:text="${finePymntInfo.pymntPrice > 0 && finePymntInfo.pymntPrice != null ? #numbers.formatInteger(finePymntInfo.pymntPrice, 3, 'COMMA') : '0'}"></td>
						<th th:text="'Due date'">납부기한</th>
						<th:block th:switch="${finePymntInfo.fineNtcInfo.ntcTy}">
							<td th:case="NTT001" th:text="${#dates.format(finePymntInfo.fineNtcInfo.firstFineNtcDdln, 'yyyy-MM-dd')}"></td>
							<td th:case="NTT002" th:text="${#dates.format(finePymntInfo.fineNtcInfo.secondFineNtcDdln, 'yyyy-MM-dd')}"></td>
						</th:block>
					</tr>
					<tr>
						<th th:text="'Payment destination'">납부처</th>
						<td th:text="${finePymntInfo.plPymntInfo?.placePymntNm}"></td>
<!--						<th th:text="'Payment account'">납부계좌</th>-->
<!--						<td>BCI / 121-01212-1242</td>-->
					</tr>
					<tr>
						<th th:text="Details">상세 내용</th>
						<td colspan="3" th:text="${finePymntInfo.penaltydetail}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bill-text">
			<div>- If you are in arrears for more than 15 days after the first notice, the second notice will proceed.</div>
			<div>- If you are in arrears for more than 15 days for the second notice, you will be subject to administrative disposition.</div>
			<div>- contact : INATRO 002-023-12347</div>
		</div>
		<div class="btn-wrap-center">
			<button th:text="#{penalty.common.listBack}" type="button" id="btnGoList" class="sub-btn left-btn" th:onclick="|location.href='@{/penalty/mng/list.do}'|">목록</button>
			<button type="button" id="btnGoList" class="sub-btn" th:text="Print">인쇄</button>
			<button type="button" class="main-btn" onclick="toggle('modal')" th:text="Payment">납부</button>
		</div>
	</div>


	<div class="modal-wrap" id="modal">
		<div class="modal-contents modal-company-group">
			<div class="modal-title">
				<div class="modal-title-text">납부정보 확인</div>
				<img src="/images/close.png" alt="닫기" class="close" onclick="toggle('modal')">
			</div>
			<form id="modifyPaySttsFrom">
				<input type="hidden" name="pymntId" th:value="${finePymntInfo.pymntId}" />
				<input type="hidden" name="totalPrice" th:value="${finePymntInfo.totalPrice}" />
				<div class="modal-body">
					<table class="detail-table">
						<colgroup>
							<col width="25%">
							<col width="75%">
						</colgroup>
						<tbody>
							<tr>
								<th>납부금액</th>
								<td th:text="${finePymntInfo.totalPrice}"></td>
							</tr>
							<tr>
								<th>납부처</th>
								<td th:text="${finePymntInfo.plPymntInfo?.placePymntNm}"></td>
							</tr>
							<tr>
								<th>담당자</th>
								<td th:text="${finePymntInfo.payerNm}"></td>
							</tr>
						</tbody>
					</table>
					<div class="btn-wrap-center modal-btn">
						<button type="button" id="btnGoList" class="sub-btn form-button" th:text="Cancel"></button>
						<button type="button" id="btnModify" class="main-btn form-button" th:text="${finePymntInfo.pymntStts eq 'Y' ? 'Payment Cancel' : 'Payment'}"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</th:block>
</html>
<script>
	$("#btnModify").on('click', function(){
		$.ajax({
            url: "/penalty/mng/update.ajax",
            type: "post",
            data: $("#modifyPaySttsFrom").serialize(),
            success: function(data){
                if(data.code == "200"){
                    alert(data.message);
                    window.location.reload();
                }else{
                    alert(data.message);
                }
            }
        });
	})
</script>