<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 th:text="#{enforcement.driver.search.title}" class="h3 mb-4 text-gray-800">운전자 조회</h1>

        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 th:text="#{enforcement.driver.search.searchOp}" class="m-0 font-weight-bold text-primary">검색조건</h6>
                    </div>
                    <div class="card-body"> 
                        <form id="frmDriverSearch" th:action="@{/enf/searchDriver}" method="get">
                            <select class="form-control col-lg-3 select" name="txtlcnchk" th:value="${driverDetail.licenseCheck}">
                                    <option value="all" th:text="#{enforcement.law.list.selectAll}">전체</option>
                                    <option value="available" th:text="#{enforcement.driver.search.name}">이름</option>
                                    <option value="stop" th:text="#{enforcement.driver.search.phNum}">연락처</option>
                                    <option value="cancellation" th:text="#{enforcement.driver.search.driverLicense}">면허증번호</option>
                            </select>
                            <input class="form-control col-lg-3" id="txtName" name="name" type="text" th:placeholder="#{enforcement.driver.search.placeholder}">

                            <button type="button" id="btnSearch" class="btn btn-outline-primary" th:text="#{enforcement.driver.search.check}">조회</button>
                        </form>
                    </div>
                </div>
            </div>


            <th:block th:if="${not #strings.isEmpty(enfSearchVO.name) && not #strings.isEmpty(driverDetail.name)}">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="#{enforcement.driver.search.searchTitle}">운전자 상세정보</h6>
                    </div>
                    <!--비동기 테이블 AJAX추후 추가작업 
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="tblList" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                            <thead>
                                            <tr role="row">
                                                <th th:text="#{enforcement.driver.search.tableNo}" class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No : activate to sort column ascending" style="width: 56px;">No.</th>        
                                                <th th:text="#{enforcement.driver.search.name}" class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name:activate to sort column ascending" style="width: 67px;">이름</th>
                                                <th th:text="#{enforcement.driver.search.nid}" class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="NID: activate to sort column ascending" style="width: 61px;">NID</th>
                                                <th th:text="#{enforcement.driver.search.licenseCheck}" class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="LicenseCheck: activate to sort column ascending" style="width: 49px;">면허상태</th>
                                                <th th:text="#{enforcement.driver.search.phNum}" class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="PhoneNumer: activate to sort column ascending" style="width: 68px;">연락처</th>
                                                <th th:text="#{enforcement.driver.search.searchAddress}" class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending" style="width: 68px;">지역</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="10%">
                                    <col width="25%">
                                    <col width="10%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="10%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th th:text="#{enforcement.driver.search.name}">이름</th>
                                    <th th:text="#{enforcement.driver.search.phNum}">전화번호</th>
                                    <th th:text="#{enforcement.driver.search.birth}">생년월일(나이)</th>
                                    <th th:text="#{enforcement.driver.search.sex}">성별</th>
                                    <th th:text="#{enforcement.driver.search.driverLicense}">면허증번호</th>
                                    <th th:text="#{enforcement.driver.search.searchAddress}">지역</th>
                                </tr>
                                <tr>
                                    <td th:text="${driverDetail.name}"></td>
                                    <td th:text="${driverDetail.phoneNum}"></td>
                                    <td th:text="${driverDetail.birth}"></td>
                                    <td th:text="${driverDetail.sex}"></td>
                                    <td th:text="${driverDetail.driverLicense}"></td>
                                    <td th:text="${driverDetail.address}"></td>
								</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>

            <th:block th:if="${not #strings.isEmpty(enfSearchVO.name) && #strings.isEmpty(driverDetail.name)}">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="#{enforcement.driver.search.searchTitle}">운전자 상세정보</h6>
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;" th:text="#{enforcement.driver.search.content}">검색 결과가 없습니다.</p>
                        </div>
                    </div>
                </div>
            </th:block>



        </div>

    </div>


    <!-- Alert Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--                <div class="modal-header">-->
                <!--                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
                <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--                        <span aria-hidden="true">&times;</span>-->
                <!--                    </button>-->
                <!--                </div>-->
                <div class="modal-body" id="divModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnModalClose" th:text="#{enforcement.driver.search.closeButton}">닫기</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>
<script>

    $(function (){
        $("#btnModalClose").click(function () {
            $("#exampleModal").modal('hide');
            setTimeout(function () {
                $("#txtName").val('').focus();
                // $("#txtName").focus();
            },0)
        })
    })

    $("#btnSearch").click(function () {


//        if($.trim($("#txtName").val())==''){
//
//            $("#divModalBody").text("이름을 입력해주세요.");
//            $("#exampleModal").modal('show');
//
//
//            return false;
//        }
//        if($.trim($("#txtPhone").val())==''){
//            alert("전화번호를 입력해주세요.");
//            $("#txtPhone").focus();
//            return false;
//        }
//        if($.trim($("#txtNid ").val())==''){
//            alert("NID를 입력해주세요.");
//            $("#txtNid ").focus();
//            return false;
//        }
/*         if($.trim($("#txtlcnchk").val())==''){
            alert("면허 상태를 선택해주세요.");
            $("#txtlcnchk").focus();
            return false;
        } */
//        if($.trim($("#txtaddress").val())==''){
//            alert("주소를 입력해주세요.");
//            $("#txtaddress").focus();
//            return false;
//        }
        $("#frmDriverSearch").submit();
    })

</script>