<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	권한 관리 등록
	<form id="authRegistForm">
		권한 코드	
		<input type="text" id="authCd" name="authCd"/>
		권한 이름 
		<input type="text" id="authNm" name="authNm"/>
		
		<div th:if="${!#lists.isEmpty(menuAllList)}">
				<ul th:each="menuList, parVarStatus : ${menuAllList}">
					<li>
						<div style="display:flex; align-items:center; gap:8px;">
							<div style="width:300px">
								[[${lang == 'por' ? menuList.mainMenu.menuNmPor : menuList.mainMenu.menuNmEng}]]
								<input type="hidden" class="parentMenu" th:value="${menuList.mainMenu.menuId}"/>
							</div>
							<label style="display:flex; flex-direction:column;">
								전체
							<input th:id="'parAllCheck'+${parVarStatus.index}" th:attr="onclick=|parCheckAll('${parVarStatus.index}')|" type="checkbox">
							</label>
							<label style="display:flex; flex-direction:column;">
								생성
							<input th:id="'parCreateYn'+${parVarStatus.index}" class="parentCreateYn" type="checkbox">
							</label>
							<label style="display:flex; flex-direction:column;">
								삭제
							<input th:id="'parDeleteYn'+${parVarStatus.index}" class="parentDeleteYn" type="checkbox">
							</label>
							<label style="display:flex; flex-direction:column;">
								수정
							<input th:id="'parUpdateYn'+${parVarStatus.index}" class="parentUpdateYn" type="checkbox">
							</label>
							<label style="display:flex; flex-direction:column;">
								읽기
							<input th:id="'parReadYn'+${parVarStatus.index}" type="checkbox" class="parentReadYn">
							</label>
						</div>
						<ul th:each="subMenuList, childVarStatus : ${menuList.subMenuList}">
							<li>
								<div style="display:flex; align-items:center; gap:8px;">
									<div style="width:260px">
										[[${lang == 'por' ? subMenuList.menuNmPor : subMenuList.menuNmEng}]]
										<input type="hidden" th:class="'childMenu'+${parVarStatus.index}" th:id="'childMenuId'+${parVarStatus.index}+'-'+${childVarStatus.index}" th:value="${subMenuList.menuId}"/>
									</div>
									<label style="display:flex; flex-direction:column;">
										전체
									<input th:id="'childAllCheck'+${parVarStatus.index}+'-'+${childVarStatus.index}" th:attr="onclick=|childCheckAll('${parVarStatus.index}', '${childVarStatus.index}')|" type="checkbox">
									</label>
									<label style="display:flex; flex-direction:column;">
										생성
									<input th:id="'childCreateYn'+${parVarStatus.index}+'-'+${childVarStatus.index}" th:class="'childCreateYn'+${parVarStatus.index}" type="checkbox">
									</label>
									<label style="display:flex; flex-direction:column;">
										삭제
									<input th:id="'childDeleteYn'+${parVarStatus.index}+'-'+${childVarStatus.index}" th:class="'childDeleteYn'+${parVarStatus.index}" type="checkbox">
									</label>
									<label style="display:flex; flex-direction:column;">
										수정
									<input th:id="'childUpdateYn'+${parVarStatus.index}+'-'+${childVarStatus.index}" th:class="'childUpdateYn'+${parVarStatus.index}" type="checkbox">
									</label>
									<label style="display:flex; flex-direction:column;">
										읽기
									<input th:id="'childReadYn'+${parVarStatus.index}+'-'+${childVarStatus.index}" th:class="'childReadYn'+${parVarStatus.index}" type="checkbox">
									</label>
								</div>
							</li>
						</ul>
					</li>
				</ul>
		</div>
		<button type="button" id="saveBtn">저장</button>
	</form>
</th:block>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
	function parCheckAll(idx){
		var isChecked = $("#parAllCheck"+idx).is(":checked");
		if(isChecked){
			$("#parCreateYn"+idx).prop("checked",true);
			$("#parReadYn"+idx).prop("checked",true);
			$("#parUpdateYn"+idx).prop("checked",true);
			$("#parDeleteYn"+idx).prop("checked",true);
		} else {
			$("#parCreateYn"+idx).prop("checked",false);
			$("#parReadYn"+idx).prop("checked",false);
			$("#parUpdateYn"+idx).prop("checked",false);
			$("#parDeleteYn"+idx).prop("checked",false);
		}
	}
	
	function childCheckAll(parIdx,childIdx){
		var isChecked = $("#childAllCheck"+parIdx+'-'+childIdx).is(":checked");
		if(isChecked){
			$("#childCreateYn"+parIdx+'-'+childIdx).prop("checked",true);
			$("#childReadYn"+parIdx+'-'+childIdx).prop("checked",true);
			$("#childUpdateYn"+parIdx+'-'+childIdx).prop("checked",true);
			$("#childDeleteYn"+parIdx+'-'+childIdx).prop("checked",true);
		} else {
			$("#childCreateYn"+parIdx+'-'+childIdx).prop("checked",false);
			$("#childReadYn"+parIdx+'-'+childIdx).prop("checked",false);
			$("#childUpdateYn"+parIdx+'-'+childIdx).prop("checked",false);
			$("#childDeleteYn"+parIdx+'-'+childIdx).prop("checked",false);
		}
	}
	
	$("#saveBtn").on('click', function(){
		//최종 보낼 객체 List<Map<String,Object>>
		var resultObj = new Object();
		var authCd = $("#authCd").val().trim();
		var authNm = $("#authNm").val().trim();
		
		if(authCd == null || authCd == ''){
			alert("권한 코드를 입력해주세요.");
			return false;
		}
		
		if(authNm == null || authNm == ''){
			alert("권한 이름을 입력해주세요.");
			return false;
		}
		
		resultObj.authCd = authCd;
		resultObj.authNm = authNm;
		
		//대메뉴 배열 
		var parMenuArr = new Array();
		
		var parMenuLength = $(".parentMenu").length;
		
		for(var i = 0; i < parMenuLength; i++){
			var parMenu = new Object();
			var parentMenuId = $(".parentMenu").eq(i).val();
			var parCreateYn = $("#parCreateYn"+i).is(":checked")?'Y':'N';
			var parReadYn = $("#parReadYn"+i).is(":checked")?'Y':'N';
			var parUpdateYn = $("#parUpdateYn"+i).is(":checked")?'Y':'N';
			var parDeleteYn = $("#parDeleteYn"+i).is(":checked")?'Y':'N';
			
			parMenu.parentMenuId = parentMenuId;
			parMenu.parCreateYn = parCreateYn;
			parMenu.parReadYn = parReadYn;
			parMenu.parUpdateYn = parUpdateYn;
			parMenu.parDeleteYn = parDeleteYn;
			
			//소메뉴 배열
			var childMenuArr = new Array();
			var childMenuLength = $(".childMenu"+i).length;
			for(var j = 0; j < childMenuLength; j++){
				var childMenu = new Object();
				var childMenuId = $(".childMenu"+i).eq(j).val();
				var childCreateYn = $("#childCreateYn"+i+'-'+j).is(":checked")?'Y':'N';
				var childReadYn = $("#childReadYn"+i+'-'+j).is(":checked")?'Y':'N';
				var childUpdateYn = $("#childUpdateYn"+i+'-'+j).is(":checked")?'Y':'N';
				var childDeleteYn = $("#childDeleteYn"+i+'-'+j).is(":checked")?'Y':'N';
				
				childMenu.childMenuId = childMenuId;
				childMenu.childCreateYn = childCreateYn;
				childMenu.childReadYn = childReadYn;
				childMenu.childUpdateYn = childUpdateYn;
				childMenu.childDeleteYn = childDeleteYn;
				
				childMenuArr.push(childMenu);
				
//				console.log(childMenuId);
//				console.log('childCreateYn:'+childCreateYn);
//				console.log('childReadYn:'+childReadYn);
//				console.log('childUpdateYn:'+childUpdateYn);
//				console.log('childDeleteYn:'+childDeleteYn);
			}
			
			parMenu.childMenuArr = childMenuArr;
			parMenuArr.push(parMenu);
			
//			console.log(parentMenuId);
//			console.log('parCreateYn:'+parCreateYn);
//			console.log('parReadYn:'+parReadYn);
//			console.log('parUpdateYn:'+parUpdateYn);
//			console.log('parDeleteYn:'+parDeleteYn);
		}
		resultObj.authMenuList = parMenuArr;
		console.log(resultObj);
		
		$.ajax({
			type : "post",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(resultObj) ,
			url : '/siteMng/auth/save.ajax',
			success : function(data) {
				if(data.code == '200'){
					alert(data.message);
				} else {
					alert(data.message);
				}
			}
		});
	});
    /*]]>*/
</script>